<div class="container">
  <div class="row">
    <%= show_admin_heading 'Server Information' %>
  </div>
  <div class="well">
    <p class="si-instance-id"><span><%= @instance_id%></span></p>
    <p class="si-server-version"><span>server version: </span><strong><%= Application.version %></strong></p>
  </div>
  <div class="well">
      <h3>Restart Server, DelayedJob and Clear Memcached</h3>
      <%= form_tag(admin_app_types_restart_server_url, remote: true) do %>
        <%= submit_tag "Restart server" %>
      <% end %>
      <h3>Restart DelayedJob</h3>
      <%= form_tag(admin_app_types_restart_delayed_job_url, remote: true) do %>
        <%= submit_tag "Restart DelayedJob" %>
      <% end %>
  </div>
  <div class="well">

      <h3>View Exception Log</h3>
      <%= link_to link_label_open_in_new('open log'), "/reports/z_admin__exception_log", target: "exceptionlog" %>
      <h3>Search Rails Log</h3>
      <%= link_to link_label_open_in_new('search Rails log'), admin_server_info_rails_log_path, target: "railslog" %>
  </div>

  <div class="well">  
    <h3>App Settings</h3>
    <%= render partial: 'admin/server_info/view_settings', locals: {settings: @app_settings} %>
  </div>
  <div class="well">  
    <h3>Database Settings</h3>
    <%= render partial: 'admin/server_info/view_settings', locals: {settings: @db_settings} %>
  </div>
  <div class="well">  
    <h3>NfsStore Settings</h3>
    <%= render partial: 'admin/server_info/view_settings', locals: {settings: @nfs_store_settings} %>

    <pre><%=@nfs_store_mount_dirs%>
  </div>  

  <% if @server_type == :passenger %>
  <div class="row">  
    <h3>Passenger Status</h3>
    <pre><%=@passenger_status%></pre>
  </div>
  <div class="row">  
    <h3>Passenger Memory Stats</h3>
    <pre><%=@passenger_memory_stats%></pre>
  </div>
  <% end %>

  <div class="row">  
    <h3>Disk Usage</h3>
    <pre><%=@disk_usage%></pre>
  </div>

  <div class="row">  
    <h3>Processes</h3>
    <pre><%=@processes%></pre>
  </div>
</div>
