<div class="data-results">
  <div data-result="<%= edit_form_id %>">
    <div class="">
      <%=form_for([@master, object_instance], edit_form_hash ) do |f|%>
      <ul class="list-group">
        <li class="list-group-item">
          <%= inline_cancel_button %>
          <h4 class="list-group-item-heading">Edit Player Contact</h4>
        </li>
        <li class="list-group-item player-contact-rec_type">
            <%= f.label :rec_type %>
            <%= f.select :rec_type, general_selection(:player_contacts_type) %>
        </li>
        <li class="list-group-item player-contact-data">
            <%= f.label :data %>
            <%= f.text_field :data %>
        </li>  
        <li class="list-group-item player-contact-source">
            <%= f.label :source %>
            <%= f.select :source, general_selection(:player_contacts_source) %>
        </li>
        <li class="list-group-item player-contact-rank">
            <%= f.label :rank %>
            <%= f.number_field :rank %>
        </li>
        <li class="list-group-item player-contact-active">
            <%= f.label :active %>
            <%= f.select :active, active_selections %>
        </li>
        <li class="list-group-item">
          <%= f.submit class: "btn btn-primary" %>  
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>