<%= form_for(@player_contact) do |f| %>
  <% if @player_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_contact.errors.count, "error") %> prohibited this player_contact from being saved:</h2>

      <ul>
      <% @player_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :master_id %><br>
    <%= f.text_field :master_id %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :pcdata %><br>
    <%= f.text_field :pcdata %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :rank %><br>
    <%= f.number_field :rank %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
