<p id="notice"><%= notice %></p>

<h1>Listing Player Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Ms</th>
      <th>Pctype</th>
      <th>Pcdata</th>
      <th>Source</th>
      <th>Rank</th>
      <th>Pcdate</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_contacts.each do |player_contact| %>
      <tr>
        <td><%= player_contact.ms %></td>
        <td><%= player_contact.pctype %></td>
        <td><%= player_contact.pcdata %></td>
        <td><%= player_contact.source %></td>
        <td><%= player_contact.rank %></td>
        <td><%= player_contact.pcdate %></td>
        <td><%= player_contact.active %></td>
        <td><%= link_to 'Show', player_contact %></td>
        <td><%= link_to 'Edit', edit_player_contact_path(player_contact) %></td>
        <td><%= link_to 'Destroy', player_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player contact', new_player_contact_path %>
