<div class="panel-group" id="filter-accordion" role="tablist" aria-multiselectable="false">
<%
is_first = true
fo.each do |filter_on|

  if filters_on_multiple
    filter = these_filters[filter_on]
  else
    filter = these_filters
  end

  if filter.first && filter.first.last.is_a?(String)
    all_filters = {all: filter}
  else
    all_filters = filter
  end

  if all_filters.first
%>
  <%= filter_btn('all', filter_on, nil) if all_filters.first.last.is_a?(Symbol) %>
<%
  single_filter_set = all_filters.length > 1

  all_filters.each do |title, vals|

    if vals.is_a?( Symbol) || vals.is_a?( String)
%>
      <%= filter_btn(title, filter_on, vals) %>
<%  else %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab"  id="heading-<%=filter_on%>-<%=title%>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#filter-accordion" href="#collapse-<%=filter_on%>-<%=title%>" aria-expanded="<%=is_first%>" aria-controls="collapse-<%=filter_on%>-<%=title%>" class="collapsed no-link-underline"><i class="caret up"></i> <%=filter_on.to_s.humanize%><% if title != :all %>: <%=title.to_s.humanize%><% end %></a>
        <span class="sel-headspace"></span>
      </h4>
    </div>
    <div id="collapse-<%=filter_on%>-<%=title%>" class="panel-collapse collapse <%=is_first ? 'in' : ''%>" role="tabpanel" aria-labelledby="heading-<%=filter_on%>-<%=title%>">
      <div class="panel-body">
      <%= filter_btn('all', filter_on, nil) %>
<%
      if vals.is_a? Hash
        vals.sort_by{|k, v| v}.each do |k,v|
%>
        <%= filter_btn(v, filter_on, k) %>
<%      end
      else
        vals.sort.each do |v|
%>
       <%= filter_btn(v, filter_on, v) %>
<%
        end
      end
%>
      </div>
    </div>
  </div>
<%
    end
    is_first = false
  end
end
%>
<% end %>
</div>
<% if current_admin %>
<div class="extra-admin-controls panel panel-default">
  <%= link_to "clear filters", {}, class: "btn btn-sm admin-clear-filters" if params[:filter].present? %>
  <div class="panel-body pull-right">
    <button class="btn btn-sm expand-all-expandables">expand all</button>
    <button class="btn btn-sm shrink-all-expandables">shrink all</button>
    <%= link_to "export csv", {filter: filter_params_permitted, format: 'csv'}, class: "btn btn-sm export-csv" %>
  </div>
</div>
<% end %>
