<p id="notice"><%= notice %></p>

<h1>Listing Scantrons</h1>

<table>
  <thead>
    <tr>
      <th>Ms</th>
      <th>Scantron</th>
      <th>Source</th>
      <th>Rank</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scantrons.each do |scantron| %>
      <tr>
        <td><%= scantron.ms %></td>
        <td><%= scantron.scantron_id %></td>
        <td><%= scantron.source %></td>
        <td><%= scantron.rank %></td>
        <td><%= scantron.user %></td>
        <td><%= link_to 'Show', scantron %></td>
        <td><%= link_to 'Edit', edit_scantron_path(scantron) %></td>
        <td><%= link_to 'Destroy', scantron, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scantron', new_scantron_path %>
