<%
	if editor_format.present?
		config = field_options[:config] || {}
	end
	extra_class = "edit-as-custom edit-as-#{editor_format}"

%>
<div class="custom-editor-container <%=extra_class%>">
<%= form.text_area field_name_sym, class: "form-control text-notes hidden", data: {attr_name: field_name_sym, object_name: form_object_item_type_us}  %>
<div class="btn-toolbar markdown-editor-toolbar" data-role="editor-toolbar" data-target="#<%=editor_id%>">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" data-edit="formatBlock <p>" title="Paragraph" style="font-weight: normal"><span style="font-size: 12px;">p</span></a>
    <a class="btn btn-default btn-sm" data-edit="formatBlock <h1>" title="Heading 1" style="font-weight: bold">h1</a>
    <a class="btn btn-default btn-sm" data-edit="formatBlock <h2>" title="Heading 2" style="font-weight: bold;"><span style="font-size: 14px;">h2</span> </a>
		<% if config[:toolbar_type] == 'advanced' %>
		<a class="btn btn-default btn-sm" data-edit="formatBlock <h3>" title="Heading 3" style="font-weight: bold;"><span style="font-size: 12px;">h3</span> </a>
		<a class="btn btn-default btn-sm" data-edit="formatBlock <h4>" title="Heading 4" style="font-weight: bold;"><span style="font-size: 10px;">h4</span> </a>
		<% end %>
  </div>
  <div class="btn-group">
		<a class="btn btn-default btn-sm" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="glyphicon glyphicon-bold"></i></a>
		<a class="btn btn-default btn-sm" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="glyphicon glyphicon-italic"></i></a>
		<a class="btn btn-default btn-sm" data-edit="strikethrough" title="Strikethrough" style="text-decoration: line-through;">S</a>
		<a class="btn btn-default btn-sm" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="glyphicon glyphicon-text-color"></i></a>
		<a class="btn btn-default btn-sm" data-edit="subscript" title="Subscript">H<sub>2</sub></a>
		<a class="btn btn-default btn-sm" data-edit="superscript" title="Superscript">A<sup>1</sup></a>
	</div>
  <div class="btn-group">
		<a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="Bullet list"><i class="glyphicon glyphicon-list"></i></a>
		<a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="Number list"><i class="glyphicon glyphicon-list-alt"></i></a>
		<a class="btn btn-default btn-sm" data-edit="inserthorizontalrule" title="Horizontal line"><i class="glyphicon glyphicon-minus"></i></a>
		<a class="btn btn-default btn-sm" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="glyphicon glyphicon-indent-left"></i></a>
		<a class="btn btn-default btn-sm" data-edit="indent" title="Indent (Tab)"><i class="glyphicon glyphicon-indent-right"></i></a>
	</div>
	<% if config[:toolbar_type] == 'advanced' %>
	<div class="btn-group">
	 <a class="btn btn-default btn-sm" 
		   data-edit="inserthtml 
<pre>
                  # code block (shift + return for a newline) or copy and paste raw text with <b>shift+ctrl+v</b> on PC, or <b>command+option+shift+v</b> on Mac
</pre>
" title="Code block"><i class="glyphicon glyphicon-console"></i></a>

		<a class="btn btn-default btn-sm" 
		   data-edit="inserthtml 
<table class='table'><thead>
<tr><th>header</th><th>header</th><th>header</th><th>header</th></tr>
</thead>
<tbody>
<tr><td>x</td><td>x</td><td>x</td><td>x</td></tr>
<tr><td>x</td><td>x</td><td>x</td><td>x</td></tr>
<tr><td>x</td><td>x</td><td>x</td><td>x</td></tr>
</tbody></table>" 
			 title="Table"><i class="glyphicon glyphicon-th-large"></i></a>
	</div>
	<div class="btn-group">
		<a class="btn btn-default btn-sm dropdown-toggle btn-wysiwyg-tb" data-toggle="dropdown" title="" data-original-title="Hyperlink"><i class="glyphicon glyphicon-link"></i></a>
		<div class="dropdown-menu input-append">
			<input class="span2" placeholder="link URL" type="text" data-edit="createLink" >
			<button class="btn" type="button">Add</button>
		</div>
		<a class="btn btn-default btn-sm" data-edit="unlink" title="" data-original-title="Remove Hyperlink"><i class="glyphicon glyphicon-link" style="text-decoration: line-through"></i></a>
	</div>
	<div class="btn-group">
		<a class="btn btn-default btn-sm dropdown-toggle btn-wysiwyg-tb" data-toggle="dropdown" title="" data-original-title="Picture"><i class="glyphicon glyphicon-picture"></i></a>
		<div class="dropdown-menu input-append">
			<div class="eddd-label">enter image URL</div>
			<input class="span2" placeholder="enter image URL" type="text" data-edit="insertImage" >
			<% if form_object_instance.respond_to?(:master) && form_object_instance.master %>
				<div class="eddd-label">or select stored file</div>
				<%= render partial: 'common_templates/markdown_editor/image_list_selector', locals: {
					form_object_instance: form_object_instance,
					field_name_sym: :imglist,
					form: form, 
					form_object_item_type_us: form_object_item_type_us,
					options: {
						placeholder: 'select stored file'
					}
				} %>
			<% end %>
			<button class="btn btn-editor-add-image" type="button">Add</button>
		</div>
	</div>
	<% end %>
</div>
<div id="<%=editor_id%>" class="custom-editor"><%= Kramdown::Document.new(form_object_instance.attributes[field_name_sym.to_s] || '').to_html.html_safe %></div>
</div>