<p id="notice"><%= notice %></p>

<p>
  <strong>Master:</strong>
  <%= @pro_info.master %>
</p>

<p>
  <strong>User:</strong>
  <%= @pro_info.user %>
</p>

<%= link_to 'Edit', edit_pro_info_path(@pro_info) %> |
<%= link_to 'Back', pro_infos_path %>
