<%
  folder_downloads = downloads.select {|d| d.container_path(no_filename: true, leading_dot: true).split('/')[0..level+1] == folder}
  item_id = "#{@container.id}--#{Digest::MD5.hexdigest(folder.join('/'))}"
  folder_name = folder.last
  is_archive = false

  show_folder_name = folder_name
  is_file_status_folder = false

  if folder_name == '.'
    is_file_status_folder = true
  else
    folder_icon_class = 'glyphicon-folder-close'
  end

  if folder_name.index /\.__mounted-archive__$/
    show_folder_name = folder_name.sub(/\.__mounted-archive__$/, '')
    is_archive = true
  end

  unless is_file_status_folder
%>
  <li class="container-folder container-icons-folder container-folder-<%= is_archive ? 'is' : 'not' %>-archive">
  <span class="cif-inner">
    <input type="checkbox" class="container-folder-selector ff" data-folder-path="<%= folder.join('/')%>" title="select all items in folder &amp; subfolders"/>
  <span class="folder-icon <%= is_archive ? 'is' : 'not' %>-archive glyphicon <%= folder_icon_class %>" title="expand folder" data-toggle="collapse" href="#<%= item_id %>" aria-expanded="true" aria-controls="<%= item_id %>"></span>&nbsp;
  <div>
    <%= show_folder_name %><% if is_archive %> <span class="file-archive-tag">(archive files)</span><% end %>
  </div>
</span>
</li>
<ul class="container-folder-items container-icons-folder-items collapse <%= folder_name == '.' ? 'in' : ''%>" data-folder-items="<%= folder.join('/')%>" id="<%= item_id %>">
  <%= render partial: 'browse_icons_folders', locals: {form: form, downloads: folder_downloads, level: level + 1, folder: folder} %>
</ul>
<%
  end 
%>
