<% 
# NOTE: this partial is not used, and is now inlined in the outer _browse_list_entry partial, for significant performance gains
# in a partial collection processor.
# NOTE: there is a handlebars template that also provides some of this layout in filestore/classification/_result_template.html.erb 
%>
<%
  if @allow_show_flags.nil?

    full_name = "nfs_store__manage__#{download.class.retrieval_type}"
    @allow_show_flags = !!Classification::ItemFlagName.enabled_for?(full_name, current_user)
  end

  retrieval_type = download.class.retrieval_type
  retrieval_type_h = retrieval_type.hyphenate

  # Speedup path calculation with a simple string rather than routes
  #a_path = Rails.application.routes.url_helpers.master_filestore_classification_path(@container.master_id, @container.id, download_id: download.id, retrieval_type: retrieval_type)
  a_path = "/masters/#{@container.master_id}/filestore/classification/#{@container.id}?download_id=#{download.id}&retrieval_type=#{retrieval_type}"
%>
<a class="bem-meta-link" data-remote="true" data-container-id="null" data-toggle="scrollto-result" data-result-target-force="true" data-result-target="<%="[data-subscription='filestore-classification-#{retrieval_type_h}-edit-form--#{@container.id}']"%>" data-template="<%="filestore-classification-#{retrieval_type_h}-full-result-template"%>" href="<%=a_path%>">
  <span class="bem-classification-attrs">
    <span class="bem-class-title"><%= download.title.present? ? download.title : '(no title)'  %></span>
    <span class="bem-class-file-metadata"><% if download.file_metadata_present?  %>
        <i class="glyphicon glyphicon-list" title="has metadata extracted from the file content"></i>
      <% else %><i class="empty-glyphicon"></i>
      <% end %></span>
  </span>
</a>
<% if @allow_show_flags %>
  <script>
    <%
      extras = {
        include: [:item_flag_name],
        methods: [:method_id, :item_type_us]
      }
    %>
      var flag_data = {item_flags: <%= download.item_flags&.as_json(extras).to_json.html_safe || 'null' %>};
      if(flag_data.item_flags.length == 0) {
        var res = '<span class="no-item-flags"></span>'
      }
      else {
        flag_data.item_type="<%=full_name%>";
        flag_data.readonlyview=true;
        var res = _fpa.partials.item_flag_container(flag_data);
    
      }
      var block = $('<span class="bem-class-flags">'+res+'</span>');
      $('#container-entry-<%=@container.id%>-<%=download.id%>-<%=download.class.retrieval_type%> .bem-class-title').first().before(block);
  </script>
<% end %>
