<div>
  <div data-result="nfs-store-container-list-items-<%=@container.id%>" class="container-browser browser-hide-meta browser-hide-classifications" id="container-browser-<%=@container.id%>"  data-container-writable="<%= @container.writable? %>" data-container-readable="<%= @container.readable? %>">
    <% if @directory_not_found %>
    <p>Storage has not been initialized. This container is not usable.</p>
    <% elsif !@container.readable? %>
    <p>You do not have permission to read this container.</p>
    <% else %>
      <% if @downloads.length == 0 %>
        <p class="container_no_files no-container-list-items">No Files</p>
      <% else %>
        <%= form_for @download do |form|%>
          <ul class="container-list-items">
            <li class="container-folder root-folder">
              <input type="checkbox" class="container-folder-selector ff" data-folder-path="." title="select all items in container"/>
              <span class="folder-icon glyphicon glyphicon-folder-open"></span>&nbsp;
              <%= @download.container.name %> <span class="container-list-file-count">(<%= "#{@downloads.length} #{"file".pluralize(@downloads.length)}" %>)</span>
            </li>

            <ul class="container-folder-items" data-folder-items=".">
              <%= render partial: 'browse_list_folders', locals: {form: form, downloads: @downloads, level: 0, folder: ['.']} %>
            </ul>
          </ul>

          <%= form.hidden_field :container_id %>
          <%= form.submit value: 'Download', id: "container-browse-submit-in-form-#{@container.id}", class: 'hidden', data: {disable_with: 'select files to download'} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
