<%
  file_name = download.file_name

  is_processing = false
  is_processing_arch = false

  if file_name.index /\.__.+__$/
    is_processing = true
  end

  if download.id
    download_path = nfs_store_download_path(@container.id, download_id: download.id, retrieval_type: download.class.retrieval_type, activity_log_id: @activity_log.id, activity_log_type: @activity_log.class.to_s.ns_underscore)
  end

  icon_path = "#{download_path}&secure_view[page]=1&secure_view[do]=convert_to&secure_view[preview_as]=icon"

%>
<li class="container-icons-entry" id="container-entry-<%=@container.id%>-<%= download.id %>-<%= download.class.retrieval_type%>" data-retrieval-type="<%= download.class.retrieval_type%>" data-download-id="<%= download.id %>">


  <% if download.id %>
  
    <a href="<%=download_path%>" class="browse-icon" title="<%=file_name%>">
    <img src="<%=icon_path%>" class="browse-icon-img" draggable="false" id="icon-img-<%=download.id%>"/>
    </a>
    <span class="browse-entry-classifications">
      <%= render partial: 'browse_icons_classification', locals: { download: download } %>
    </span>
    <%=link_to file_name, download_path, class: "browse-filename", disabled: !@container.can_download?, title: (!@container.can_download? ? "not authorized to download" : nil) %>
    <span class="browse-entry-meta">
      <span class="bem-mime-type"><%= download.mime_type_text %></span>
      <span class="bem-file-size"><%= ((download.file_size.to_f / 1_000_000 * 10).to_i.to_f / 10)   %> MB</span>
      <span class="bem-mod-date" data-format-date-local="<%= download.file_updated_at ? 'true' : ''%>"><%= download.file_updated_at || '(no date)'%></span>
    </span>

  <% end %>
</li>
