<div>
  <div data-result="nfs-store-container-list-items-<%=@container.id%>" 
       class="container-browser browser-hide-meta browser-hide-classifications" 
       id="container-browser-<%=@container.id%>"  
       data-container-writable="<%= @container.writable? %>" 
       data-container-readable="<%= @container.readable? %>" 
       data-can-submit-download-or-view="<%= @container.can_download_or_view? %>" 
       data-can-submit-download="<%= @container.can_download? %>" 
       data-can-submit-trash="<%= @container.can_send_to_trash? %>" 
       data-can-submit-move-files="<%= @container.can_move_files? %>" 
       data-can-submit-rename-file="<%= @container.can_move_files? %>" 
       data-can-submit-rename-folder="<%= @container.can_move_files? %>" 
       data-can-trigger-file-actions="<%= @container.can_user_file_actions? %>"
       data-result-target-for-child=""
       data-preprocessor="nfs_store_browse_list_results"        
  >
    <% if @directory_not_found %>
      <p>Storage has not been initialized. This container is not usable.</p>
    <% elsif !@container.readable? %>
      <p>You do not have permission to read this container.</p>
    <% else %>
      
      <% begin %>
        <%= form_for @download do |form|%>
          
          <%= form.hidden_field :activity_log_type, value: @activity_log.class.to_s.ns_underscore %>
          <%= form.hidden_field :activity_log_id, value: @activity_log.id %>
          <%= form.hidden_field :container_id %>
          <div class="extra_params"></div>
          <%= form.submit value: 'Download', id: "container-browse-download-in-form-#{@container.id}", class: 'hidden', data: {disable_with: 'select files to download'} %>
          <%= form.submit value: 'Trash', id: "container-browse-trash-in-form-#{@container.id}", class: 'hidden', data: {disable_with: 'select files to send to trash'} %>
          <%= form.submit value: 'Move Files', id: "container-browse-move-files-in-form-#{@container.id}", class: 'hidden', data: {disable_with: 'select files to move'} %>
          <%= form.submit value: 'Rename File', id: "container-browse-rename-file-in-form-#{@container.id}", class: 'hidden', data: {disable_with: 'select file to rename'} %>
          <%= form.submit value: 'Rename Folder', id: "container-browse-rename-folder-in-form-#{@container.id}", class: 'hidden', data: {disable_with: 'select folder to rename'} %>
          <% @container.user_file_actions_config&.each do |tfa_config| %>
            <%= form.submit value: "Trigger File Action: #{tfa_config[:id]}", 
                            id: "container-browse-trigger-file-action-#{tfa_config[:id]}-in-form-#{@container.id}", 
                            class: 'hidden container-browse-trigger-file-action-in-form', 
                            data: { disable_with: 'select files', trigger_file_action: tfa_config[:id] } %>
          <% end %>
        <% end %>
      <% end %>
      <%= render partial: 'nfs_store/uploader/valid_files' %>
    <% end %>
  </div>
</div>
