<div class="data-results">
  <div data-result="admin-edit-form-" class="admin-edit-form">
<%= form_for(object_instance, class: "inline-form admin-edit-form", remote: true, data: {result_target: "#admin-item-#{object_instance.id}", preprocessor: "admin_result"}) do |f| %>
  <%= render partial: 'admin_handler/form_errors' %>
  <div class="form-group">
    <%= f.label :app_type %>
    <% select_item_type = {}
       select_item_type[:selected] = params[:filter].first.last if params[:filter] && params[:filter].first.first == 'app_type_id'    %>
    <%= f.select :app_type_id, Admin::AppType.active.map{|a| [a.label, a.id]}, select_item_type%>  </div>
  <div class="form-group">
    <%= f.label 'user override' %>
    <%= f.select :user_id, options_from_collection_for_select(User.active, 'id', 'email', object_instance.user_id), include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label 'role name override' %>
    <%= f.text_field :role_name %>
  </div>
  <div class="form-group">
    <%= f.label :resource_type %>
    <%= f.select :resource_type, Admin::UserAccessControl.resource_types %>
  </div>
  <div class="form-group">
    <%= f.label :resource_name %>
    <% select_item_type = {}
       select_item_type[:selected] = params[:filter].first.last if params[:filter] && params[:filter].first.first == 'resource_name'    %>

    <%= f.select :resource_name, Admin::UserAccessControl.resource_names_by_type, select_item_type %>
  </div>
  <div class="form-group">
    <%= f.label :access %>
    <%
    accesses = Admin::UserAccessControl.access_levels
    %>
    <%= f.select :access, accesses%>
  </div>
  <div class="form-group">
    <%= f.label :options %>
    <%= f.text_field :options %>
  </div>
  <div class="form-group">
    <%= f.check_box :disabled %>
    <%= f.label :disable %>
  </div>


  <div class="form-group">
    <%= hidden_filter_fields %>
    <%= f.submit class: "btn btn-primary" %> <%= admin_edit_cancel %>
  </div>
<% end %>
  </div>
</div>
