<div class="data-results">
  <div data-result="admin-edit-form-" class="admin-edit-form">
<%= form_for(object_instance, class: "inline-form admin-edit-form", remote: true, data: {result_target: "#admin-item-#{object_instance.id}", preprocessor: "admin_result"}) do |f| %>
  <%= render partial: 'admin_handler/form_errors' %>
  <div class="form-group">
    <%= f.label :app_type %>
    <%= f.select :app_type_id, app_type_options(default_app_type_id: app_type_select_current_item), {}, extra_field_attributes[:app_type_id]||{} %>
  </div>
  <div class="form-group">
    <%= f.label 'user override' %>
    <%= f.select :user_id, active_user_options, include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label 'role name override' %>
    <%
      select_item_type = {}
      select_item_type[:selected] = filter_params_hash.first.last if filter_params_hash&.first&.first == 'role_name' && object_instance.role_name.blank?
      select_item_type[:include_blank] = true

      options = role_name_options
    %>
    <%= f.select :role_name, options, select_item_type %>
  </div>
  <div class="form-group">
    <%= f.label :resource_type %>
    <%= f.select :resource_type, Admin::UserAccessControl.resource_types, include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label :resource_name %>
    <%
      object_instance.resource_name = filter_params_hash.first.last if filter_params_hash&.first&.first == 'resource_name'  && object_instance.resource_name.blank?
    %>
    <%= big_select_field(f, :resource_name, Resources::UserAccessControl.resource_descriptions_for(:general), subtype: :general) %>
    <%= big_select_field_data(:admin_user_access_control_resource_name, :table, Resources::UserAccessControl.resource_descriptions_for(:table)) %>
    <%= big_select_field_data(:admin_user_access_control_resource_name, :report, Resources::UserAccessControl.resource_descriptions_for(:report)) %>
    <%= big_select_field_data(:admin_user_access_control_resource_name, :standalone_page, Resources::UserAccessControl.resource_descriptions_for(:standalone_page)) %>
    <%= big_select_field_data(:admin_user_access_control_resource_name, :activity_log_type, Resources::UserAccessControl.resource_descriptions_for(:activity_log_type)) %>            
    <%= big_select_field_data(:admin_user_access_control_resource_name, :limited_access, Resources::UserAccessControl.resource_descriptions_for(:limited_access)) %>
  </div>
  <div class="form-group">
    <%= f.label :access %>
    <%
    accesses = Admin::UserAccessControl.access_levels
    %>
    <%= f.select :access, accesses%>
  </div>
  <div class="form-group">
    <%= f.check_box :disabled %>
    <%= f.label :disable %>
  </div>


  <div class="form-group">
    <%= hidden_filter_fields %>
    <%= f.submit class: "btn btn-primary" %> <%= admin_edit_cancel %>
  </div>
<% end %>
  </div>
</div>
