<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">
<h1>User Access Controls</h1>
<p>
  <%= show_filters %>
</p>
<div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>

<table class="table tablesorter admin-list">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>App Type</th>
      <th>User Override</th>
      <th>Access</th>
      <th>Resource Type</th>
      <th>Resource Name</th>
      <th>Options</th>
      <th>Disabled</th>
      <th>Last Admin Update</th>
    </tr>
  </thead>

  <tbody>
    <% @user_access_controls.each do |list_item| %>
      <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
        <td><%= admin_edit_btn list_item.id%> </td>
        <td><%= list_item.app_type.name %></td>
        <td><%= list_item.user.email if list_item.user %></td>
        <td><%= list_item.access %></td>
        <td><%= list_item.resource_type %></td>
        <td><%= list_item.resource_name %></td>
        <td><%= list_item.options %></td>
        <td><%= list_item.disabled ? 'disabled' : ''%></td>

        <td><%= list_item.admin_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%=  render partial: 'admin_handler/index_actions'  %>
  </div>
</div>
