<%
    use_secure_view_actions = []
    acts = [:view_files_as_image, :view_files_as_html, :download_files]
    use_secure_view_actions = acts.select {|act| current_user.can?(act)}
%>
<script id="filestore_common_template_view"  type="text/x-handlebars-template" class="hidden handlebars-partial">

<div class="browse-container" data-container-use-secure-view="<%= use_secure_view_actions.join(',') %>">
  <%= render partial: 'nfs_store/browse/browser_header', locals: { 
        container_id: '{{to_record_id}}', 
        container_name: '{{to_record_data}}', 
        container_label: '{{to_record_label}}', 
        activity_log_id: '{{from_record_id}}', 
        activity_log_type: '{{from_record_type_us}}' 
      } %>
  <div class="upload-dropzone">

    <div class="nfs-store-container-block" data-container-id="{{to_record_id}}" data-activity-log-id="{{from_record_id}}" data-activity-log-type="{{from_record_type_us}}">
      <%= render partial: 'nfs_store/browse/show', locals: { 
            container_id: '{{to_record_id}}', 
            container_name: '{{to_record_data}}', 
            activity_log_id: '{{from_record_id}}', 
            activity_log_type: '{{from_record_type_us}}' 
          } %>
      <%= render partial: 'filestore/classification/block', locals: { 
            container_id: '{{to_record_id}}', 
            container_name: '{{to_record_data}}', 
            activity_log_id: '{{from_record_id}}', 
            activity_log_type: '{{from_record_type_us}}' 
          } %>
      <div class="browse-controls">
        <div class="download-actions text-center">
          {{#if to_record_editable}}
          <%= render partial: 'nfs_store/browse/options_menu', locals: { 
                container_id: '{{to_record_id}}', 
                activity_log_id: '{{from_record_id}}', 
                activity_log_type: '{{from_record_type_us}}', 
                can_send_to_trash: true, 
                can_move_files: true,
                can_user_file_actions: true
              } %>
          {{/if}}
          <%= render partial: 'nfs_store/browse/download_button', locals: { 
                container_id: '{{to_record_id}}', 
                activity_log_id: '{{from_record_id}}', 
                activity_log_type: '{{from_record_type_us}}' 
              } %>
          {{#if to_record_editable}}
          <%= render partial: 'nfs_store/uploader/add_files', locals: { 
                container_id: '{{to_record_id}}', 
                activity_log_id: '{{from_record_id}}', 
                activity_log_type: '{{from_record_type_us}}', 
                container_writable: true 
              } %>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="row">
      <%= render partial: 'nfs_store/uploader/index' %>
    </div>

    <div class="drop-info">drop files to upload</div>
  </div>
</div>
</script>
