<div class="devise-block reg-block col-md-8 col-md-offset-8 well">
  <h2>New User Registration</h2>
  <div class="template-block"><%= template_block 'ui new user registration' %></div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <% af = true %>
    <% if Settings::InvitationCode.blank? %>
    <% elsif params[:invitation_code].blank? %>
      <div class="form-group-non">
        <%= f.label :invitation_code %><br/>
        <%= text_field_tag :invitation_code, '', class: "form-control", autofocus: true, required: true %>
        <% af = false %>
      </div>
    <% else %>
      <%= hidden_field_tag :invitation_code, params[:invitation_code] %>
    <% end %>

    <div class="form-group-non">
      <%= f.label :email %><br/>
      <%= f.email_field :email, required: true, autofocus: af, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group-non">
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name, required: true, class: "form-control" %>
    </div>

    <div class="form-group-non">
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name, required: true, class: "form-control" %>
    </div>

    <%
      pw_min_len = Settings::PasswordConfig[:min_length]
      re = Settings::PasswordConfig[:regex]
    %>
    <div class="form-group-non">
      <%= f.label :password, 'Enter new password' %><br />
      <% if re.present? %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", minlength: pw_min_len, pattern: re, required: true, title: 'not complex enough' %>
        <span id="helpBlock2" class="help-block"><%= Settings::PasswordConfig[:regex_requirements] %></span>
      <% else %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", minlength: pw_min_len, pattern: ".{#{pw_min_len},72}", required: true, title: "minimum #{pw_min_len} characters" %>
        <span id="helpBlock2" class="help-block">Select a long, complex password, preferably using a password generator</span>
      <% end %>
    </div>

    <div class="form-group-non">
      <%= f.label :password_confirmation %><br/>
      <% if re.present? %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", minlength: pw_min_len, pattern: re, required: true %>
      <% else %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", minlength: pw_min_len, pattern: ".{#{pw_min_len},72}", required: true, title: "minimum #{pw_min_len} characters" %>
      <% end %>
    </div>

    <div class="form-group-non">
      <%= f.label :country_code, 'Country' %>
      <br/>
      <%= f.country_select :country_code, { include_blank: true }, { class: "form-control", required: true } %>
    </div>

    <div class='form-group-non checkbox-inline'>
      <%= f.check_box :terms_of_use, style: 'display: none;', required: true %>
      <%= f.label :terms_of_use do %>
            <span id='terms-of-use-default' style='display: none;'>
              <%= template_block 'ui new user registration terms default' %>
            </span>
        <span id='terms-of-use-gdpr' style='display: none;'>
              <%= template_block 'ui new user registration terms gdpr' %>
            </span>
      <% end %>
    </div>

    <%=  f.hidden_field :client_localized %>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>

