<%= form_for(@external_identifier) do |f| %>
  <% if @external_identifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@external_identifier.errors.count, "error") %> prohibited this external_identifier from being saved:</h2>

      <ul>
      <% @external_identifier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :external_id_attribute %><br>
    <%= f.text_field :external_id_attribute %>
  </div>
  <div class="field">
    <%= f.label :external_id_view_formatter %><br>
    <%= f.text_field :external_id_view_formatter %>
  </div>
  <div class="field">
    <%= f.label :prevent_edit %><br>
    <%= f.check_box :prevent_edit %>
  </div>
  <div class="field">
    <%= f.label :pregenerate_ids %><br>
    <%= f.check_box :pregenerate_ids %>
  </div>
  <div class="field">
    <%= f.label :admin_id %><br>
    <%= f.text_field :admin_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
