<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @external_identifier.name %>
</p>

<p>
  <strong>Label:</strong>
  <%= @external_identifier.label %>
</p>

<p>
  <strong>External id attribute:</strong>
  <%= @external_identifier.external_id_attribute %>
</p>

<p>
  <strong>External id view formatter:</strong>
  <%= @external_identifier.external_id_view_formatter %>
</p>

<p>
  <strong>Prevent edit:</strong>
  <%= @external_identifier.prevent_edit %>
</p>

<p>
  <strong>Pregenerate ids:</strong>
  <%= @external_identifier.pregenerate_ids %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @external_identifier.admin %>
</p>

<%= link_to 'Edit', edit_external_identifier_path(@external_identifier) %> |
<%= link_to 'Back', external_identifiers_path %>
