<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">    
<h1>Events for <%=@sub_process_name%></h1>

<div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>

<table class="table tablesorter admin-list">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>      
      <th>Protocol</th>
      <th>Process</th>
      <th>Milestone</th>
      <th>Disabled</th>
      <th>Admin</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @protocol_events.each do |list_item| %>
      <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
        <td><%= admin_edit_btn list_item.id%> </td>
        <td><%= list_item.name %></td>   
        <td><%= list_item.protocol_name%></td>  
        <td><%= list_item.sub_process_name %></td>             
        <td><%= list_item.milestone %></td>             
        <td><%= list_item.disabled %></td>
        <td><%= list_item.admin_name %></td>      
      </tr>
      <% unless list_item.description.blank? %>
      <tr class="<%=list_item.disabled ? 'disabled-result' : ''%> protocol-event-description">
          <td colspan="2"></td>
          <td colspan="5">              
            <pre>  
            <%= list_item.description %>
            </pre>
          </td>
          
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%=  render partial: 'admin_handler/index_actions'  %>    
  </div>
</div>
