<p id="notice"><%= notice %></p>

<h1>Events for <%=@sub_process_name%></h1>

<table class="table tablesorter">
  <thead>
    <tr>
      <th>Protocol</th>
      <th>Sub Process</th>
      <th>Name</th>
      <th>Disabled?</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @protocol_events.each do |protocol_event| %>
      <tr>
        <td><%= protocol_event.protocol_name%></td>  
        <td><%= protocol_event.sub_process_name %></td>
        <td><%= protocol_event.name %></td>        
        <td><%= protocol_event.disabled %></td>
        <td><%= protocol_event.admin_name %></td>
        <td><%= link_to 'Edit', edit_protocol_event_path(protocol_event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @sub_process %>
<%= link_to 'New Protocol event', new_protocol_sub_process_protocol_event_path(@protocol, @sub_process) %> |
<%= link_to 'Sub process events', protocol_sub_process_protocol_events_path(@protocol, @sub_process) %> |
<%= link_to 'Sub processes', protocol_sub_processes_path(@protocol) %> |
<%= link_to 'Protocols', protocols_path %> |
<% end %>
<%= link_to 'All events', protocol_events_path(all: true) %>


