<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @protocol_event.name %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @protocol_event.protocol.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @protocol_event.admin %>
</p>

<%= link_to 'Edit', edit_protocol_event_path(@protocol_event) %> |
<%= link_to 'All events', protocol_events_path(all: true) %> |
<%= link_to 'Sub process events', protocol_sub_process_protocol_events_path(@protocol, @sub_process) %>