<% if object_instance.persisted? %>
<div class="dynamic-details-section">
  <label>item type name</label>
  <p class="dynamic-item-type">
  <%= object_instance.full_item_type_name %>
  </p>

  <p>
    <%= link_to 'search table data', "/reports/reference_data__table_data?schema_name=#{object_instance.schema_name}&search_attrs%5B_blank%5D=true&table_name=#{object_instance.table_name}", target: '_blank' %>
  </p>

  <label>fields</label>
  <p><%=object_instance.all_implementation_fields.length%> fields</p>
  <p class="dynamic-field-list">
  <code><%= object_instance.all_implementation_fields.join("</code> <code>").html_safe %></code>
  </p>
</div>
<div class="dynamic-list-section">
  <label>activities</label>
  <ul class="activity-list">
  <% object_instance.option_configs_names.each do |name| %>
    <li><%=name%><%= object_instance.option_type_config_for(name) ? '' : "(invalid)" %></li>
  <% end %>
  </ul>
  <div id="dynamic-list-detail" class="dynamic-list-detail"></div>
</div>
<% else %>
  <label>not yet saved</label>
<% end %>
