<div class="dynamic-details-section">
<% if object_instance.persisted? %>
  <label>item type name</label>
  <p class="dynamic-item-type">
  <%= object_instance.full_item_type_name %>
  </p>

  <p>
    <%= link_to link_label_open_in_new('search table data'), "/reports/reference_data__table_data?schema_name=#{object_instance.schema_name}&search_attrs%5B_blank%5D=true&search_attrs%5Bno_run%5D=true&table_name=#{object_instance.table_name}", 
                target: '_blank' %>
  </p>
<% else %>
  <p>
  <label>not yet saved</label>
  </p>
<% end %>
  <label>fields</label>
<% if object_instance.persisted? && object_instance.enabled?%>
  <p><%=object_instance.all_implementation_fields.length%> fields</p>
<% end %>
  <ul class="activity-list">
    <%= sortable_block "#dynamic_model_field_list", "li" %>
  </ul>
</div>
<% if object_instance.persisted? && object_instance.enabled? %>
<div class="dynamic-list-section">
  <label>activities</label>
  <ul class="activity-list">
  <% object_instance.option_configs_names&.each do |name| %>
    <li><%=name%><%= object_instance.option_type_config_for(name) ? '' : "(invalid)" %></li>
  <% end %>
  </ul>
  <div id="dynamic-list-detail" class="dynamic-list-detail"></div>
</div>
<% end %>
