<div class="dynamic-details-section">
  <label>item type name</label>
  <p class="dynamic-item-type">
  <%= object_instance.full_item_type_name %>
  </p>

  <p>
    <%= link_to 'search table data', "/reports/reference_data__table_data?schema_name=#{object_instance.schema_name}&search_attrs%5B_blank%5D=true&table_name=#{object_instance.table_name}", target: '_blank' %>
  </p>

  <label>fields</label>
  <p><%=object_instance.all_implementation_fields.length%> fields</p>
  <p class="dynamic-field-list">
  <code><%= object_instance.all_implementation_fields.join("</code> <code>").html_safe %></code>
  </p>
</div>
<div class="dynamic-list-section">
  <label>activities</label>
  <ul class="activity-list">
  <% object_instance.option_configs_names.each do |name| %>
    <li><%=name%><%= object_instance.option_type_config_for(name) ? '' : "(invalid)" %></li>
  <% end %>
  </ul>
  <div id="dynamic-list-detail" class="dynamic-list-detail"></div>
</div>
<div class="dynamic-config-section">
  <label>configurations</label>
  <p><i>Table key name</i> 
   is the field used to uniquely identify a record when retrieving it to be viewed or edited. It may be unrelated to the relationship between this item and a master record. Typically blank.
  </p>
  <p><i>Primary key name</i> 
   is the field that a master record may use to reference this record. Typically <code>id</code>
  </p>
  <p><i>Foreign key name</i> 
   is the field used to match with a master record. Typically this is <code>master_id</code>, but may be one of the other fields on that table. 
   If blank, then there is no connection to master records, but the table can be used for 
   lookups in forms using a field <i>select_record_from_table_...</i>
  </p>
</div>