<%
  if object_instance.persisted? && object_instance.enabled?
  admin_master = Settings::admin_master

  if object_instance.implementation_class_defined?(Object, fail_without_exception: true)

  url_pre = "/masters/#{admin_master}" unless object_instance.implementation_class.no_master_association
%>
<p>
  <%= link_to 'refresh', "#{url_pre}/#{object_instance.implementation_class.to_s.underscore.pluralize}/new?admin_sample=true", 
    data: {
      remote: true, 
      target: "##{object_instance.resource_name.hyphenate}-#{admin_master}-",
      'result-target': "##{object_instance.resource_name.hyphenate}-#{admin_master}-",
      'result-target-force': "true"
    },
    class: 'on-show-auto-click' %>
</p>
<% end %>
<div 
  id="<%= "#{object_instance.resource_name.hyphenate}-#{admin_master}-" %>" 
  data-subscription="<%= "#{object_instance.implementation_model_name.hyphenate}-edit-form-#{admin_master}-" %>"
>
  loading...
</div>
<% # Reload the captions and show_if definitions 

  begin
%>
  <%= render partial: 'dynamic_models/common_search_results_template_item', 
           locals: { 
             def_record: object_instance,
             option_type_config: object_instance.default_options
           } %>
  <% rescue StandardError => e %>
  <p><i>Error preparing sample form: <%= e %></i></p>
<% end
else %>
  <p><i>Save configuration to see sample</i></p>
<% end %>
