<div class="main-creddoc">
<h1><%=Settings::TwoFactorAuthIssuer%> User Credentials</h1>
<p>
These are your login details<% unless User.two_factor_auth_disabled %> and information about using a smartphone authenticator app<% end %>. More details on the login
process may be found at <a href="<%= Settings::BaseUrl%>/help/guest_reference/main/README"><%= Settings::BaseUrl%>/help/guest_reference/main/README</a>
</p>
<p>Please login with your new details as soon as possible, to ensure your account is fully protected.</p>
<% unless User.two_factor_auth_disabled %>
<p>
  <% if @user.new_two_factor_auth_code %>
   When you next login you will need to configure your authenticator app with the two-factor authentication setup. When complete you will be able to <%= @user.new_password ? 'change your password and login': 'login'%>.
  <% else %>
   Your authenticator app configuration has not changed. Login to <%=Settings::TwoFactorAuthIssuer%> immediately with your temporary password.
  <% end %>
</p>
<% end %>
<h2>Password</h2>
<p>
  Username: <code><%= @user.email %></code>
</p>
<p>
  Temporary Password: <code><%= @user.new_password ? @user.new_password : '(not changed)'%></code>
</p>

<% if @user.new_password %>
<p>
  Use these details to login and change your temporary password. If you have a password manager, remember to save the username and the new password you select.
</p>
<% else %>
<p>
  Your password has not changed. Use your current password when you login.
</p>
<% end %>
<hr />
<p>
 If you have any questions about the use of this information, please contact your administrator.
</p>
</div>
