<%
  if @user.new_two_factor_auth_code
    qrcode = RQRCode::QRCode.new(@user.two_factor_auth_uri, level: :m)
       qrpng = qrcode.as_png resize_gte_to: false,
        resize_exactly_to: false,
        fill: 'white',
        color: 'black',
        size: 240,
        border_modules: 4,
        module_px_size: 6

    image = Base64.encode64 qrpng.to_datastream.to_s
  end
%><!DOCTYPE html>
<html>
<head>
<title>User Credentials</title>
<style>
  body {font-family: sans-serif;}
  .main {width:600px; max-width: 98%; margin: 20px auto;}
  code {color: gray;}
</style>
</head>
<body>
<div class="main">
<h1><%=Settings::TwoFactorAuthIssuer%> User Credentials</h1>
<p>
These are your login details and configuration for a smartphone authenticator app.
</p>
<p>
  <% if @user.new_two_factor_auth_code %>
   First setup your authenticator app with the one-time code setup, then login to ensure you have access to <%=Settings::TwoFactorAuthIssuer%>.
  <% else %>
   Your authenticator app configuration has not changed. Login to <%=Settings::TwoFactorAuthIssuer%> immediately with your temporary password.
  <% end %>
</p>
<h2>
  <b>One-Time Code Setup</b>
</h2>
<% if @user.new_two_factor_auth_code %>
<p>
  Scan this QR Code with the authenticator app on your smartphone. In the future you should use the authenticator app to generate a one-time code when logging in. If you don't have an authenticator app, see a list of compatible apps below.
</p>
<% end %>
<p>
  <% if @user.new_two_factor_auth_code %>
  <img src="data:image/png;base64,<%=image%>">
  <% else%>
    <code>(not changed)</code>
  <% end %>
</p>
<h2>Password</h2>
<p>
  Username: <code>(your email address)</code>
</p>
<p>
  Temporary Password: <code><%= @user.new_password ? @user.new_password : '(not changed)'%></code>
</p>

<% if @user.new_password %>
<p>
  Use these details to login and change your password. If you have a password manager, save the username and new password there.
</p>
<% end %>
<p>
  <b>When complete, close this document and remove it from the Downloads folder on your device.</b>
</p>
<% if @user.new_two_factor_auth_code %>
<h2>Authenticator Apps</h2>
<p>
  The following are just a few well known authenticator apps that can create time-based one-time codes for two factor authentication.
  If your organization has not already provided you with an app, select one of these to install through your smartphone app store.
</p>
<ul>
  <li>Google Authenticator</li>
  <li>Microsoft Authenticator</li>
  <li>LastPass Authenticator</li>
  <li>Sophos Authenticator</li>
  <li>RSA SecureID Software Token</li>
</ul>
<% end %>
<hr />
<p>
 If you have any questions about the use of this information, please contact your administrator.
</p>
</div>
</body>
</html>
