<!DOCTYPE html>
<html>
<head>
<title>User Credentials</title>
<style>
  body {font-family: sans-serif;}
  .main {width:600px; max-width: 98%; margin: 20px auto;}
  code {color: gray;}
</style>
</head>
<body>
<div class="main">
<h1><%=Settings::TwoFactorAuthIssuer%> User Credentials</h1>
<p>
These are your login details<% unless User.two_factor_auth_disabled %> and information about using a smartphone authenticator app<% end %>.
</p>
<% unless User.two_factor_auth_disabled %>
<p>
  <% if @user.new_two_factor_auth_code %>
   When you next login you will need to configure your authenticator app with the two-factor authentication setup. When complete you will be able to <%= @user.new_password ? 'change your password and login': 'login'%>.
  <% else %>
   Your authenticator app configuration has not changed. Login to <%=Settings::TwoFactorAuthIssuer%> immediately with your temporary password.
  <% end %>
</p>
<h2>
  <b>Two-Factor Authentication Setup</b>
</h2>
<p>
  <% if @user.new_two_factor_auth_code %>
    Your new two-factor authentication setup will be shown when you next login. At the login page, leave the Two-Factor Authentication field empty.
  <% else%>
    Your two-factor authentication setup has not changed. Use the two-factor authentication code generated in your app when you login with your <%= @user.new_password ? 'temporary password' : 'password' %>
  <% end %>
</p>
<% end %>
<h2>Password</h2>
<p>
  Username: <code>(your email address)</code>
</p>
<p>
  Temporary Password: <code><%= @user.new_password ? @user.new_password : '(not changed)'%></code>
</p>

<% if @user.new_password %>
<p>
  Use these details to login and change your temporary password. If you have a password manager, remember to save the username and the new password you select.
</p>
<% else %>
<p>
  Your password has not changed. Use your current password when you login.
</p>
<% end %>
<p>
  <b>When complete, close this document and remove it from the Downloads folder on your device.</b>
</p>
<hr />
<p>
 If you have any questions about the use of this information, please contact your administrator.
</p>
</div>
</body>
</html>
