<div class="data-results">
  <div data-result="admin-edit-form-" class="admin-edit-form">
<%= form_for(object_instance, class: "inline-form", remote: true) do |f| %>
  <%= render partial: 'admin_handler/form_errors' %>
  <div class="form-group">
    <%= f.label :app_type_id %>
    <% select_item_type = {}
       select_item_type[:selected] = params[:filter].first.last if params[:filter] && params[:filter].first.first == 'app_type_id'    %>
    <%= f.select :app_type_id, Admin::AppType.active.map{|a| [a.label, a.id]}, select_item_type%>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <% select_item_type = {}
       select_item_type[:selected] = params[:filter].first.last if params[:filter] && params[:filter].first.first == 'name'    %>

    <%= f.select :name, Admin::AppConfiguration.configurations, select_item_type %>
  </div>
  <div class="form-group">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <div class="form-group">
    <%= f.label 'user override' %>
    <%= f.select :user_id, options_from_collection_for_select(User.active, 'id', 'email', object_instance.user_id), include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.check_box :disabled %>
    <%= f.label :disable %>
  </div>


  <div class="form-group">

    <%= hidden_field_tag "filter[#{params[:filter].first.first}]", params[:filter].first.last  if params[:filter]%>
    <%= f.submit class: "btn btn-primary" %> <%= admin_edit_cancel %>
  </div>
<% end %>
  </div>
</div>
