<div class="data-results">
  <div data-result="admin-edit-form-" class="admin-edit-form">
<%= form_for(object_instance, class: "inline-form admin-edit-form", remote: true, data: {result_target: "#admin-item-#{object_instance.id}", preprocessor: "admin_result"}) do |f| %>
  <%= render partial: 'admin_handler/form_errors' %>
  <div class="form-group">
    <%= f.label :app_type_id %>
    <%= f.select :app_type_id, app_type_options(default_app_type_id: app_type_select_current_item), {}, extra_field_attributes[:app_type_id]||{} %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <% select_item_type = {}
       select_item_type[:selected] = filter_params_hash.first.last if filter_params_hash&.first&.first == 'name'    %>

    <%= big_select_field(f, :name, Admin::AppConfiguration.configuation_meanings)%>
  </div>
  <div class="form-group app-configuration-value-block">
    <%= f.label :value %>
    <%= f.text_area :value %>
  </div>
  <div class="form-group">
    <%= f.label 'role name override' %>
    <%
      select_item_type = {}
      select_item_type[:selected] = filter_params_hash.first.last if filter_params_permitted && filter_params_hash&.first&.first == 'role_name'
      select_item_type[:include_blank] = true

      options = role_name_options
    %>
    <%= f.select :role_name, options, select_item_type %>
  </div>
  <div class="form-group">
    <%= f.label 'user override' %>
    <%= f.select :user_id, active_user_options, include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.check_box :disabled %>
    <%= f.label :disable %>
  </div>


  <div class="form-group">

    <%= hidden_filter_fields %>
    <%= f.submit class: "btn btn-primary" %> <%= admin_edit_cancel %>
  </div>
<% end %>
  </div>
</div>
