<% if object_instance.persisted? && object_instance.enabled?%>
<div class="dynamic-details-section">
  <label>item type name</label>
  <p class="dynamic-item-type">
  <%= object_instance.full_item_type_name %>
  </p>

  <label>fields</label>
  <p class="dynamic-field-list">
  <code><%= object_instance.all_implementation_fields.join("</code> <code>").html_safe %></code>
  </p>

  <label>assigned identifiers</label>
  <p><%=link_to link_label_open_in_new('details'), "/admin/external_identifier_details/#{object_instance.id}", target: '_blank' %>

  <% unless object_instance.table_or_view_ready?%>
  <div class="help-block">
  <p>Typically the database table or view associated with an activity log is created when the definition is first created (or prior to this if handled manually.)</p>
  <p>To create the table for this activity log definition, either run the defined migration, or disable (and save) then re-enable and save this definition to 
     setup the database table based on options configuration.
  </p>
  </div>
  <% end %>

  <% 
  ces = OptionConfigs::ExtraOptions.all_option_configs_notices(object_instance.option_configs)
  if ces %>
  <label>configuration errors</label>
    <div class="config-error-block">

      <% ces.each do |ce| %>
          <div>
            <h4><span class="activity-list-name"><%= ce[:name] %></span> - <%= ce[:type] %></h4>
            <p><%= ce[:message] %></p>
            <pre><%= ce[:config_def].to_yaml.sub("---\n",'') %></pre>
          </div>
      <% end %>
    </div>
  <% end %>

</div>
<div class="dynamic-list-section">
  <label>activities</label>
  <ul class="activity-list">
  <% object_instance.option_configs_names&.each do |name| %>
    <li><%=name%><%= object_instance.option_type_config_for(name) ? '' : "(invalid)" %></li>
  <% end %>
  </ul>
  <div id="dynamic-list-detail" class="dynamic-list-detail"></div>
</div>
<% else %>
  <label>not yet saved</label>
<% end %>
<%= render partial: 'admin/common_templates/def_details_libraries', locals: {object_instance: object_instance} %>
<%= render partial: 'admin/common_templates/def_details_dialogs', locals: {object_instance: object_instance} %>
