<% if object_instance.persisted? && object_instance.enabled?%>
<div class="dynamic-details-section">
  <label>item type name</label>
  <p class="dynamic-item-type">
  <%= object_instance.full_item_type_name %>
  </p>

  <label>fields</label>
  <p class="dynamic-field-list">
  <code><%= object_instance.all_implementation_fields.join("</code> <code>").html_safe %></code>
  </p>

  <label>assigned identifiers</label>
  <p><%=link_to link_label_open_in_new('details'), "/admin/external_identifier_details/#{object_instance.id}", target: '_blank' %>


</div>
<div class="dynamic-list-section">
  <label>activities</label>
  <ul class="activity-list">
  <% object_instance.option_configs_names&.each do |name| %>
    <li><%=name%><%= object_instance.option_type_config_for(name) ? '' : "(invalid)" %></li>
  <% end %>
  </ul>
  <div id="dynamic-list-detail" class="dynamic-list-detail"></div>
</div>
<% else %>
  <label>not yet saved</label>
<% end %>
