<script id="master_external_links_panel" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <% if current_user && current_user.can?(:view_external_links) %>
  <div class="external-links row collapse " id="external-links-{{id}}" data-master-id="{{id}}" data-panel-name="external-links"></div>
  <% end %>
</script>

<script id="master_external_ids_panel" type="text/x-handlebars-template" class="hidden handlebars-partial">
    <div class="row panel-body panel-with-sublists external-ids-panel">
      <div class="on-open-click hidden">
      <%  external_id_types.each do |e|%>
        <% if master_viewables[e.plural_name.to_sym] %>
        <a href="/masters/{{id}}/<%=e.plural_name%>" data-result-target="#<%=e.hyphenated_plural_name%>-{{id}}-" data-template="<%=e.hyphenated_plural_name%>-list-template" data-remote="true" class=""><%=e.label%></a>
        <% end %>
      <% end %>

      </div>
      <%  external_id_types.each do |e|%>
        <% if master_viewables[e.plural_name.to_sym] %>
        <div class="<%= layout_item_block_sizes[:narrow] %> sublist-column" id="<%=e.hyphenated_plural_name%>-{{id}}-" data-sub-list="<%=e.plural_name%>"></div>
        <% end %>
      <% end %>
    </div>

</script>

<script id="master_details_panel" type="text/x-handlebars-template" class="hidden handlebars-partial">

   <div class="panel-body panel-with-sublists master-details-panel">
    <div class="row">
      <%
        dm = DynamicModel.active_model_configurations.where(category: 'details')
        dm = dm.select {|m| m.model_association_name.in? true_master_viewables}.sort {|a,b| (a.position.to_i) <=> (b.position.to_i)}
        earlier_dms = dm.select {|d| d.position.to_i < 0}
        later_dms = dm.select {|d| d.position.to_i >= 0}
      %>        
      <%= render partial: 'masters/dynamic_model_blocks', locals: { category_models: earlier_dms, viewable: master_viewables, category: 'details', force_load: 1, panel: nil, orientation: 'none' } %>

      <% if master_viewables[:player_infos] || master_viewables[:pro_infos] %>
      <div class="<%= hide_pro_info_tabs? || 
                      !current_user.has_access_to?(:access, :table, :player_infos) || 
                      !current_user.has_access_to?( :access, :table, :pro_infos)  ? layout_item_block_sizes[:regular] : 'col-md-16 col-lg-12' %>">
        <div class="row">
        <% if master_viewables[:player_infos] %>
        {{#with player_infos.[0]}}

            <div class="col-md-<%= !master_viewables[:pro_infos] ? '24' : '12' %> sublist-column">
              {{>sublist_controls}}

                {{> common_template_result name='player_info' result_data=this _created=0}}
            </div>

        {{else}}

            <div class="col-md-<%= !master_viewables[:pro_infos] ? '24' : '12' %> sublist-column">
              <div id="player-info-{{id}}-" data-subscription="player-info-edit-form-{{id}}-" class="new-block">
                <h4>No subject details</h4>
                <p>{{>common_template_create_button resource='player_info' prevent_create=<%=@prevent_creates[:player_infos]%>}}</p>
              </div>
            </div>

        {{/with}}
        <% end %>
        <% if master_viewables[:pro_infos] %>
        {{#with pro_infos.[0]}}
            <div class="col-md-<%= !master_viewables[:player_infos] ? '24' : '12' %> sublist-column">
              {{>sublist_controls}}


              {{> common_template_result name='pro_info' result_data=this _created=0}}

            </div>
        {{else}}

            <div class="col-md-<%= !master_viewables[:player_infos] ? '24' : '12' %> sublist-column">
              <div id="pro-info-{{../id}}-" >
                <h4>No pro info </h4>
              </div>
            </div>

        {{/with}}
        <% end %>

        </div>
      </div>
      <% end %>

      <% if master_viewables[:addresses] %>
      <div class="<%= layout_item_block_sizes[:regular] %> sublist-column" id="addresses-{{id}}-" data-sub-list="addresses">
        {{>sublist_controls sub_list="addresses" filter_attr='rank' filter_name="rank_name" order='asc' }}

        {{#each addresses}}

          {{> common_template_result name='address' result_data=this _created=@index}}

        {{/each}}

        <div class="new-block" id="address-{{id}}-" data-subscription="address-edit-form-{{id}}-" data-preprocessor="address_edit_form">
          {{#unless addresses}}<h4>No addresses</h4>{{/unless}}
        </div>
        <p class="text-center">{{>common_template_create_button resource='address' prevent_create=<%=@prevent_creates[:addresses]%>}}</p>

      </div>
      <% end %>

      <% if master_viewables[:player_contacts] %>
      <div class="<%= layout_item_block_sizes[:regular] %> sublist-column" id="player_contacts-{{id}}-" data-sub-list="player_contacts">
        {{>sublist_controls sub_list="player_contacts" filter_attr='rank' filter_name="rank_name" order='asc' }}

        {{#each player_contacts}}

          {{> common_template_result name='player_contact' result_data=this _created=@index}}

        {{/each}}

        <div class="new-block" id="player-contact-{{id}}-" data-subscription="player-contact-edit-form-{{id}}-" data-preprocessor="player_contact_edit_form">
          {{#unless player_contacts}}<h4>No Contact Records</h4>{{/unless}}
        </div>
        <p class="text-center">{{>common_template_create_button resource='player_contact' prevent_create=<%=@prevent_creates[:player_contacts]%>}}</p>

      </div>
      <% end %>
      <%= render partial: 'masters/dynamic_model_blocks', locals: { category_models: later_dms, viewable: master_viewables, category: 'details', force_load: 1, panel: nil, orientation: 'none' } %>
    </div>
   </div>

</script>


<script id="tracker_completions" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with tracker}}
    {{>tracker_completions}}
  {{/with}}
</script>

<script id="tracker_completions-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{#each tracker_completions}}
    <span class="label label-primary" title="{{protocol_name}} {{sub_process_name}}" data-sub-item="{{sub_process_id}}"><i class="glyphicon glyphicon-ok"></i>&nbsp;{{protocol_name}}</span>
  {{/each}}
</script>


<script id="master_trackers_panel" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <% unless app_config_set(:hide_tracker_panel) %>
    <div id="trackers-{{id}}" class="panel panel-default section-panel page-layout-panel contains-categories collapse trackers-block format-block-on-expand">
      <div class="is-header default-header section-panel-header">
        <a href="#trackers-{{id}}" data-toggle="collapse" class="dropup scroll-to-master pull-right glyphicon glyphicon-remove-sign show-entity btn-close-panel" title="close panel"></a>
        <h4 class="list-group-item-heading">Tracker</h4>

        <div id="trackers-{{id}}-completions" class="tracker-completions" data-sub-list="tracker_completions" data-template="tracker-completions">
          {{>tracker_completions}}
        </div>
      </div>

      <div id="trackers-{{id}}-inner" data-sub-for-root="master_id" data-sub-id="{{id}}" data-sub-item="trackers" data-template="tracker-tree-result-template" class="tracker-inner tracker-block">
      {{#with trackers}}
        {{>tracker_tree_results master_id=id}}
      {{else}}
        {{>empty_tracker_tree_results master_id=id}}
      {{/with}}

      {{#with latest_tracker_history.[0]}}
        <div class="latest-tracker-history" id="latest-tracker-history-{{master_id}}" data-lth-protocol="{{protocol_name}}" data-lth-process="{{sub_process_name}}" data-lth-event-id="{{protocol_event_id}}" data-lth-event="{{event_name}}" data-lth-event-milestone="{{event_milestone}}"></div>
      {{/with}}
      </div>
    </div>
  <% end %>
</script>
