<%
  external_id_types = ExternalIdentifier.implementation_classes
  subject_data_type = app_config_text(:header_subject_data_type, Settings::DefaultSubjectInfoTableName).pluralize
  secondary_data_type = app_config_text(:header_secondary_data_type, Settings::DefaultSecondaryInfoTableName).pluralize
  no_subject_details_label = app_config_text(:header_no_subject_details_label, '(no subject details)')
  no_subject_details_label = '' if no_subject_details_label == 'none'
%>

<script id="modal-pi-search-results-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#if masters.length}}
  <div class="panel-group" id="results-accordion modal-pi-search-results" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default results-panel">
    {{#each masters}}
      <div class="panel-heading master-result num-masters-{{num_masters}}" role="tab" id="master-{{id}}">
        <h3 class="panel-title">
          <a class="glyphicon glyphicon-link pull-right" href="/masters/{{id}}" title="open in new tab" target="openmaster"> </a>
          <div class="row">
            <div class="col-md-2 col-lg-2 result-refs"><span class="master_id"  title="Master ID">{{id}}</span></div>
            <a class="master-expander collapsed one-time-only-ajax " data-toggle="collapse" data-parent="#results-accordion" href="/masters/{{id}}.json" data-remote="true" data-target="#master-{{id}}-main-container" data-result-target="#master-{{id}}-main-container" data-template="master-main-template" aria-expanded="false" aria-controls="master-{{id}}-main-container">
              <div class="col-md-11 col-lg-11 player-info-header" data-sub-for="master_id" data-sub-id="{{id}}" data-sub-item="<%=subject_data_type.singularize%>" data-template="subject-info-summary-result-template">
                <% if master_viewables[subject_data_type.to_sym] %>
                {{#with <%=subject_data_type%>.[0]}}
                  {{>subject_info_summary_result}}
                {{else}}
                <strong class="no-player-info"><%= no_subject_details_label %></strong>
                {{/with}}
                <% else %>
                <strong class="no-player-info"><%= no_subject_details_label %></strong>
                <% end %>
              </div>
              <div class="col-md-9 col-md-offset-1 pro-info-header">
              {{#with <%=secondary_data_type%>.[0]}}
                {{>secondary_info_summary_result}}
              {{/with}}
              </div>
            </a>
          </div>
        </h3>
      </div>
      <div id="master-{{id}}-main-container" class="panel-collapse collapse {{#is ../masters.length 1}}in{{/is}}" role="tabpanel" aria-labelledby="master-{{id}}">
        <div class="panel-body">
          <% if current_user && current_user.can?(:view_external_links) %>
          <div class="external-links row collapse " id="external-links-{{id}}" data-master-id="{{id}}"></div>
          <% end %>


          <div id="details-{{id}}" class="collapse in details-block">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                {{#with player_infos.[0]}}

                    <div class="col-md-12">

                      {{> common_template_result name='player_info' result_data=this _created=@index}}

                    </div>

                {{else}}

                    <div class="col-md-12">
                      <div id="player-info-{{../id}}-" data-subscription="player-info-edit-form-{{../id}}-" class="new-block">
                        <h4>No subject details</h4>
                      </div>
                    </div>

                {{/with}}
                {{#with pro_infos.[0]}}
                    <div class="col-md-12">

                      {{> common_template_result name='pro_info' result_data=this _created=@index}}

                    </div>
                {{else}}

                    <div class="col-md-12">
                      <div id="pro-info-{{../id}}-" >
                        <h4>No pro info </h4>
                      </div>
                    </div>

                {{/with}}

                </div>
              </div>



              <div class="<%= layout_item_block_sizes[:regular] %>" id="addresses-{{id}}-" data-sub-list="addresses">
                {{#each addresses}}

                  {{> common_template_result name='address' result_data=this _created=@index}}

                {{/each}}

                <div class="new-block" id="address-{{id}}-" data-subscription="address-edit-form-{{id}}-" data-preprocessor="address_edit_form">
                  {{#unless addresses}}<h4>No addresses</h4>{{/unless}}
                </div>

              </div>
              <div class="<%= layout_item_block_sizes[:regular] %>" id="player_contacts-{{id}}-" data-sub-list="player_contacts">
                {{#each player_contacts}}

                  {{> common_template_result name='player_contact' result_data=this _created=@index}}

                {{/each}}

                <div class="new-block" id="player-contact-{{id}}-" data-subscription="player-contact-edit-form-{{id}}-" data-preprocessor="player_contact_edit_form">
                  {{#unless player_contacts}}<h4>No Contact Records</h4>{{/unless}}
                </div>

              </div>
            </div>
          </div>
        </div>


        <div id="external-ids-{{id}}" class="row modal-external-ids-block">
          <div class="on-open-click hidden">
          <%  external_id_types.each do |e|%>
            <a href="/masters/{{id}}/<%=e.plural_name%>" data-result-target="#<%=e.hyphenated_plural_name%>-{{id}}-" data-template="<%=e.hyphenated_plural_name%>-compact-list-template" data-remote="true" class=""><%=e.label%></a>
          <% end %>
          </div>
          <%  external_id_types.each do |e|%>
          <div class="<%= layout_item_block_sizes[:regular] %>" id="<%=e.hyphenated_plural_name%>-{{id}}-" data-sub-list="<%=e.plural_name%>"></div>

          <% end %>

        </div>

      </div>
    {{/each}}

    </div>
  {{else}}
      <h2 class="no-results-msg">No Results</h2>
  {{/if}}


</script>
