<div class="container-fluid collapse in" id="master-search-simple">
<%= form_for @master, method: :get, remote: true, html: {id: 'simple_search_master', class: 'search_master form-formatted'} do |f| %>

  <div class="row">
    <%= hidden_field_tag :mode, "SIMPLE", id: nil %>

    <%= f.fields_for :general_infos do |pif| %>
      <div class="form-group col-sm-4">
        <%= pif.label :first_name, 'First or nick name', 'data-add-icon' => 'info-sign', title: 'search for first names or nick names starting with this value in player or pro info' %>
        <%= pif.text_field :first_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= pif.label :last_name, 'data-add-icon' => 'info-sign', title: 'search for last name in player or pro info' %>
        <%= pif.text_field :last_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= pif.label :birth_date, 'data-add-icon' => 'info-sign', title: 'search for birth date in player or pro info' %>
        <%= pif.date_field :birth_date, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= pif.label :death_date, 'data-add-icon' => 'info-sign', title: 'search for death date in player or pro info' %>
        <%= pif.date_field :death_date, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= pif.label :start_year, 'data-add-icon' => 'info-sign', title: 'search for start year in player or pro info' %>
        <%= pif.number_field :start_year, in: Settings::StartYearRange, class: 'form-control year_field', pattern: Settings::YearFieldPattern  %>
      </div>
      <div class="form-group col-sm-2">
        <%= pif.label :end_year, 'data-add-icon' => 'info-sign', title: 'search for end year in player or pro info' %>
        <%= pif.number_field :end_year, in: Settings::EndYearRange, class: 'form-control year_field', pattern: Settings::YearFieldPattern %>
      </div>
      <div class="form-group col-sm-3">
        <%= pif.label :college, 'data-add-icon' => 'info-sign', title: 'search for college in player or pro info' %>
        <%= pif.text_field :college, class: 'form-control simple-college-input typeahead', 'data-next-field' => '#master_general_infos_attributes_0_contact_data'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= pif.label :contact_data, "Email / Phone", 'data-add-icon' => 'info-sign', title: 'search for phone or email starting with this value (ignores non-alphanumeric characters)' %>
        <%= pif.text_field :contact_data, class: 'form-control'  %>
      </div>
      <div class="col-sm-1 text-right">
          <br/>
          <p style="font-size: 18px;">
            <a href="#" class="clear-fields glyphicon glyphicon-erase" title="clear fields"></a>
          </p>
      </div>
    <% end %>
  </div>
  <div class="form-group form-actions clearfix">
    <%= f.submit :search, class: "btn btn-default btn-sm pull-right auto-submitter" %>

    <span id="search_count_simple" class="search-results-count pull-right" data-sub-item="count" data-template="search-count-template" ></span>
  </div>
<%end%>
<script>
  _fpa.cache.get_definition('colleges', function(){
    _fpa.form_utils.setup_typeahead('input.simple-college-input', 'colleges', "colleges");
  });

</script>

</div>
