<%= render partial: 'player_infos/search_results_template' %>
<%= render partial: 'pro_infos/search_results_template' %>
<%= render partial: 'addresses/search_results_template' %>
<%= render partial: 'player_contacts/search_results_template' %>
<%= render partial: 'common_templates/search_results_template', locals: {
    name: 'scantron', 
    prevent_edit: false, 
    prevent_create: false,
    item_list: [label: 'Scantron', formatter: '', attribute: 'scantron_id'] 
  } %>

<%= render partial: 'trackers/search_results_template' %>
<%= render partial: 'tracker_histories/search_results_template' %>
<%= render partial: 'item_flags/search_results_template' %>
<%= render partial: 'external_links/search_results_template' %>
<%= render partial: 'common_templates/search_results_template', locals: {
      name: 'sage_assignment', 
      prevent_edit: true,
      prevent_create: false,
      item_list: [label: 'Sage ID', formatter: 'format_sage_id', attribute: 'sage_id']
    } %>

<% DynamicModel.active.each do |m| 
  l = []
  an = (m.model_def.attribute_names - [:id, :created_at, :updated_at])
  if an.length > 1
    l = an
  else
    an.each do |k|
      l << [label: k.to_s.humanize, formatter: 'format_sage_id', attribute: k.to_s] 
    end
  end

%>
<%= render partial: 'common_templates/search_results_template', locals: {
      name: m.model_def_name.to_s, 
      prevent_edit: true,  
      prevent_create: true,
      item_list: l
    } %>
<% end %>


<script id="player_info_summary_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">  
  <strong class="player-names">                
    {{capitalize first_name}} 
    {{capitalize middle_name}} 
    {{capitalize last_name}}
    {{#if nick_name}}
      ({{capitalize nick_name}})
    {{/if}}

  </strong>
  {{#if birth_date}}
  <small>DOB</small> {{local_date birth_date '-'}}
  {{/if}}
  {{#if death_date}}
    <small>DOD</small> {{local_date death_date '-'}}
  {{/if}}
  <span data-sub-for="master_id" data-sub-id="{{master_id}}" data-sub-item="player_info" data-template="accuracy-badge-template">
    {{>accuracy_badge player_info=this}}
  </span>
</script>

<script id="pro_info_summary_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">  
        <strong class="pro-names">
                  {{capitalize first_name}} 
                  {{capitalize middle_name}} 
                  {{capitalize last_name}}
                  {{#if nick_name}}
                    ({{capitalize nick_name}})
                  {{/if}}
        </strong>
        {{#if birth_date}}
                <small>DOB</small> {{local_date birth_date '-'}}
        {{/if}}
        {{#if death_date}}
                <small>DOD</small> {{local_date death_date '-'}}
        {{/if}}
</script>

<script id="tracker_badge-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
<span class="badge" id="tracker-count-{{master_id}}">{{trackers.length}}</span>
</script>

<script id="accuracy_badge-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
<span class="label label-info player-info-badge-{{player_info.rank}}" title="{{player_info.accuracy_score_name}}">{{player_info.rank}}</span>
</script>

<script id="update_metadata-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" data-trigger="click hover" data-content="created: {{date_time created_at}}"></span> 
    {{#if updated_at}}<span class="meta-last-updated" data-toggle="popover" data-trigger="click hover" data-content="last updated {{date_time updated_at}}" >{{pretty_string updated_at}}</span>{{else}}<span class="meta-last-updated glyphicon glyphicon-unchecked" data-toggle="popover" data-trigger="click hover" data-content="no update information available"></span>{{/if}}
    {{#if user_name}} by {{user_name}}{{/if}}    
</script>


<script id="tracker-badge-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{>tracker_badge}}
</script>

<script id="accuracy-badge-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{>accuracy_badge}}
</script>

<script id="player-info-summary-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with player_info}}
  {{>player_info_summary_result}}
  {{/with}}
</script>

<script id="search-count-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  <span>
  <span class="search_count">{{count}}</span> record{{#is count '!==' 1}}s{{/is}}
  {{#is count '>' 100}} - showing 100 results - refine search to show others{{/is}}
  </span>
</script>


<script id="search-results-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#if masters.length}}
  <div class="panel-group" id="results-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      
    {{#each masters}}
      <div class="panel-heading master-result" role="tab" id="master-{{id}}">          
        <h3 class="panel-title">
          {{#if msid}}
          <a class="glyphicon glyphicon-link pull-right" href="/masters/{{msid}}?type=msid" title="link to this record"> </a>
          {{else}}
          <a class="glyphicon glyphicon-link pull-right" href="/masters/{{id}}" title="link to this record"> </a>
          {{/if}}
          <div class="row">
            <div class="col-md-2 col-lg-1 result-refs"><span class="msid">{{#if msid}}{{msid}}{{else}}-{{/if}}</span></div>
            <a class="master-expander collapsed" data-toggle="collapse" data-parent="#results-accordion" href="#master-{{id}}-player-infos" aria-expanded="false" aria-controls="master-{{id}}-player-infos" class=" {{#is ../masters.length '!==' 1}}collapsed{{/is}}">
            
              <div class="col-md-11 col-lg-12 player-info-header" data-sub-for="master_id" data-sub-id="{{id}}" data-sub-item="player_info" data-template="player-info-summary-result-template">              
                {{#with player_infos.[0]}}
                  {{>player_info_summary_result}}
                {{else}}
                <strong class="no-player-info">(no player info)</strong>
                {{/with}}
              </div>
              <div class="col-md-9 col-md-offset-1 pro-info-header">
              {{#with pro_infos.[0]}}
                {{>pro_info_summary_result}}
              {{/with}}  
              </div>                      
            </a>
          </div>
        </h3>
      </div>
      <div id="master-{{id}}-player-infos" class="panel-collapse collapse {{#is ../masters.length 1}}in{{/is}}" role="tabpanel" aria-labelledby="master-{{id}}">
        <ul class="nav nav-pills ">
          
          <li role="presentation">
            <a href="/masters/{{id}}/trackers" data-toggle="collapse" data-target="#trackers-{{id}}" data-remote="true" class="scroll-to-expanded open-tracker {{#is trackers.length '===' 0}}collapsed{{/is}}{{#if trackers}}{{else}}collapsed{{/if}}"><span class="caret"></span> tracker <span data-sub-for-root="master_id" data-sub-id="{{id}}" data-sub-item="trackers" data-template="tracker-badge-template" class="tracker-count">{{>tracker_badge master_id=id}}</span></a>
          </li>
          <li role="presentation">
            <a href="#/" data-toggle="collapse" data-target="#details-{{id}}" class="scroll-to-expanded "><span class="caret"></span> details</a>
          </li>
  
          <li role="presentation">
            <a href="#/" data-toggle="collapse" data-target="#external-ids-{{id}}" class="collapsed scroll-to-expanded "><span class="caret"></span> external ids</a>
          </li>
    
          <li role="presentation">
            <a href="#/" data-toggle="collapse" data-target="#extended-info-{{id}}" class="collapsed scroll-to-expanded "><span class="caret"></span> extended info</a>
          </li>
          <li role="presentation">
            <a href="#/" data-toggle="collapse" data-target="#change-history-{{id}}" class="collapsed scroll-to-expanded "><span class="caret"></span> change history</a>
          </li>
  
          <li role="presentation">
            <a href="#/" data-toggle="collapse" data-target="#external-links-{{id}}" class="collapsed scroll-to-expanded "><span class="caret"></span> web links</a>
          </li>
          
  
        </ul>        
        <div class="panel-body">
          <div class="external-links row collapse " id="external-links-{{id}}" data-master-id="{{id}}">
          </div>
          
          <div id="external-ids-{{id}}" class="row collapse external-ids-block">
            <div class="on-open-click hidden">
              <a href="/masters/{{id}}/scantrons" data-result-target="#scantrons-{{id}}-" data-template="scantrons-list-template" data-remote="true" class="">scantron</a>
              <a href="/masters/{{id}}/sage_assignments" data-result-target="#sage-assignments-{{id}}-" data-template="sage-assignments-list-template" data-remote="true" class="">sage assignment</a>
            </div>
            <div class="col-md-6" id="scantrons-{{id}}-" data-sub-list="scantrons"></div>            
            <div class="col-md-6" id="sage-assignments-{{id}}-" data-sub-list="sage_assignments"></div>
    
          </div>
  
          <div id="extended-info-{{id}}" class="row collapse extended-info-block format-block-on-expand">
            <div class="on-open-click hidden">
              <% dm = DynamicModel.active.where(category: 'extended-info') 
                 dm.each do |m|               
              %>
              <a href="/masters/{{id}}/dynamic_model/<%=m.model_path_name%>" data-result-target="#<%=m.model_path_name%>-{{id}}-" data-template="<%=m.model_data_template_name%>-list-template" data-remote="true" class=""><%=m.name%></a>
              <% end %>
            </div>
            <% dm.each do |m| %>
            <div class="col-md-6" id="<%=m.model_path_name%>-{{id}}-" data-sub-list="<%=m.model_path_name%>"></div>                        
            <% end %>
          </div>
  
          <div id="change-history-{{id}}" class="row collapse extended-info-block format-block-on-expand">
            <div class="on-open-click hidden">
              <% dm = DynamicModel.active.where(category: 'history') 
                 dm.each do |m|               
              %>
              <a href="/masters/{{id}}/dynamic_model/<%=m.model_path_name%>" data-result-target="#<%=m.model_path_name%>-{{id}}-" data-template="<%=m.model_data_template_name%>-list-template" data-remote="true" class=""><%=m.name%></a>
              <% end %>
            </div>
            <% dm.each do |m| %>
            <div class="row dynamic-model-list" id="<%=m.model_path_name%>-{{id}}-" data-sub-list="<%=m.model_path_name%>"></div>                        
            <% end %>
          </div>
  
          <div id="trackers-{{id}}" data-sub-for-root="master_id" data-sub-id="{{id}}" data-sub-item="trackers" data-template="tracker-tree-result-template" class="collapse {{#is trackers.length '>' 0}}in{{/is}} tracker-block panel panel-default">
          {{#with trackers}}
            {{>tracker_tree_results master_id=../id}}
          {{else}}
            {{>empty_tracker_tree_results master_id=id}}                
          {{/with}}
                        
          {{#with latest_tracker_history.[0]}}
            <div class="latest-tracker-history" id="latest-tracker-history-{{master_id}}" data-lth-protocol="{{protocol_name}}" data-lth-process="{{sub_process_name}}" data-lth-event-id="{{protocol_event_id}}" data-lth-event="{{event_name}}" data-lth-event-milestone="{{event_milestone}}"></div>  
          {{/with}}
          </div>
          
          <div id="details-{{id}}" class="collapse in details-block">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                {{#with player_infos.[0]}}
                  
                    <div class="col-md-12">
                      
                      {{>player_info_result _created=@index}}
                      
                    </div>
                    
                {{else}}
                  
                    <div class="col-md-12">
                      <div id="player-info-{{../id}}-" data-subscription="player-info-edit-form-{{../id}}-" class="new-block">
                        <h4>No player info</h4>
                        <p><a href="/masters/{{id}}/player_infos/new" data-remote="true" class="btn btn-sm btn-primary" data-toggle="scrollto-result" data-target="#player-info-{{id}}-"><span class="glyphicon glyphicon-plus"></span> Player Info record</a> </p>
                      </div>
                    </div>                    
                  
                {{/with}}
                {{#with pro_infos.[0]}}                    
                    <div class="col-md-12">
                      {{>pro_info_result _created=@index}}
                    </div>                                                          
                {{else}}
                  
                    <div class="col-md-12">
                      <div id="pro-info-{{../id}}-" >
                        <h4>No pro info </h4>                        
                      </div>
                    </div>                    
                  
                {{/with}}
                                    
                </div>
              </div>



              <div class="col-md-6" id="addresses-{{id}}-" data-sub-list="addresses">
                {{#each addresses}}
                  
                    {{>address_result _created=@index}}

                {{/each}}

                <div class="new-block" id="address-{{id}}-" data-subscription="address-edit-form-{{id}}-" data-preprocessor="address_edit_form">
                  {{#unless addresses}}<h4>No addresses</h4>{{/unless}}                
                </div>
                <p class="text-center"><a href="/masters/{{id}}/addresses/new" data-remote="true" class="btn btn-sm btn-primary" data-toggle="scrollto-result" data-target="#address-{{id}}-"><span class="glyphicon glyphicon-plus"></span> Address record</a> </p>

              </div>
              <div class="col-md-6" id="player_contacts-{{id}}-" data-sub-list="player_contacts">
                {{#each player_contacts}}
                  
                  {{>player_contact_result _created=@index}}

                {{/each}}

                <div class="new-block" id="player-contact-{{id}}-" data-subscription="player-contact-edit-form-{{id}}-" data-preprocessor="player_contact_edit_form">
                  {{#unless player_contacts}}<h4>No Contact Records</h4>{{/unless}}                
                </div>
                <p class="text-center"><a href="/masters/{{id}}/player_contacts/new" data-remote="true" class="btn btn-sm btn-primary" data-toggle="scrollto-result" data-target="#player-contact-{{id}}-"><span class="glyphicon glyphicon-plus"></span> Contact record</a> </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
      
    </div>
    <div class="hidden" id="msid_list">{{#each masters}}{{msid}} {{/each}}</div>
    <div class="hidden" id="master_id_list">{{#each masters}}{{id}} {{/each}}</div>
  {{else}}
      <h2>No Results</h2>
  {{/if}}
  
  
</script>
  
  
