<%

  def view?
    return @viewables if @viewables
    @viewables = Admin::UserAccessControl.view_tables? current_user
    @viewables[:pro_infos] &&= !app_config_set(:hide_pro_info)
    @viewables
  end

  # get only the viewables marked true
  @true_views = view?.select{|k,v| v }.map(&:first)

  panels = Admin::PageLayout.active.where(app_type_id: current_user.app_type_id, layout_name: 'master').order(panel_position: :asc)

%>


<% # Set up the handlebars templates for the main data blocks: player_infos, pro_infos, addresses and player_contacts %>
<%= render partial: 'common_templates/search_results_template', locals: {
    name: 'player_info',
    caption: 'person',
    prevent_edit: !(current_user.has_access_to? :edit, :table, :player_infos),
    prevent_create: !(current_user.has_access_to? :create, :table, :player_infos),
    item_list: %w(first_name last_name middle_name nick_name birth_date death_date start_year end_year college source_name notes tracker_history_id),
    data_sort: [:desc, "data-item-id"],
    hide_rank_badge: app_config_set(:hide_player_accuracy)
  } %>

<%= render partial: 'common_templates/search_results_template', locals: {
    name: 'pro_info',
    prevent_edit: true,
    prevent_create: true,
    item_list: %w(pro_id first_name last_name middle_name nick_name birth_date death_date start_year end_year college),
    data_sort: [:desc, "data-item-id"],
    exclude_metadata: true
  } %>


<%= render partial: 'common_templates/search_results_template', locals: {
    name: 'player_contact',
    caption: '{{capitalize rec_type}}', # substitute the rec_type attribute (capitalized) as the block caption
    prevent_edit: !(current_user.has_access_to? :edit, :table, :player_contacts),
    prevent_create: !(current_user.has_access_to? :create, :table, :player_contacts),
    item_list: %w(data source tracker_history_id),
    data_sort: [:desc, "data-rank"],
    extra_class: '{{rec_type}}-type'
  } %>

<%= render partial: 'common_templates/search_results_template', locals: {
    name: 'address',
    prevent_edit: !(current_user.has_access_to? :edit, :table, :addresses),
    prevent_create: !(current_user.has_access_to? :create, :table, :addresses),
    item_list: %w(country_name,street,street2,street3,city,state_name,zip,region,postal_code,source_name,rec_type tracker_history_id),
    data_sort: [:desc, "data-item-rank"],
    # add custom markup data attribute to allow country to be processed in Javascript formatting
    custom_block_attrs: {data_address_is_us: "{{#is country 'us'}}true{{else is country ''}}true{{else is country null}}true{{else}}false{{/is}}"}
  } %>



<% # Add in all the external ID handlers (Scantron, Sage, etc)
    external_id_types = ExternalIdentifier.active.map(&:implementation_class)
    viewable_external_ids = external_id_types.select{|e| view?[e.plural_name.to_sym] }.map(&:plural_name)
    external_id_types.each do |e|

      formatter = e.external_id_view_formatter
      pattern = e.external_id_edit_pattern
      if formatter.blank? && !pattern.blank?
        formatter = 'pattern_mask "' + pattern.gsub('\\', '\\\\') + '"';
      end

%>
<%= render partial: 'common_templates/search_results_template', locals: {
    name: e.name.underscore,
    caption: e.label,
    prevent_edit: e.prevent_edit? || !(current_user.has_access_to? :edit, :table, e.plural_name),
    prevent_create: e.prevent_create? || !(current_user.has_access_to? :create, :table, e.plural_name),
    item_list: [label: e.label, formatter: formatter, attribute: e.external_id_attribute.to_s],
    data_sort: [:desc, "data-updated-at-ts"]
  } %>
<% end %>

<% # Setup the tracker handlebars templates %>
<%= render partial: 'trackers/search_results_template' %>
<%= render partial: 'tracker_histories/search_results_template' %>

<% # Setup the handlebars templates for the external links (web links) %>
<%= render partial: 'external_links/search_results_template' %>

<% # Setup the handlebars templates for the dynamic models, defined in the admin panel %>
<%= render partial: 'dynamic_models/search_results_template' %>

<% # Setup the activity logs handlebars templates %>
<%= render partial: 'activity_logs/search_results_template' %>

<% # Load partial handlebars templates used by the search results and data blocks%>
<% if panels && panels.length > 0
    # Tabs as defined by the page layout panels
%>
<%= render partial: 'masters/search_results_master_tabs', locals: {panels: panels, external_id_types: external_id_types, viewable_external_ids: viewable_external_ids} %>
<% else
    # Default tabs when no page layout panels are defined
%>
<%= render partial: 'masters/search_results_master_tabs_default', locals: {external_id_types: external_id_types, viewable_external_ids: viewable_external_ids} %>
<% end %>
<%= render partial: 'masters/search_results_parts', locals: {external_id_types: external_id_types, viewable_external_ids: viewable_external_ids} %>
<%= render partial: 'common_templates/common_parts' %>
<%= render partial: 'item_flags/search_results_template' %>


<% # Display the set of search results in the "master search" format %>

<script id="search-results-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#if masters.length}}
  <div class="panel-group" id="results-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default results-panel">

    {{#each masters}}
      {{>master_panel_heading num_masters=../masters.length}}
      <div id="master-{{id}}-main-container" class="panel-collapse collapse {{#is ../masters.length 1}}in{{/is}} master-panel" data-master-id="{{id}}" role="tabpanel" aria-labelledby="master-{{id}}">
        {{>master_tabs}}
        <div class="panel-body master-main-panel">
          <%
          if panels && panels.length > 0

            panels.each do |panel|
              initial_show = panel.view_options && panel.view_options.initial_show
              if panel.contains && panel.contains.categories
                panel.contains.categories.each do |cat|
          %>
                 <%= render partial: 'masters/search_results_category_panel', locals: {panel: panel, category: cat, panel_name: panel.panel_name, panel_label: panel.panel_label, initial_show: initial_show} %>
          <%
                end
              elsif panel.contains && panel.contains.resources
          %>
                <%= render partial: 'masters/search_results_resources_panel', locals: {panel: panel} %>
          <%
              end
            end
          %>
          <% else # panels %>
          {{>master_external_links_panel}}

            <% ActivityLog.enabled.each do |a| %>
              <% if view?[a.full_item_types_name.to_sym] %>
              <div id="<%= a.full_item_types_name.hyphenate %>-{{id}}" class="activity-logs-generic-block <%= a.full_item_types_name.hyphenate %>-block collapse" data-sub-for-root="master_id" data-sub-id="{{id}}" data-sub-item="<%= a.full_item_types_name %>" data-template="<%= a.model_data_template_name %>-main-result-template"  >
                  <div id="<%= a.full_item_types_name.hyphenate %>-inner-{{id}}" class="activity-logs-inner-block"></div>
              </div>
              <% end %>
            <% end %>

            <%= render partial: 'masters/search_results_category_panel', locals: {category: 'trackers', panel_name: 'trackers', panel_label: 'Tracker', initial_show: true} %>
            <%= render partial: 'masters/search_results_category_panel', locals: {category: 'details', panel_name: 'details', panel_label: 'Details', initial_show: true} %>
            <%= render partial: 'masters/search_results_category_panel', locals: {category: 'external-ids', panel_name: 'external-ids', panel_label: 'External IDs', initial_show: false} %>

            <% DynamicModel.categories.each do |cat| %>
              <%= render partial: 'masters/search_results_category_panel', locals: {category: cat, panel_name: cat, panel_label: cat.humanize.titleize, initial_show: false} %>
            <% end %>
          <% end %>

        </div>
      </div>
    {{/each}}

    </div>
    <div class="hidden" id="msid_list">{{#each masters}}{{msid}} {{/each}}</div>
    <div class="hidden" id="master_id_list">{{#each masters}}{{id}} {{/each}}</div>
  {{else}}
      <h2>No Results</h2>
  {{/if}}


</script>
