<div class="container-fluid collapse in" id="master-search-simple">
<p>
    <a href="#master-search-advanced" data-toggle="collapse" class="collapsed">Advanced Search</a> &nbsp;&nbsp;
    <a href="#" class="clear-fields">Clear Fields</a>
</p>
    
<%= form_for @master, method: :get, remote: true, html: {id: 'simple_search_master', class: 'search_master'} do |f| %>

  <div class="row">
    <%= hidden_field_tag :mode, "SIMPLE" %>

    <%= f.fields_for :general_infos do |pif| %>
      <div class="form-group col-sm-3">
        <%= pif.label :first_or_nick_name, 'data-add-icon' => 'info-sign', title: 'search for first names or nick names starting with this value' %>
        <%= pif.text_field :first_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= pif.label :last_name %>
        <%= pif.text_field :last_name, class: 'form-control'  %>
      </div>      
      <div class="form-group col-sm-3">
        <%= pif.label :birth_date %>
        <%= pif.date_field :birth_date, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= pif.label :death_date %>
        <%= pif.date_field :death_date, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= pif.label :start_year %>
        <%= pif.number_field :start_year, in: Settings::StartYearRange, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= pif.label :end_year %>
        <%= pif.number_field :end_year, in: Settings::EndYearRange, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= pif.label :college %>
        <%= pif.text_field :college, class: 'form-control simple-college-input typeahead'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= pif.label "email / phone", 'data-add-icon' => 'info-sign', title: 'search for phone or email starting with this value' %>
        <%= pif.text_field :contact_data, class: 'form-control'  %>
      </div>
      
    <% end %>
  </div>
  <div class="form-group form-actions clearfix">
    <%= f.submit :submit, class: "btn btn-default btn-sm pull-right" %>
    
    <span id="search_count_simple" class="search-results-count pull-right" data-subscription="count" data-template="search-count-template" ></span>
  </div>
<%end%>
<script>
  _fpa.form_utils.setup_typeahead('input.simple-college-input', 'college_list', "colleges");
</script>

</div>
  
  