<%

  def view?
    return @viewables if @viewables
    @viewables = Admin::UserAccessControl.view_tables? current_user
    @viewables[:pro_infos] &&= !app_config_set(:hide_pro_info)
    @viewables
  end

  # get only the viewables marked true
  @true_views = view?.select{|k,v| v }.map(&:first)
%>

<% # Load partial handlebars templates used by the search results and data blocks%>
<%= render partial: 'masters/search_results_parts' %>
<%= render partial: 'common_templates/common_parts' %>
<%= render partial: 'item_flags/search_results_template' %>

<% # Set up the handlebars templates for the main data blocks: player_infos, pro_infos, addresses and player_contacts %>
<%= render partial: 'common_templates/search_results_template', locals: {
    name: 'player_info',
    caption: 'person',
    prevent_edit: !(current_user.has_access_to? :edit, :table, :player_infos),
    prevent_create: !(current_user.has_access_to? :create, :table, :player_infos),
    item_list: %w(first_name last_name middle_name nick_name birth_date death_date start_year end_year college source_name notes tracker_history_id),
    data_sort: [:desc, "data-item-id"],
    hide_rank_badge: app_config_set(:hide_player_accuracy)
  } %>

<%= render partial: 'common_templates/search_results_template', locals: {
    name: 'pro_info',
    prevent_edit: true,
    prevent_create: true,
    item_list: %w(pro_id first_name last_name middle_name nick_name birth_date death_date start_year end_year college),
    data_sort: [:desc, "data-item-id"],
    exclude_metadata: true
  } %>


<%= render partial: 'common_templates/search_results_template', locals: {
    name: 'player_contact',
    caption: '{{capitalize rec_type}}', # substitute the rec_type attribute (capitalized) as the block caption
    prevent_edit: !(current_user.has_access_to? :edit, :table, :player_contacts),
    prevent_create: !(current_user.has_access_to? :create, :table, :player_contacts),
    item_list: %w(data source tracker_history_id),
    data_sort: [:desc, "data-rank"],
    extra_class: '{{rec_type}}-type'
  } %>

<%= render partial: 'common_templates/search_results_template', locals: {
    name: 'address',
    prevent_edit: !(current_user.has_access_to? :edit, :table, :addresses),
    prevent_create: !(current_user.has_access_to? :create, :table, :addresses),
    item_list: %w(country_name,street,street2,street3,city,state_name,zip,region,postal_code,source_name,rec_type tracker_history_id),
    data_sort: [:desc, "data-item-rank"],
    # add custom markup data attribute to allow country to be processed in Javascript formatting
    custom_block_attrs: {data_address_is_us: "{{#is country 'us'}}true{{else is country ''}}true{{else is country null}}true{{else}}false{{/is}}"}
  } %>



<% # Add in all the external ID handlers (Scantron, Sage, etc)
    external_id_types = ExternalIdentifier.active.map(&:implementation_class)
    external_id_types.each do |e|

      formatter = e.external_id_view_formatter
      pattern = e.external_id_edit_pattern
      if formatter.blank? && !pattern.blank?
        formatter = 'pattern_mask "' + pattern.gsub('\\', '\\\\') + '"';
      end

%>
<%= render partial: 'common_templates/search_results_template', locals: {
    name: e.name.underscore,
    caption: e.label,
    prevent_edit: e.prevent_edit? || !(current_user.has_access_to? :edit, :table, e.plural_name),
    prevent_create: e.prevent_create? || !(current_user.has_access_to? :create, :table, e.plural_name),
    item_list: [label: e.label, formatter: formatter, attribute: e.external_id_attribute.to_s],
    data_sort: [:desc, "data-updated-at-ts"]
  } %>
<% end %>

<% # Setup the tracker handlebars templates %>
<%= render partial: 'trackers/search_results_template' %>
<%= render partial: 'tracker_histories/search_results_template' %>

<% # Setup the handlebars templates for the external links (web links) %>
<%= render partial: 'external_links/search_results_template' %>

<% # Setup the handlebars templates for the dynamic models, defined in the admin panel %>
<%= render partial: 'dynamic_models/search_results_template' %>

<% # Setup the activity logs handlebars templates %>
<%= render partial: 'activity_logs/search_results_template' %>


<% # Display the set of search results in the "master search" format %>

<script id="search-results-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#if masters.length}}
  <div class="panel-group" id="results-accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default results-panel">

    {{#each masters}}
      <div class="panel-heading master-result {{#is ../masters.length '===' 1}}selected-result{{/is}}" role="tab" id="master-{{id}}">
        <h3 class="panel-title">
          <a class="glyphicon glyphicon-link pull-right" href="/masters/{{id}}" title="link to this record"> </a>
          <div class="row">
            {{>master_id_summary_result master_id=id}}
            <a class="master-expander collapsed" data-toggle="collapse" data-parent="#results-accordion" href="#master-{{id}}-player-infos" aria-expanded="false" aria-controls="master-{{id}}-player-infos" class=" {{#is ../masters.length '!==' 1}}collapsed{{/is}}">

              <div class="col-md-11 col-lg-11 player-info-header" data-sub-for="master_id" data-sub-id="{{id}}" data-sub-item="player_info" data-template="player-info-summary-result-template">
                <% if view?[:player_infos] %>
                {{#with player_infos.[0]}}
                  {{>player_info_summary_result}}
                {{else}}
                <strong class="no-player-info">(no player info)</strong>
                {{/with}}
                <% end %>
              </div>
              <% if view?[:pro_infos] %>
              <div class="col-md-9 col-md-offset-1 pro-info-header">
              {{#with pro_infos.[0]}}
                {{>pro_info_summary_result}}
              {{/with}}
              </div>
              <% end %>
            </a>
          </div>
        </h3>
      </div>
      <div id="master-{{id}}-player-infos" class="panel-collapse collapse {{#is ../masters.length 1}}in{{/is}}" role="tabpanel" aria-labelledby="master-{{id}}">
        <ul class="nav nav-pills details-tabs <%= app_config_set(:hide_player_tabs) ? 'hidden' : '' %>">

          <% unless app_config_set(:hide_tracker_panel) %>
          <li role="presentation">
            <a href="/masters/{{id}}/trackers" data-toggle="collapse" data-target="#trackers-{{id}}" data-remote="true" class="scroll-to-expanded open-tracker {{#is trackers.length '===' 0}}collapsed{{/is}}{{#if trackers}}{{else}}collapsed{{/if}}"><span class="caret"></span> tracker <span data-sub-for-root="master_id" data-sub-id="{{id}}" data-sub-item="trackers" data-template="tracker-badge-template" class="tracker-count">{{>tracker_badge master_id=id}}</span></a>
          </li>
          <% end %>
          <li role="presentation">
            <a href="#/" data-toggle="collapse" data-target="#details-{{id}}" class="scroll-to-expanded "><span class="caret"></span> details</a>
          </li>
          <%
          viewable_external_ids = external_id_types.select{|e| view?[e.plural_name.to_sym] }.map(&:plural_name)
          if viewable_external_ids.length > 0
          %>
          <li role="presentation">
            <a href="#/" data-toggle="collapse" data-target="#external-ids-{{id}}" class="collapsed scroll-to-expanded "><span class="caret"></span> external ids</a>
          </li>
          <% end %>

          <% if (DynamicModel.categories - ['details']).length > 1 %>
          <li role="presentation" class="dropdown">
            <a href="#" class="dropdown-toggle" id="dm-tag-drop" data-toggle="dropdown" aria-controls="dm-tag-drop-contents" aria-expanded="false">records</a>
            <ul class="dropdown-menu" aria-labelledby="dm-tag-drop" id="dm-tag-drop-contents">
          <%end%>
          <% (DynamicModel.categories - ['details']).each do |cat| %>
            <% if DynamicModel.active.where(category: cat).all.select {|d| @true_views.include? d.model_association_name }.length  > 0 %>
          <li role="presentation">
            <a href="#/" data-toggle="collapse" data-target="#<%=cat%>-{{id}}" class="collapsed scroll-to-expanded "><span class="caret"></span> <%= cat.underscore.humanize.downcase %></a>
          </li>
            <% end %>
          <% end %>
          <% if (DynamicModel.categories - ['details']).length > 1 %>
            </ul>
          </li>
          <% end %>

          <% if current_user && current_user.can?(:view_external_links) %>
          <li role="presentation">
            <a href="#/" data-toggle="collapse" data-target="#external-links-{{id}}" class="collapsed scroll-to-expanded "><span class="caret"></span> web links</a>
          </li>
          <% end %>

          <% ActivityLog.enabled.each do |a| %>
            <% if view?[a.full_item_types_name.to_sym] %>
            <li role="presentation" class="<%= app_config_text(:show_activity_log_panel)==a.item_type_name ? 'on-open-click' : '' %>">
              <a id="tab-activity-log-<%= a.item_type_name %>" href="/masters/{{id}}/activity_log/<%= a.item_type_name.pluralize %>" data-remote="true" data-prevent-on-collapse="true" data-toggle="collapse" data-target="#<%= a.full_item_types_name.hyphenate %>-{{id}}" class="collapsed scroll-to-expanded "  data-result-target="#<%= a.full_item_types_name.hyphenate %>-{{id}}" data-template="<%= a.model_data_template_name %>-main-result-template"><span class="caret"></span> <%= a.name.downcase %></a>
            </li>
            <% end %>
          <% end %>
        </ul>
        <div class="panel-body master-main-panel">
          <% if current_user && current_user.can?(:view_external_links) %>
          <div class="external-links row collapse " id="external-links-{{id}}" data-master-id="{{id}}"></div>
          <% end %>

          <% ActivityLog.enabled.each do |a| %>
            <% if view?[a.full_item_types_name.to_sym] %>
            <div id="<%= a.full_item_types_name.hyphenate %>-{{id}}" class="activity-logs-generic-block <%= a.full_item_types_name.hyphenate %>-block collapse" data-sub-for-root="master_id" data-sub-id="{{id}}" data-sub-item="<%= a.full_item_types_name %>" data-template="<%= a.model_data_template_name %>-main-result-template"  >
                <div id="<%= a.full_item_types_name.hyphenate %>-inner-{{id}}" class="activity-logs-inner-block"></div>
            </div>
            <% end %>
          <% end %>

          <% unless app_config_set(:hide_tracker_panel) %>
          <div id="trackers-{{id}}" data-sub-for-root="master_id" data-sub-id="{{id}}" data-sub-item="trackers" data-template="tracker-tree-result-template" class="collapse {{#is trackers.length '>' 0}}in{{/is}} tracker-block panel panel-default">
          {{#with trackers}}
            {{>tracker_tree_results master_id=id}}
          {{else}}
            {{>empty_tracker_tree_results master_id=id}}
          {{/with}}

          {{#with latest_tracker_history.[0]}}
            <div class="latest-tracker-history" id="latest-tracker-history-{{master_id}}" data-lth-protocol="{{protocol_name}}" data-lth-process="{{sub_process_name}}" data-lth-event-id="{{protocol_event_id}}" data-lth-event="{{event_name}}" data-lth-event-milestone="{{event_milestone}}"></div>
          {{/with}}
          </div>
          <% end %>

          <div id="details-{{id}}" class="collapse in details-block  panel panel-default">
           <div class="is-header default-header">
             <h4>Details</h4>
           </div>
           <div class="panel-body">
            <div class="row">
              <% if view?[:player_infos] || view?[:pro_infos] %>
              <div class="<%= app_config_set(:hide_pro_info) || !current_user.has_access_to?(:access, :table, :player_infos) || !current_user.has_access_to?( :access, :table, :pro_infos)  ? layout_item_block_sizes[:regular] : 'col-md-16 col-lg-12' %>">
                <div class="row">
                <% if view?[:player_infos] %>
                {{#with player_infos.[0]}}

                    <div class="col-md-<%= !view?[:pro_infos] ? '24' : '12' %>">
                      {{>player_info_result _created=@index}}
                    </div>

                {{else}}

                    <div class="col-md-<%= !view?[:pro_infos] ? '24' : '12' %>">
                      <div id="player-info-{{id}}-" data-subscription="player-info-edit-form-{{id}}-" class="new-block">
                        <h4>No player info</h4>
                        <p>{{>player_info_create_button}}</p>
                      </div>
                    </div>

                {{/with}}
                <% end %>
                <% if view?[:pro_infos] %>
                {{#with pro_infos.[0]}}
                    <div class="col-md-<%= !view?[:player_infos] ? '24' : '12' %>">
                      {{>pro_info_result _created=@index}}
                    </div>
                {{else}}

                    <div class="col-md-<%= !view?[:player_infos] ? '24' : '12' %>">
                      <div id="pro-info-{{../id}}-" >
                        <h4>No pro info </h4>
                      </div>
                    </div>

                {{/with}}
                <% end %>

                </div>
              </div>
              <% end %>

              <% if view?[:addresses] %>
              <div class="<%= layout_item_block_sizes[:regular] %>" id="addresses-{{id}}-" data-sub-list="addresses">
                {{#each addresses}}

                    {{>address_result _created=@index}}

                {{/each}}

                <div class="new-block" id="address-{{id}}-" data-subscription="address-edit-form-{{id}}-" data-preprocessor="address_edit_form">
                  {{#unless addresses}}<h4>No addresses</h4>{{/unless}}
                </div>
                <p class="text-center">{{>address_create_button}}</p>

              </div>
              <% end %>

              <% if view?[:player_contacts] %>
              <div class="<%= layout_item_block_sizes[:regular] %>" id="player_contacts-{{id}}-" data-sub-list="player_contacts">
                {{#each player_contacts}}

                  {{>player_contact_result _created=@index}}

                {{/each}}

                <div class="new-block" id="player-contact-{{id}}-" data-subscription="player-contact-edit-form-{{id}}-" data-preprocessor="player_contact_edit_form">
                  {{#unless player_contacts}}<h4>No Contact Records</h4>{{/unless}}
                </div>
                <p class="text-center">{{>player_contact_create_button}}</p>

              </div>
              <% end %>

              <% dm = DynamicModel.active.where(category: 'details') %>
              <%= render partial: 'masters/dynamic_model_blocks', locals: { category_models: dm, viewable: view?, category: 'details' } %>

            </div>
           </div>
          </div>

          <div id="external-ids-{{id}}" class="panel panel-default section-panel collapse external-ids-block">
            <div class="is-header default-header section-panel-header">
              <% unless app_config_set(:hide_player_tabs) %>
                <a href="#external-ids-{{id}}" data-toggle="collapse" class="dropup scroll-to-master pull-right glyphicon glyphicon-remove-sign show-entity" title="close panel"></a>
              <% end %>
              <h4 class="list-group-item-heading">External IDs</h4>
            </div>
            <div class="row panel-body">
              <div class="on-open-click hidden">
              <%  external_id_types.each do |e|%>
                <% if view?[e.plural_name.to_sym] %>
                <a href="/masters/{{id}}/<%=e.plural_name%>" data-result-target="#<%=e.hyphenated_plural_name%>-{{id}}-" data-template="<%=e.hyphenated_plural_name%>-list-template" data-remote="true" class=""><%=e.label%></a>
                <% end %>
              <% end %>

              </div>
              <%  external_id_types.each do |e|%>
                <% if view?[e.plural_name.to_sym] %>
                <div class="<%= layout_item_block_sizes[:regular] %>" id="<%=e.hyphenated_plural_name%>-{{id}}-" data-sub-list="<%=e.plural_name%>"></div>
                <% end %>
              <% end %>
            </div>
          </div>

          <% DynamicModel.categories.each do |cat| %>
          <div id="<%=cat%>-{{id}}" class="panel panel-default section-panel collapse <%=cat%>-block format-block-on-expand">
            <div class="on-open-click hidden">
              <% dm = DynamicModel.active.where(category: cat)
                 dm.each do |m|
              %>
              <%= m.model_association_name %>
                <% if view?[m.model_association_name] %>
                <a href="/masters/{{id}}/dynamic_model/<%=m.implementation_model_name.pluralize%>" data-result-target="#<%=m.full_item_types_name%>-{{id}}-" data-template="<%=m.implementation_model_name.hyphenate.pluralize%>-list-template" data-remote="true" class=""><%=m.name%></a>
                <% end %>
              <% end %>
            </div>
            <div class="is-header default-header section-panel-header">
              <% unless app_config_set(:hide_player_tabs) %>
                <a href="#<%=cat%>-{{id}}" data-toggle="collapse" class="dropup scroll-to-master pull-right glyphicon glyphicon-remove-sign show-entity" title="close panel"></a>
              <% end %>
              <h4 class="list-group-item-heading"><%=cat.underscore.humanize.titleize%></h4>
            </div>

            <div class="row panel-body">
              <%= render partial: 'masters/dynamic_model_blocks', locals: { category_models: dm, viewable: view?, category: cat } %>
            </div>
          </div>
          <% end %>


        </div>
      </div>
    {{/each}}

    </div>
    <div class="hidden" id="msid_list">{{#each masters}}{{msid}} {{/each}}</div>
    <div class="hidden" id="master_id_list">{{#each masters}}{{id}} {{/each}}</div>
  {{else}}
      <h2>No Results</h2>
  {{/if}}


</script>
