<div class="container-fluid" id="master-search-advanced">
<%
  default_search_form = app_config_text(:default_search_form, 'Simple Search')
  hide_searchable_reports = app_config_set(:hide_search_form_searchable_reports)
%>


<div class="panel-group <%= @requested_master ? 'loading-results' : '' %>" id="master-search-accordion" role="tablist" aria-multiselectable="true">
  <div class="advanced-form-selections">
    <% unless app_config_set(:hide_search_form_simple) %>
    <button id="expand-simple-form" class="btn btn-primary" type="button" data-parent="#master-search-accordion" data-toggle="collapse" data-target="#master-search-simple-form" aria-expanded="true" aria-controls="master-search-advanced-form">Simple Search</button>
    <% end %>
    <% unless app_config_set(:hide_search_form_advanced) %>
    <button id="expand-adv-form" class="btn btn-primary collapsed" type="button" data-parent="#master-search-accordion" data-toggle="collapse" data-target="#master-search-advanced-form" aria-expanded="false" aria-controls="master-search-advanced-form">Advanced Search</button>
    <% end %>
    <% Report.active.searchable.for_user(current_user).each do |r|%>
      <%  # Hide the searchable reports, except for if one of those reports is the default.
        is_default = default_search_form == r.name.downcase
        if !app_config_set(:hide_search_form_searchable_reports) || is_default
          add_class = (is_default ? 'is_default_report' : 'collapsed')
      %>
          <a href="<%= report_path(id: r.id, part: :form, format: :html, view_context: :search) %>" data-preprocessor="reports_form" data-parent="#master-search-accordion" data-remote="true" class="btn btn-primary prevent-on-collapse <%= add_class %> one-time-only-ajax <%=hide_searchable_reports ? 'hidden' : ''%>" type="button" data-toggle="collapse" data-result-target="#master-report-<%=r.report_identifier%> .searchable-report" data-target="#master-report-<%=r.report_identifier%>" aria-expanded="<%= is_default ? 'true' : 'false' %>" aria-controls="master-report-<%=r.report_identifier%>" id="expand-searchable-report-<%=r.report_identifier%>" ><%=r.name%></a>
      <% end %>
    <% end %>

  </div>


  <div class="panel panel-default">
    <div id="master-search-simple-form" class="panel-collapse collapse <%= default_search_form == 'Simple Search' ? 'in' : '' %>" role="tabpanel">
      <div class="panel-body searchable-report">
        <%= render partial: 'search_form_simple' %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div id="master-search-advanced-form" class="panel-collapse collapse <%= default_search_form == 'Advanced Search' ? 'in' : '' %>" role="tabpanel">
      <div class="panel-body searchable-report">
        <%= render partial: 'search_form_advanced' %>
      </div>
    </div>
  </div>

  <% Report.active.searchable.for_user(current_user).each do |r|
      if default_search_form == r.name.downcase
        @view_context = :search
        @report = r
      else
        @report = nil
      end
     %>
    <div class="panel panel-default searchable-report-panel">
      <div id="master-report-<%=r.report_identifier%>" class="panel-collapse collapse <%= @report ? 'in' : '' %>" role="tabpanel">
        <div class="panel-body searchable-report"  data-report-id="<%=r.id%>">
          <%= render partial: "reports/form"  if @report%>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<span class="" data-sub-item="search_action" data-template="search-action-template"></span>

<script>

  var panel = $('.searchable-report-panel .collapse.in');
  if(panel && panel.length == 1) {
    if($('#search-action').html() != ('MSID')) {
      // Prevent an auto run report if the page is refreshing with a requested master or result set
      if(!$('#master-search-accordion').hasClass('loading-results')) {
        panel.find('input[type="submit"].auto-run').click();
      }
    }
  }

  $('.searchable-report-panel').on('shown.bs.collapse', function(){
    $('#master_results_block').html('');
    var data = {count: {count: 0, show_count: 0}};
    var h = _fpa.templates['search-count-template'](data);
    $('.search_count_reports').html(h);
    // Prevent an auto run report if the page is refreshing with a requested master or result set
    if(!$('#master-search-accordion').hasClass('loading-results')) {
      $(this).find('input[type="submit"].auto-run').click();
    }
  });

  $('#master-search-accordion').removeClass('loading-results');
</script>
