<%
  subject_data_type = app_config_text(:header_subject_data_type, Settings::DefaultSubjectInfoTableName)
  no_subject_details_label = app_config_text(:header_no_subject_details_label, '(no subject details)')
  no_subject_details_label = '' if no_subject_details_label == 'none'
%>
<script id="search-count-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  <span>
  {{#with count}}
  <span class="search_count">{{count}}</span> record{{#is count '!==' 1}}s{{/is}}
  {{#is count '>' show_count }} - showing {{show_count}} results - refine search to show others{{/is}}
  </span>
  {{/with}}
</script>

<script id="search-action-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  <span id="search-action" class="hidden search-action">{{search_action}}</span>
</script>


<script id="empty-template" type="text/x-handlebars-template" class="hidden handlebars-template">
</script>

<script id="master_header_prefix-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <span class="master-header-prefix">{{{header_prefix}}}</span>
</script>

<script id="master_header_title-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <span class="master-header-title">{{{header_title}}}</span>
</script>

<script id="subject_info_summary_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <strong class="player-names">
    {{capitalize first_name}}
    <span class="middle-name">{{capitalize middle_name}}</span>
    {{capitalize last_name}}
    {{#if nick_name}}
      <span class="nick-name">({{capitalize nick_name}})</span>
    {{/if}}

  </strong>
  {{#if birth_date}}
  <small>DOB</small> {{local_date birth_date '-'}}
  {{/if}}
  {{#if death_date}}
    <small>DOD</small> {{local_date death_date '-'}}
  {{/if}}
  <% unless app_config_set(:hide_player_accuracy) || app_config_set(:hide_participant_accuracy) %>
  <span data-sub-for="master_id" data-sub-id="{{master_id}}" data-sub-item="player_info" data-template="accuracy-badge-template">
    {{>accuracy_badge player_info=this}}
  </span>
  <% end %>
</script>

<script id="master_panel_heading" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <div class="panel-heading master-result num-masters-{{num_masters}} {{#is num_masters '===' 1}}selected-result{{/is}}" role="tab" id="master-{{id}}">
    <h3 class="panel-title">
      <a class="glyphicon glyphicon-link pull-right" href="/masters/{{id}}" title="link to this record"> </a>
      <div class="row">
        {{>master_id_summary_result master_id=id}}
        <a class="master-expander one-time-only-ajax {{#is num_masters '!==' 1}}collapsed{{/is}}" data-toggle="collapse" data-parent="#results-accordion" href="/masters/{{id}}.json" data-remote="true" data-target="#master-{{id}}-main-container" data-result-target="#master-{{id}}-main-container" data-template="master-main-template" aria-expanded="false" aria-controls="master-{{id}}-main-container">

          {{#if header_prefix}}
          <div class="col-md-3 col-lg-3 master-header-prefix-block">
            {{>master_header_prefix}}
          </div>
          {{/if}}
          <div class="{{#if header_prefix}}col-md-9 col-lg-9{{else}}col-md-11 col-lg-11{{/if}} player-info-header" data-sub-for="master_id" data-sub-id="{{id}}" data-sub-item="<%=subject_data_type.singularize%>" data-template="subject-info-summary-result-template">
            {{#if header_title}}
              <strong class="fixed-header-title-subject-info">{{>master_header_title}}</strong>
            {{else}}
              <% if master_viewables[subject_data_type.to_sym] %>
              {{#with <%=subject_data_type%>.[0]}}
                {{>subject_info_summary_result}}
              {{else}}
              <strong class="no-player-info no-subject-info"><%= no_subject_details_label %></strong>
              {{/with}}
              <% else %>
              <strong class="no-player-info no-subject-info-access"><%= no_subject_details_label %></strong>
              <% end %>
          {{/if}}
          </div>
          <% if master_viewables[:pro_infos] %>
          <div class="{{#if header_prefix}}col-md-8{{else}}col-md-9{{/if}} col-md-offset-1 pro-info-header">
          {{#with pro_infos.[0]}}
            {{>secondary_info_summary_result}}
          {{/with}}
          </div>
          <% end %>
        </a>
      </div>
    </h3>
  </div>
</script>



<script id="master_id_summary_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
<% id_list = app_config_items(:show_ids_in_master_result, ['master_id']) %>
<% unless id_list.first == 'none' %>
<div class="col-md-2 col-lg-2 result-refs">
  <% if id_list.length > 1 %>
  <% end %>
  <%
  first = true
  id_list.each do |i|
  %>
    <% if first && id_list.length > 1 %>
    <a href="#" class="switch_id glyphicon glyphicon-random" title="switch to alternative ID"></a>
    <% end %>
    <span class="alt-id-item <%= first && id_list.length > 1 ? '' : 'alt_id' %> <%=i%>" <% unless first %> style="display: none"<% end %> title="<%= i.humanize %>">{{#if <%= i %>}}{{<%= i %>}}{{else}}no&nbsp;<%= i.humanize %>{{/if}}</span>
  <%
    first = false
  end
  %>
  <span>&nbsp;</span>
</div>
<% end %>
</script>

<script id="secondary_info_summary_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
        <strong class="pro-names">
                  {{capitalize first_name}}
                  <span class="middle-name">{{capitalize middle_name}}</span>
                  {{capitalize last_name}}
                  {{#if nick_name}}
                    <span class="nick-name">({{capitalize nick_name}})</span>
                  {{/if}}
        </strong>
        {{#if birth_date}}
                <small>DOB</small> {{local_date birth_date '-'}}
        {{/if}}
        {{#if death_date}}
                <small>DOD</small> {{local_date death_date '-'}}
        {{/if}}
</script>

<script id="tracker_badge-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
<span class="badge tracker-button-badge" id="tracker-count-{{master_id}}">{{#is trackers_length null}}{{trackers.length}}{{else}}{{trackers_length}}{{/is}}</span>
</script>

<script id="accuracy_badge-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
<span class="label label-info player-info-badge-{{player_info.rank}}" title="{{player_info.accuracy_score_name}}">{{player_info.rank}}</span>
</script>



<script id="tracker-badge-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{>tracker_badge}}
</script>

<script id="accuracy-badge-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{>accuracy_badge}}
</script>

<script id="subject-info-summary-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with <%=subject_data_type%>}}
  {{>subject_info_summary_result}}
  {{/with}}
</script>


<script id="sublist_controls" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <div class="sublist-controls">
    {{#if filter_attr}}
    <div class="sublist-filter-selectors">
      {{#if filter_all}}
      <button class="btn btn-default btn-sm filter-switch-all glyphicon glyphicon-minus" data-filter-all="true"></button>
      {{/if}}
      {{#each (sort (unique (pluck (lookup this (or sub_list_data_name sub_list)) filter_attr filter_name)) 'desc')}}
      {{#is this.[1] 'includes' '{{' }}
      {{else}}
      <button class="btn btn-default btn-sm filter-switch {{#if ../all_active}}active{{else}}{{#is @key 0}}active{{/is}}{{/if}}" data-filter-sub-list="{{../sub_list}}" data-filter-sub-list-attr="{{hyphenate ../filter_attr}}" data-filter-val="{{this.[0]}}">{{#is this.[1]}}{{this.[1]}}{{else}}(none){{/is}}</button>
      {{/is}}
      {{/each}}
    </div>
    {{/if}}

    {{#if layout}}
    <div class="sublist-layout-selectors">
      <button class="btn btn-default btn-sm layout-switch glyphicon glyphicon-th active" data-layout-sub-list="{{sub_list}}" data-force-layout="card-block"></button><button class="btn btn-default btn-sm layout-switch glyphicon glyphicon-align-justify" data-layout-sub-list="{{sub_list}}" data-force-layout="wide-block"></button>
    </div>
    {{/if}}

    {{#if order}}
    <div class="sublist-order-selector">
      <button class="btn btn-default btn-sm order-switch glyphicon glyphicon-sort-by-attributes" data-order-sub-list="{{sub_list}}" data-order-val="{{order}}"></button>
    </div>
    {{/if}}
  </div>
</script>
