<script id="search-count-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  <span>
  {{#with count}}
  <span class="search_count">{{count}}</span> record{{#is count '!==' 1}}s{{/is}}
  {{#is count '>' show_count }} - showing {{show_count}} results - refine search to show others{{/is}}
  </span>
  {{/with}}
</script>

<script id="search-action-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  <span id="search-action" class="hidden search-action">{{search_action}}</span>
</script>


<script id="empty-template" type="text/x-handlebars-template" class="hidden handlebars-template">
</script>

<script id="master_header_prefix-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <span class="master-header-prefix">{{header_prefix}}</span>
</script>


<script id="player_info_summary_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <strong class="player-names">
    {{capitalize first_name}}
    <span class="middle-name">{{capitalize middle_name}}</span>
    {{capitalize last_name}}
    {{#if nick_name}}
      <span class="nick-name">({{capitalize nick_name}})</span>
    {{/if}}

  </strong>
  {{#if birth_date}}
  <small>DOB</small> {{local_date birth_date '-'}}
  {{/if}}
  {{#if death_date}}
    <small>DOD</small> {{local_date death_date '-'}}
  {{/if}}
  <% unless app_config_set(:hide_player_accuracy) %>
  <span data-sub-for="master_id" data-sub-id="{{master_id}}" data-sub-item="player_info" data-template="accuracy-badge-template">
    {{>accuracy_badge player_info=this}}
  </span>
  <% end %>
</script>

<script id="master_panel_heading" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <div class="panel-heading master-result {{#is num_masters '===' 1}}selected-result{{/is}}" role="tab" id="master-{{id}}">
    <h3 class="panel-title">
      <a class="glyphicon glyphicon-link pull-right" href="/masters/{{id}}" title="link to this record"> </a>
      <div class="row">
        {{>master_id_summary_result master_id=id}}
        <a class="master-expander one-time-only-ajax {{#is num_masters '!==' 1}}collapsed{{/is}}" data-toggle="collapse" data-parent="#results-accordion" href="/masters/{{id}}.json" data-remote="true" data-target="#master-{{id}}-main-container" data-result-target="#master-{{id}}-main-container" data-template="master-main-template" aria-expanded="false" aria-controls="master-{{id}}-main-container">

          {{#if header_prefix}}
          <div class="col-md-3 col-lg-3 master-header-prefix-block">
            {{>master_header_prefix}}
          </div>
          {{/if}}
          <div class="{{#if header_prefix}}col-md-9 col-lg-9{{else}}col-md-11 col-lg-11{{/if}} player-info-header" data-sub-for="master_id" data-sub-id="{{id}}" data-sub-item="player_info" data-template="player-info-summary-result-template">
            <% if view?[:player_infos] %>
            {{#with player_infos.[0]}}
              {{>player_info_summary_result}}
            {{else}}
            <strong class="no-player-info"><%= app_config_text :header_no_subject_details_label, '(no subject details)' %></strong>
            {{/with}}
            <% else %>
            <strong class="no-player-info"><%= app_config_text :header_no_subject_details_label, '(no subject details)' %></strong>
            <% end %>
          </div>
          <% if view?[:pro_infos] %>
          <div class="{{#if header_prefix}}col-md-8{{else}}col-md-9{{/if}} col-md-offset-1 pro-info-header">
          {{#with pro_infos.[0]}}
            {{>pro_info_summary_result}}
          {{/with}}
          </div>
          <% end %>
        </a>
      </div>
    </h3>
  </div>
</script>


<script id="master_external_links_panel" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <% if current_user && current_user.can?(:view_external_links) %>
  <div class="external-links row collapse " id="external-links-{{id}}" data-master-id="{{id}}" data-panel-name="external-links"></div>
  <% end %>
</script>

<script id="master_external_ids_panel" type="text/x-handlebars-template" class="hidden handlebars-partial">
    <div class="row panel-body">
      <div class="on-open-click hidden">
      <%  external_id_types.each do |e|%>
        <% if view?[e.plural_name.to_sym] %>
        <a href="/masters/{{id}}/<%=e.plural_name%>" data-result-target="#<%=e.hyphenated_plural_name%>-{{id}}-" data-template="<%=e.hyphenated_plural_name%>-list-template" data-remote="true" class=""><%=e.label%></a>
        <% end %>
      <% end %>

      </div>
      <%  external_id_types.each do |e|%>
        <% if view?[e.plural_name.to_sym] %>
        <div class="<%= layout_item_block_sizes[:regular] %>" id="<%=e.hyphenated_plural_name%>-{{id}}-" data-sub-list="<%=e.plural_name%>"></div>
        <% end %>
      <% end %>
    </div>

</script>

<script id="master_details_panel" type="text/x-handlebars-template" class="hidden handlebars-partial">

   <div class="panel-body">
    <div class="row">
      <% if view?[:player_infos] || view?[:pro_infos] %>
      <div class="<%= app_config_set(:hide_pro_info) || !current_user.has_access_to?(:access, :table, :player_infos) || !current_user.has_access_to?( :access, :table, :pro_infos)  ? layout_item_block_sizes[:regular] : 'col-md-16 col-lg-12' %>">
        <div class="row">
        <% if view?[:player_infos] %>
        {{#with player_infos.[0]}}

            <div class="col-md-<%= !view?[:pro_infos] ? '24' : '12' %>">
              {{>player_info_result _created=0}}
            </div>

        {{else}}

            <div class="col-md-<%= !view?[:pro_infos] ? '24' : '12' %>">
              <div id="player-info-{{id}}-" data-subscription="player-info-edit-form-{{id}}-" class="new-block">
                <h4>No subject details</h4>
                <p>{{>player_info_create_button}}</p>
              </div>
            </div>

        {{/with}}
        <% end %>
        <% if view?[:pro_infos] %>
        {{#with pro_infos.[0]}}
            <div class="col-md-<%= !view?[:player_infos] ? '24' : '12' %>">
              {{>pro_info_result _created=0}}
            </div>
        {{else}}

            <div class="col-md-<%= !view?[:player_infos] ? '24' : '12' %>">
              <div id="pro-info-{{../id}}-" >
                <h4>No pro info </h4>
              </div>
            </div>

        {{/with}}
        <% end %>

        </div>
      </div>
      <% end %>

      <% if view?[:addresses] %>
      <div class="<%= layout_item_block_sizes[:regular] %>" id="addresses-{{id}}-" data-sub-list="addresses">
        {{#each addresses}}

            {{>address_result _created=@index}}

        {{/each}}

        <div class="new-block" id="address-{{id}}-" data-subscription="address-edit-form-{{id}}-" data-preprocessor="address_edit_form">
          {{#unless addresses}}<h4>No addresses</h4>{{/unless}}
        </div>
        <p class="text-center">{{>address_create_button}}</p>

      </div>
      <% end %>

      <% if view?[:player_contacts] %>
      <div class="<%= layout_item_block_sizes[:regular] %>" id="player_contacts-{{id}}-" data-sub-list="player_contacts">
        {{#each player_contacts}}

          {{>player_contact_result _created=@index}}

        {{/each}}

        <div class="new-block" id="player-contact-{{id}}-" data-subscription="player-contact-edit-form-{{id}}-" data-preprocessor="player_contact_edit_form">
          {{#unless player_contacts}}<h4>No Contact Records</h4>{{/unless}}
        </div>
        <p class="text-center">{{>player_contact_create_button}}</p>

      </div>
      <% end %>

      <%
        dm = DynamicModel.active.where(category: 'details')
        dm = dm.select {|m| m.model_association_name.in? @true_views}
      %>
      <%= render partial: 'masters/dynamic_model_blocks', locals: { category_models: dm, viewable: view?, category: 'details', force_load: 1, panel: nil } %>
    </div>
   </div>

</script>

<script id="master_trackers_panel" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <% unless app_config_set(:hide_tracker_panel) %>
    <div id="trackers-{{id}}" data-sub-for-root="master_id" data-sub-id="{{id}}" data-sub-item="trackers" data-template="tracker-tree-result-template" class="collapse {{#is trackers.length '>' 0}}in{{/is}} tracker-block panel panel-default">
    {{#with trackers}}
      {{>tracker_tree_results master_id=id}}
    {{else}}
      {{>empty_tracker_tree_results master_id=id}}
    {{/with}}

    {{#with latest_tracker_history.[0]}}
      <div class="latest-tracker-history" id="latest-tracker-history-{{master_id}}" data-lth-protocol="{{protocol_name}}" data-lth-process="{{sub_process_name}}" data-lth-event-id="{{protocol_event_id}}" data-lth-event="{{event_name}}" data-lth-event-milestone="{{event_milestone}}"></div>
    {{/with}}
    </div>
  <% end %>
</script>

<script id="master_id_summary_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
<% id_list = app_config_items(:show_ids_in_master_result, ['master_id']) %>
<% unless id_list.first == 'none' %>
<div class="col-md-2 col-lg-2 result-refs">
  <% if id_list.length > 1 %>
  <% end %>
  <%
  first = true
  id_list.each do |i|
  %>
    <% if first && id_list.length > 1 %>
    <a href="#" class="switch_id glyphicon glyphicon-random" title="switch to alternative ID"></a>
    <% end %>
    <span class="<%= first && id_list.length > 1 ? '' : 'alt_id' %> <%=i%>" <% unless first %> style="display: none"<% end %> title="<%= i.humanize %>">{{#if <%= i %>}}{{<%= i %>}}{{else}}no&nbsp;<%= i.humanize %>{{/if}}</span>
  <%
    first = false
  end
  %>
</div>
<% end %>
</script>

<script id="pro_info_summary_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
        <strong class="pro-names">
                  {{capitalize first_name}}
                  <span class="middle-name">{{capitalize middle_name}}</span>
                  {{capitalize last_name}}
                  {{#if nick_name}}
                    <span class="nick-name">({{capitalize nick_name}})</span>
                  {{/if}}
        </strong>
        {{#if birth_date}}
                <small>DOB</small> {{local_date birth_date '-'}}
        {{/if}}
        {{#if death_date}}
                <small>DOD</small> {{local_date death_date '-'}}
        {{/if}}
</script>

<script id="tracker_badge-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
<span class="badge tracker-button-badge" id="tracker-count-{{master_id}}">{{trackers.length}}</span>
</script>

<script id="accuracy_badge-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
<span class="label label-info player-info-badge-{{player_info.rank}}" title="{{player_info.accuracy_score_name}}">{{player_info.rank}}</span>
</script>



<script id="tracker-badge-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{>tracker_badge}}
</script>

<script id="accuracy-badge-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{>accuracy_badge}}
</script>

<script id="player-info-summary-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with player_info}}
  {{>player_info_summary_result}}
  {{/with}}
</script>
