<div class="container-fluid collapse" id="master-search-advanced">
<p>
    <a href="#master-search-simple" data-toggle="collapse" class="collapsed">Simple Search</a> &nbsp;&nbsp;
    <a href="#" class="clear-fields">Clear Fields</a>
</p>
<%
# Note the use of  
#   child_index: 0 
# on every fields_for helper call, to ensure that separated blocks referencing the same model are
# not treated as separate objects
# When a fields_for helper is used for the same symbol multiple times within a form 
# (typically to allow for presentation of fields from the same model across separated blocks)
# the params return something like "model_atts" => {"0"=>{...}, "1"=>{...}, "2"=>{...}}
# The child_index ensure they are merged down into "model_atts" => {"0"=>{..., ..., ...}} 
%>    
<%= form_for @master, method: :post, url: '/masters/', include_id: false, remote: true, html: {id: 'advanced_search_master', class: 'search_master'} do |f| %>

  <div class="row">

    <%= f.fields_for :player_infos, child_index: 0 do |f| %>
      <div class="form-group col-sm-2">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :middle_name %>
        <%= f.text_field :middle_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :nick_name %>
        <%= f.text_field :nick_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :birth_date %>
        <%= f.date_field :birth_date, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :death_date %>
        <%= f.date_field :death_date, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :college %>
        <%= f.text_field :college, class: 'form-control college-input typeahead'  %>
      </div>
      
      <div class="form-group col-sm-2">
        <%= f.label :start_year %>
        <%= f.number_field :start_year, in: Settings::StartYearRange, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :end_year %>
        <%= f.number_field :end_year, in: Settings::EndYearRange, class: 'form-control'  %>
      </div>
    <% end %>
  </div>
    
  <div class="row" id="pro-info-search" >
    <%= f.fields_for :pro_infos, child_index: 0 do |f| %>
      <div class="form-group col-sm-2">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :middle_name %>
        <%= f.text_field :middle_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :nick_name %>
        <%= f.text_field :nick_name, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :birth_date %>
        <%= f.date_field :birth_date, class: 'form-control'  %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :death_date %>
        <%= f.date_field :death_date, class: 'form-control'  %>
      </div>
      
      <div class="form-group col-sm-3">
        <%= f.label :college %>
        <%= f.text_field :college, class: 'form-control college-input typeahead'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :start_year %>
        <%= f.number_field :start_year, in: Settings::StartYearRange, class: 'form-control after-college-input'  %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :end_year %>
        <%= f.number_field :end_year, in: Settings::EndYearRange, class: 'form-control'  %>
      </div>
      
    <% end %>
  </div>

  <div class="row">
    <%=f.fields_for :addresses, child_index: 0 do |f| %>
      <div class="form-group col-sm-2">
        <%= f.label :street %>
        <%= f.text_field :street, class: 'form-control' %>
      </div>
      
      <div class="form-group col-sm-2">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :state %>
        <%= f.collection_select :state, state_hash, :first, :last, class: 'form-control', include_blank: true  %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :zip %>
        <%= f.text_field :zip, zip_field_props(class: 'form-control') %>
      </div>
    <% end %>
      
    <%= f.fields_for :player_contacts, child_index: 0 do |f| %>        
      <div class="form-group col-sm-3">
          <%= f.label :phone_or_email %>
          <%= f.text_field :data, class: 'form-control' %>           
      </div>
    <% end %>
      
    <%= f.fields_for :player_infos, child_index: 0 do |f| %>  
      <div class="form-group col-sm-2">
        <%= f.label :rank %>
        <%= f.number_field :rank, class: 'form-control' %>
      </div>
    <% end %>
      
    <%= f.fields_for :scantrons, child_index: 0 do |f| %>
      <div class="form-group col-sm-2">
        <%= f.label :scantron_id %>
        <%= f.text_field :scantron_id, class: 'form-control' %>
      </div>
    <% end %>
    </div>
    
    <div class="row">
    <%= f.fields_for :player_infos, child_index: 0 do |f| %>    
      <div class="form-group col-sm-6 ">
        <%= f.label :notes %>
        <%= f.text_field :notes, class: 'form-control' %>
      </div>
    
    <% end %>
    
    <div class="form-group col-sm-4">
      <%= label :player_info, "Player Tags" %>
      <%= collection_select("master[player_infos_item_flags_attributes][0]", :item_flag_name_id, item_flags_array(:player_info), :id, :name, {}, multiple: true) %>
    </div>
    <div class="form-group col-sm-4">
      <%= label :address, "Address Tags" %>
      <%= collection_select("master[addresses_item_flags_attributes][0]", :item_flag_name_id, item_flags_array(:address), :id, :name, {}, multiple: true) %>
    </div>
    <div class="form-group col-sm-4">
      <%= label :address, "Contact Tags" %>
      <%= collection_select("master[player_contacts_item_flags_attributes][0]", :item_flag_name_id, item_flags_array(:player_contact), :id, :name, {}, multiple: true) %>
    </div>    
  </div>
  <div class="form-group actions ">
    <%= f.submit :submit %>
  </div>
<% end %>
</div>

<script>
  _fpa.setup_typeahead('input.college-input', 'college_list', "colleges");
</script>

