<%
  # Show the search tabs at the top of the page, a hidden form to trigger an AJAX
  # request to fulfill the requested search, and the final results block
%>
<%= render partial: 'search_form' %>

<% if @master_id || @ext_id %>
  <%= form_for @master, method: :get, remote: true, html: {id: 'msid_search_master', class: 'msid_search_master hidden auto_search_master'} do |f| %>

      <%= hidden_field_tag :mode, "MSID" %>
      <div class="form-group col-sm-3">
        <%= f.text_field :id, id: 'simple_m_id', class: 'form-control', min: 0, value: @master_id %>
        <%= f.text_field 'external_id[id]', id: 'simple_external_id_id', class: 'form-control', min: 0, value: @ext_id %>
        <%= f.text_field 'external_id[field]', id: 'simple_external_id_field', class: 'form-control', min: 0, value: @ext_field %>
      </div>
    <%= f.submit :search, id: 'msid_search_reg', class: "btn btn-default btn-sm pull-right auto-submitter #{@master_req_format == 'reg' ? 'run-master-search' : ''}" %>
    <%= f.submit "csv", id: 'msid_search_csv', name: :format, value: "csv", class: "btn btn-default pull-right btn-sm #{@master_req_format == 'csv' ? 'run-master-search' : ''}" %>
    <%= f.submit "json", id: 'msid_search_json', name: :format, value: "json", class: "btn btn-default btn-sm  target_new_window pull-right #{@master_req_format == 'json' ? 'run-master-search' : ''}" %>

  <% end %>
<% end %>

<div  class="container-fluid">
  <div id="master_results_block" class="" data-sub-item="masters" data-template="search-results-template"></div>
  <div data-preprocessor="master_search_results" data-sub-item="report_res_name" data-template="empty"></div>
</div>
