<%= render partial: 'search_form_simple' %>
<%= render partial: 'search_form' %>

<% if @master_id || @msid || @master_pro_id %>

  <%= form_for @master, method: :get, remote: true, html: {id: 'msid_search_master', class: 'form-formatted msid_search_master hidden'} do |f| %>

      <%= hidden_field_tag :mode, "MSID" %>
      <div class="form-group col-sm-3">
        <%= f.text_field :id, id: 'simple_m_id', class: 'form-control', min: 0 %>
        <%= f.text_field :msid, id: 'simple_master_id', class: 'form-control', min: 0 %>
        <%= f.text_field :pro_id, id: 'simple_master_pro_id', class: 'form-control', min: 0 %>
      </div>
  <% end %>
<script>
  $('#simple_master_id').val('<%=@msid%>');
  $('#simple_m_id').val('<%=@master_id%>');
  $('#simple_master_pro_id').val('<%=@master_pro_id%>');
  window.setTimeout(function(){
    $('#msid_search_master').submit();
  }, 10);
  
</script>
  
<% end %>

<% if @do_search %>
<script>
  window.setTimeout(function(){
    if($('#advanced_search_master').is(':visible')){
      $('form#advanced_search_master').submit();
    }
    else{
      $('form#simple_search_master').submit();
    }
  },1);
</script>
<% end %>

<div  class="container-fluid">
  <div id="master_results_block" class="" data-sub-item="masters" data-template="search-results-template" data-preprocessor="master_search_results" ></div>
</div>
<%= render partial: 'search_results_template' %>