<div class="data-results">
  <div data-result="admin-edit-form-"  class="admin-edit-form">
<%= form_for([:admin, object_instance], class: "inline-form", remote: true) do |f| %>
  <%= render partial: 'admin_handler/form_errors' %>

  <% (permitted_params - [:id]).each do |p| %>
      <div class="form-group">
      <%
         col = object_instance.class.columns_hash[p.to_s]
         col_type = col.type
      %>
      <% if col_type == :boolean %>
        <%= f.label p %>
        <%= f.check_box p %>
      <% elsif p == :description %>
        <%= f.label p %>
        <%= f.text_area p %>
      <% elsif p == :options %>    
        <%= f.label p %>
        <%= f.text_area p %>
      <% elsif p == :disabled %>
        <%= f.check_box p %>
        <%= f.label p %>
      <% elsif respond_to? ("#{p}_options") %>
        <%= f.label p %>
        <% select_item_type = {}
           select_item_type[:selected] = params[:filter].first.last if params[:filter] && params[:filter].first.first.to_s == p.to_s   %>
        <%= f.select p, send("#{p}_options"), select_item_type %>
      <% else %>
        <%= f.label p %>
        <%= f.text_field p %>
      <% end %>
      </div>
  <% end %>

  <div class="form-group">

    <%= hidden_field_tag "filter[#{params[:filter].first.first}]", params[:filter].first.last  if params[:filter]%>

    <%= f.submit class: "btn btn-primary" %> <%= admin_edit_cancel %>
  </div>
<% end %>
  </div>
</div>
