<div class="data-results">
  <div data-result="admin-edit-form-"  class="admin-edit-form">
<%

  if object_has_admin_parent?
    fref = object_instance
    url = admin_form_url
  else
    fref = [:admin, object_instance]
    url = url_for([:admin, object_instance])
  end
  has_options = false
%>
<%= form_for(fref, url: url, class: "inline-form admin-edit-form", remote: true, data: {result_target: "#admin-item-#{object_instance.id}", preprocessor: "admin_result"}) do |f| %>
  <%= render partial: 'admin_handler/form_errors' %>

  <% (permitted_params - [:id]).each do |p| %>
      <%
        col = object_instance.class.columns_hash[p.to_s]
        col_type = col.type
      %>
      <div class="form-group" data-out-attr-name="<%= p %>" data-out-object-name="<%= object_instance.class.name.ns_underscore %>">
      <% if col_type == :boolean %>
        <%= f.label p %>
        <%= f.check_box p %>
      <% elsif p == :description %>
        <%= f.label p %>
        <%= f.text_area p %>
      <% elsif respond_to? ("#{p}_options") %>
        <%= f.label p %>
        <% select_item_type = {}
           select_item_type[:selected] = params[:filter].first.last if params[:filter] && params[:filter].first.first.to_s == p.to_s   %>
        <%= f.select p, send("#{p}_options"), select_item_type %>
      <% elsif p.to_s.end_with?('options') || p.to_s.end_with?('template')
          has_options = p
      %>
      <% elsif p == :disabled %>
        <%= f.check_box p %>
        <%= f.label p %>
      <% elsif p == :item_type %>
        <%= f.label :item_type, 'data-add-icon' => 'info-sign', title: "#{object_instance.id ? 'item type for existing records can not be changed.' : 'Set item type'}" %>
        <%= f.select :item_type, item_types_array, {}, disabled: !!object_instance.id  %>
      <% elsif p == :app_type_id %>
          <%= f.label p %>
          <% select_item_type = {}
             select_item_type[:selected] = params[:filter].first.last if params[:filter] && params[:filter].first.first == 'app_type_id'
           %>
          <%= f.select :app_type_id, app_type_options, select_item_type, extra_field_attributes[p.to_sym] %>
      <% elsif p == :user_id %>
          <%= f.label p %>
          <%= f.select :user_id, active_user_options, include_blank: true %>
      <% else %>
        <%= f.label p %>
        <%= f.text_field p %>
      <% end %>
      </div>

  <% end %>
  <% if has_options %>
    <div></div>
  <div class="form-group" data-out-attr-name="options" data-out-object-name="<%= object_instance.class.name.ns_underscore %>">
    <h4><%= has_options.to_s.humanize %></h4>
    <%= f.text_area has_options %>
  </div>
  <% end %>

<% if @show_extra_help_info %>
  <div class="form-group" style="vertical-align: top">
    <h4><%= @show_extra_help_info[:title] %></h4>
    <pre style="font-size: 12px">
        <%= @show_extra_help_info[:text] %>
    </pre>
  </div>
<% end %>

  <div class="form-group">

    <%= hidden_filter_fields %>

    <%= f.submit class: "btn btn-primary", value: "save" %> <%= admin_edit_cancel %>
  </div>
<% end %>
  </div>
</div>
