<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">
    <%= show_admin_heading %>
    <p>
      <%= show_filters %>
    </p>
    <%= render partial: 'head_info' if show_head_info %>
    <div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below">
      <% if @show_again_on_save && @updated_with 
        p_pre = view_folder ? '#{view_folder}/' : ''
      %>
        <%= render partial: "form"%>
      <% end %>
    </div>
    <table class="table tablesorter admin-list">
      <thead>
        <tr>
          <th class="no-sort"></th>
          <%
          index_params.each do |p|
            if p.to_s == 'admin_id'
              @show_admin_col = true
              next
            end

            is_options_field = (p.to_s.end_with?('options') || p.to_s.end_with?('template')) && !respond_to?("#{p}_options")
          %>
          <% unless is_options_field %>
            <th><%= p.to_s.humanize %></th>
          <% end %>
        <% end %>
        <% if admin_links.present? %>
          <th>Admin Links</th>
        <% end %>
        <% if @show_admin_col %>
          <th>Admin</th>
        <% end %>
      </tr>
    </thead>
    <%= render partial: view_path('item'), locals: {list_item: primary_model.new} %>
    <% objects_instance.each do |list_item| %>
      <%= render partial: view_path('item'), locals: {list_item: list_item} %>
    <% end %>
  </table>
  <div class="container">
    <%= @help_description %>
  </div>
  <% if @extra_part %>
    <%=  render partial: @extra_part  %>
  <% end %>
  <%=  render partial: 'admin_handler/index_actions'  %>
</div>
</div>
<script>
  $('.expandable').not('.attached-exp').on('click', function(){
      if($(this).attr('disabled')) return;
      _fpa.form_utils.toggle_expandable($(this));
  }).addClass('attached-exp');
</script>
