<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">
  <h1><%=human_name%></h1>

  <p>
    <%= show_filters %>
  </p>

  <div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below">
    <% if @show_again_on_save && @updated_with %>
      <%= render partial: "#{view_folder}/form"%>
    <% end %>
  </div>

  <table class="table tablesorter admin-list">
    <thead>
      <tr>
        <th class="no-sort"></th>
        <%
          num_fields = 0
          found_options = false
          index_params.each do |p|
            is_options_field = p.to_s.end_with?('options')
            unless found_options
              num_fields += 1
              found_options = p if is_options_field
            end
          %>
          <% unless is_options_field %>
          <th><%= p.to_s.humanize %></th>
          <% end %>
        <% end %>

      </tr>
    </thead>

    <tbody>
      <% objects_instance.each do |list_item| %>
        <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
          <td><%= admin_edit_btn list_item.id%> </td>
          <% index_params.each do |p|
              test_assoc = p.to_s.gsub('_id','')
              test_assoc_ids = p.to_s.gsub('_ids','').pluralize

              test_assoc_ids = nil if test_assoc_ids == p.to_s
              test_assoc = nil if test_assoc_ids == test_assoc || test_assoc == p.to_s
          %>

          <% if test_assoc && list_item.respond_to?(test_assoc) %>
            <td><%= list_item.send(test_assoc).to_s %></td>
          <% elsif test_assoc_ids && list_item.respond_to?(test_assoc_ids) %>
            <td><%= list_item.send(test_assoc_ids).map(&:to_s).join("; ") %></td>
          <% else %>
            <% unless p.to_s.end_with? 'options' %>
              <td><%= list_item.send(p) %></td>
            <% end %>
          <% end %>
        <% end %>

        </tr>
        <% if found_options %>
          <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
            <td>&nbsp;</td>
            <td colspan="<%=num_fields%>"><strong><%=found_options%>:</strong> <pre style="font-size: 12px" class="shrinkable-block"><%= list_item.send(found_options) %></pre></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="container">
    <%= @help_description %>
  </div>


  <%=  render partial: 'admin_handler/index_actions'  %>
  </div>
</div>
