<%
  num_fields = 1
  found_options = false

  unless no_options_field
    index_params.each do |p|
      is_options_field = p.to_s.end_with?('options') || p.to_s.end_with?('template')
      unless found_options
        num_fields += 1
        found_options = p if is_options_field
      end
    end
  end
%>
<% if found_options %>
<tbody class="admin-list-item <%=list_item.disabled ? 'disabled-result' : ''%> <%= list_item.persisted? ? '' : 'new-record hidden'%> <%= action_name.in?(['create', 'update']) ? 'saved-row postprocessed-scroll-here' : ''%>" id="admin-item-<%=list_item.id%>" data-result-position="<%= list_item.persisted? ? 'replace' : 'after'%>" data-preprocessor="admin_result">
  <tr class="admin-list-item <%=list_item.disabled ? 'disabled-result' : ''%>">
<% else %>
  <tr class="admin-list-item <%=list_item.disabled ? 'disabled-result' : ''%> <%= list_item.persisted? ? '' : 'new-record hidden'%> <%= action_name.in?(['create', 'update']) ? 'saved-row postprocessed-scroll-here' : ''%>" id="admin-item-<%=list_item.id%>" data-result-position="<%= list_item.persisted? ? 'replace' : 'after'%>" data-preprocessor="admin_result">
<% end %>
    <td class="admin-field-<%=p%>"><%= admin_edit_btn list_item.id%>&nbsp;&nbsp;&nbsp;<%= admin_edit_btn list_item.id, copy: list_item%>  </td>
    <% index_params.each do |p|
        next if p.to_s == 'admin_id'

        test_assoc = p.to_s.gsub('_id','')
        test_assoc_ids = p.to_s.gsub('_ids','').pluralize

        test_assoc_ids = nil if test_assoc_ids == p.to_s
        test_assoc = nil if test_assoc_ids == test_assoc || test_assoc == p.to_s

        p_type = list_item.class.columns_hash[p.to_s]&.type
        list_val = list_item.send(p)
    %>

    <% if respond_to?("#{p}_options") %>
      <td class="admin-field-<%=p%>"><%= list_val %></td>
    <% elsif p.to_s.end_with?('options') || p.to_s.end_with?('template') %>
    <% elsif test_assoc && list_item.respond_to?(test_assoc) %>
      <td class="admin-field-<%=p%>"><%= list_item.send(test_assoc).to_s %></td>
    <% elsif test_assoc_ids && list_item.respond_to?(test_assoc_ids) %>
      <td class="admin-field-<%=p%>"><%= list_item.send(test_assoc_ids).map(&:to_s).join("; ") %></td>
    <% elsif p.to_s.end_with?('_error') || list_val.is_a?(String) && list_val.include?("\n") %>
      <td class="admin-field-<%=p%>"><pre class="expandable"><%= list_val %></pre></td>
    <% elsif p == :result && list_val.is_a?(Hash) %>
      <td class="admin-field-<%=p%>"><pre><%= list_val.to_yaml %></pre></td>  
    <% elsif p == :api_key %>
      <td class="admin-field-<%=p%>"><%= list_val.present? ? '********' : ''  %></td>
    <% elsif p_type == :boolean %>
      <td class="admin-field-<%=p%>">
        <%= if list_val
          "<span class=\"glyphicon glyphicon-check val-checked\"></span>".html_safe  
        else
          "<span class=\"val-unchecked\"></span>".html_safe  
        end
        %>
      </td>
    <% else %>
      <td class="admin-field-<%=p%>"><%= list_val %></td>
    <% end %>
    <% end %>

    <% if admin_links.present? %>
    <td class="admin-item-admin-links">
      <% admin_links(list_item).each do |al| %><%= link_to *al %> <% end %>
    </td>
    <% end %>

    <% if @show_admin_col %>
    <td class="admin-item-admin-infos">
      <%= admin_last_updated_by_icon(list_item) %>
    </td>
    <% end %>
  </tr>
  <% if found_options %>
    <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
      <td>&nbsp;</td>
      <td colspan="<%=num_fields%>" class="admin-field-<%=p%>"><strong><%=found_options%>:</strong> <pre style="font-size: 12px" class="shrinkable-block"><%= list_item.send(found_options) %></pre></td>
    </tr>
  </tbody>
  <% end %>
