<% if respond_to? "#{form_object_item_type_us}_rank_array_pair".to_sym %>
  <%= form.label field_name_sym, label_for(field_name_sym, labels) %>
  <%= form.select :rank, self.send("#{form_object_item_type_us}_rank_array_pair") %>
<% elsif form_object_item_type_us == 'master' %>
  <span></span>
<% else
     gs = general_selection("#{general_selection_name}_rank".to_sym, present: :hyphenate_name_val, order: :value_number_desc, value: form_object_instance.rank, quiet_fail: true)
     unless gs 
       raise FphsException.new "The general selection #{form_object_item_type_us}_rank has not been defined. Please inform the administrator of this error."
     end
%>
  <%= form.label field_name_sym, label_for(field_name_sym, labels) %>
  <% if gs %>
  <%= form.select :rank, gs, {}, { data: {attr_name: field_name_sym, object_name: form_object_item_type_us}} %>
  <% else %>
  <%= form.text_field :rank, { data: {attr_name: field_name_sym, object_name: form_object_item_type_us}} %>
  <% end %>
<% end %>
