<%= form.label field_name_sym, t("field_names.#{field_name_sym}", default: field_name.sub(/^fixed_/, '').humanize).capitalize %>
<%= form.hidden_field field_name_sym, { data: {attr_name: field_name_sym, object_name: form_object_item_type_us}} %>
<span class="fixed-field" data-attr-name="<%= field_name_sym %>"  data-object-name="<%=form_object_item_type_us%>">
  <%= form_object_instance.attributes[field_name] %>
</span>
