<div class="data-results">
  <div data-result="<%= "model-reference-#{@master.id}-#{@from_item.item_type.hyphenate}-#{@from_item.id}-#{@id}-smrra" %>">
    <div class="">

      <%=form_for(:model_reference, {
          url: "/masters/#{@master.id}/#{@from_item.item_type}/#{@from_item.id}/model_references/#{@id}",
          method: :patch,
          remote: true,
          html: {
            "data-result-target" => "#model-reference-#{@master.id}-#{@from_item.item_type.hyphenate}-#{@from_item.id}-#{@id}",
            "data-template" => "model-references-#{@from_item.item_type}-result-template",
            class: 'model-ref-remove-form'
          }
        }) do |f|%>

        <div class="form-group">
          <%= f.hidden_field :disabled, value: true %>
          <%= f.submit class: "btn btn-danger btn-sm model-ref-remove-btn", value: 'remove', title: "Remove the link to this record." %>&nbsp;&nbsp;
          <a class="show-entity show-model-reference glyphicon glyphicon-remove-sign" title="cancel" data-target="#<%= "model-reference-#{@master.id}-#{@from_item.item_type.hyphenate}-#{@from_item.id}-#{@id}-smrra" %>" data-toggle="clear"></a>
        </div>
      </ul>
      <% end %>
    </div>
  </div>
</div>
