<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">
<h1>Processes</h1>
<h2>Protocol: <%= @protocol.name %></h2>
<div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>

<table class="table tablesorter admin-list">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>ID</th>
      <th>Name</th>
      <th>Protocol</th>
      <th>Disabled</th>
      <th>Admin</th>
      <th class="no-sort"></th>
    </tr>
  </thead>

  <tbody>
    <% objects_instance.each do |list_item| %>
      <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
        <td><%= admin_edit_btn list_item.id%> </td>
        <td><%=list_item.id%> </td>
        <td><%= list_item.name %></td>
        <td><%= list_item.protocol.name%></td>
        <td><%= list_item.disabled %></td>
        <td><%= list_item.admin_name %></td>
        <td><%= link_to "edit events", admin_protocol_sub_process_protocol_events_path(@protocol, list_item) %> </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%=  render partial: 'admin_handler/index_actions'  %>
  </div>
</div>
