<%= form_for(@accuracy_score) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value, disabled: !!@college.id %>
  </div>
  <div class="field">
    <%= f.label :disable %><br>
    <%= f.check_box :disabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
