<p id="notice"><%= notice %></p>

<h1>Listing Accuracy Scores</h1>

<table class="table tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Admin</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @accuracy_scores.each do |accuracy_score| %>
      <tr>
        <td><%= accuracy_score.name %></td>
        <td><%= accuracy_score.value %></td>
        <td><%= accuracy_score.admin_name %></td>
        <td><%= link_to 'Edit', edit_accuracy_score_path(accuracy_score) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accuracy score', new_accuracy_score_path %>
