<div class="import-action-container well">
  <h2>Import CSV</h2>
  <div class="row">
    <div class="col-md-7">
      <h3>Step 1: Select table to import into</h3>
      <%= form_tag imports_imports_path(format: :csv), method: :get, target: 'csvfile', id: 'import_template_download' do %>
        <div class="form-group">
          <%= select_tag :get_template_for, options_for_select(@primary_tables), prompt: '- select table -' %>
        </div>
        <%= field_set_tag '', disabled: true do %>
        <p><br>Need a template CSV for this table?</p>
        <%= submit_tag 'Download Template', class: 'btn btn-default' %>
        <% end %>
      <% end %>
      <p><br/></p>
      <p><br/></p>

      <%= form_tag new_imports_import_path, method: :get, id: 'start_csv_import' do %>
      <%= field_set_tag '', disabled: true do %>
      <h3>Step 3: Start CSV import</h3>
      <%= hidden_field_tag :primary_table %>
      <%= submit_tag 'New Import', class: 'btn btn-primary' %>
      <% end %>
      <% end %>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-16">
      <h3>Step 2: Enter your data into the file</h3>
      <p>Enter the data into the template file, or use an existing file and make sure it has a header row (the first row in the file) with cells that exactly match the names in the template. The columns do not have to appear in the same order as the template.</p>
      <%= render partial: 'table_notes' %>
    </div>


  </div>
</div>
<script>

  $('#get_template_for').on('change', function(){
    var tn = $(this).val();
    $('#start_csv_import #primary_table').val(tn);
    if(tn && tn !== ''){
      $('#start_csv_import fieldset').prop('disabled', false);
      $('#import_template_download fieldset').prop('disabled', false);

    }
  });
</script>


<div class="import-table-container">
<% if current_admin %>
<h2>All Imports</h2>
<% elsif current_user %>
<h2>Your most recent imports</h2>
<% end %>
</div>
<div class="import-table-container">
  <table id="imports-index">
    <thead>
      <tr>
        <th>Primary table</th>
        <th>Item count</th>
        <th>Filename</th>
        <th>User</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @imports.order(id: :desc).each do |import| %>
        <tr>
          <td><%= import.primary_table %></td>
          <td><%= import.item_count %></td>
          <td><%= import.filename %></td>
          <td><%= import.user || 'upload not completed' %></td>
          <td data-format-date-local="true"><%= import.created_at %></td>
          <td><%= link_to 'Show', imports_import_path(import) %></td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>
