<p id="notice"><%= notice %></p>


<%= link_to 'New Import', new_import_path %>

<% if current_admin %>
<h1>All Imports</h1>

<table>
  <thead>
    <tr>
      <th>Primary table</th>
      <th>Item count</th>
      <th>Filename</th>
      <th>Items</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.primary_table %></td>
        <td><%= import.item_count %></td>
        <td><%= import.filename %></td>
        <td><%= import.items %></td>
        <td><%= import.user %></td>
        <td><%= link_to 'Show', import %></td>
        <td><%= link_to 'Edit', edit_import_path(import) %></td>
        <td><%= link_to 'Destroy', import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
