<div class="data-results">
  <div data-result="<%= flag_edit_form_id %>">
    <div class="">
      
      <%=form_for(:item_flag, flag_edit_form_hash(path: url_for([@master, @item])) ) do |f|%>
      <ul class="list-group">
        <li class="list-group-item">
          <%= flag_inline_cancel_button %>
          <h4 class="list-group-item-heading">Edit Flag</h4>
        </li>
        <li class="list-group-item item-flags_item_flag_id">
            <%= f.label :flag %>
            <%= f.select :item_flag_name_id, options_for_select(item_flags_array(@item)) %>
        </li>
        
        <li class="list-group-item">
          <%= f.submit class: "btn btn-primary" %>  
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>