<div class="container" style="padding-top:40px;">

<% if current_admin %> 
  <%= render partial: 'index_admin' %>
<% end %>

<div class="panel panel-primary">
  <div class="panel-body">  
    <h2 >User Actions</h2>
    <div class="row">
      <div class="col-sm-12">      
        

        <ul class="nav">    
            <% if current_user %>

            <li class="nav"><%= link_to "Research", masters_path %> </li>
            <li class="nav"><%= link_to "Reports", reports_path %> </li>
        </ul>
      </div>
      <div class="col-sm-12"> 
        <ul class="nav">    
                
            <li class="nav"><%= link_to "Create MSID", new_master_path %> </li>

            <li class="nav"><%= link_to "User Logout", destroy_user_session_path, method: :delete  %> </li>
            <% else %>
            <li class="nav"><%= link_to "User Login", '/users/sign_in'%> </li>
            <% end %>

        </ul>
      </div>
  </div>
</div>    
  


  