<div class="container-fluid">

<% if current_admin %>
  <%= render partial: 'index_admin' %>
<% end %>

<div class="panel panel-default admin-user-index-page">
  <div class="panel-heading"> 
    <h2 >User Actions</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">


        <ul class="nav">
            <% if current_user

                l = app_config_text(:menu_research_label, "Research")
                l = 'Research' if l == 'none'
              %>

            <li class="nav"><%= link_to l, masters_path %> </li>
            <li class="nav"><%= link_to "Reports", reports_path %> </li>
            <li class="nav"><%= link_to "Import CSV", imports_imports_path %> </li>
        </ul>
      </div>
      <div class="col-sm-12">
        <ul class="nav">

            <li class="nav"><%= link_to app_config_text(:menu_create_master_record_label, "Create MSID"), new_master_path %> </li>

            <li class="nav"><%= link_to "User Logout", destroy_user_session_path, method: :delete  %> </li>
            <% else %>
            <li class="nav"><%= link_to "User Login", '/users/sign_in'%> </li>
            <% end %>

        </ul>
      </div>
  </div>
</div>
