<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @page.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @page.show %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
