<%
  panel_name = panel.panel_name
  panel_label = panel.panel_label&.downcase
  resources = panel.contains&.resources
  initial_show = panel.view_options&.initial_show
  default_panels = app_config_items(:open_panels)
  %>
  
  <% if resources
    resources.each do |resource|
      template_postfix = ''
      template_postfix = '-result-template' if resource.start_with?('activity_log__')

      if default_panels.length > 0
        initial_show = resource.to_s.in?(default_panels)
      end

      r_model = Resources::Models.find_by(resource_name: resource.pluralize)&.dig(:model)
      tab_label = r_model&.human_name || resource.humanize.titleize

      template_resource = resource.sub(/^dynamic_model__/, '').hyphenate
  %>
  <li role="presentation" class="<%= initial_show ? 'on-open-click' : '' %>">
    <a id="tab-user-profile-<%= resource.hyphenate %>-{{user.id}}" 
       href="/user_profile?resource_name=<%= resource %>" 
       data-panel-tab="<%=resource%>" 
       data-remote="true" 
       data-prevent-on-collapse="true" 
       data-toggle="collapse" 
       data-target="#user-profile-<%= resource.hyphenate %>-{{user.id}}" 
       aria-expanded="false" 
       class="scroll-to-expanded  collapsed"  
       data-result-target="#<%= template_resource %>--{{<%= resource %>.id}}"
       data-parent="#user-{{user.id}}-main-container"
    ><%= tab_label %></a>
  </li>
  <%
    end
  end
%>
