<%= form_for(@sub_process) do |f| %>
  <% if @sub_process.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_process.errors.count, "error") %> prohibited this sub_process from being saved:</h2>

      <ul>
      <% @sub_process.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :disabled %><br>
    <%= f.check_box :disabled %>
  </div>
  <div class="field">
    <%= f.label :protocol_id %><br>
    <%= f.select :protocol_id, protocol_array %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
