<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_process.name %>
</p>

<p>
  <strong>Disabled:</strong>
  <%= @sub_process.disabled %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @sub_process.protocol %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @sub_process.admin %>
</p>

<%= link_to 'Edit', edit_sub_process_path(@sub_process) %> |
<%= link_to 'Back', sub_processes_path %>
