<% if object_instance.persisted? && object_instance.enabled?%>
<div class="al-details-section">
  <label>item type name</label>
  <p class="al-item-type">
  <%= object_instance.full_item_type_name %>
  </p>

  <label>fields</label>
  <p class="al-field-list">
  <ul class="activity-list">
    <li><%= object_instance.all_implementation_fields.join("</li> <li>").html_safe %></;i>
  </ul>
  </p>
</div>
<div class="activity-list-section">
  <label>activities</label>
  <ul class="activity-list">
  <% object_instance.option_configs_names&.each do |name| %>
    <li><%=name%><%= object_instance.option_type_config_for(name) ? '' : "(invalid)" %></li>
  <% end %>
  </ul>
  <div id="activity-list-detail" class="activity-list-detail"></div>
</div>
<div class="activity-list-references">
  <label>references</label>
  <ul class="activity-list">
  <% show_refs = []
     object_instance.option_configs.each do |oc| 
       oc&.references&.each do |ref| %>
    <li>
    <%    got = ref.is_a?(Hash) ? ref.first.first : ref.first 
          next unless got

          got = got.to_s
          unless show_refs.include?(got)
            show_refs << got
          end
    %>
    <%= got %>
    </li>
  <%  end 
    end 
  %>
  </ul>
  <div id="activity-list-detail" class="activity-list-detail"></div>
</div>
<% else %>
  <label>not yet saved</label>
<% end %>
