<% if object_instance.persisted? && object_instance.enabled?%>
<div class="al-details-section">
  <label>item type name</label>
  <p class="al-item-type">
  <%= object_instance.full_item_type_name %>
  </p>

  <label>resource name</label>
  <p class="al-resource-name">
  <%= object_instance.resource_name %>
  </p>

  <label>database <%= object_instance.table_or_view || '<span class="info-danger">not defined</span>'.html_safe %></label>
  <p>
    <code><%= [object_instance.schema_name, object_instance.table_name].compact.join('.') %></code>
  </p>
  <p>
    <%= link_to link_label_open_in_new('search data'), 
                "/reports/reference_data__table_data?schema_name=#{object_instance.schema_name}&search_attrs%5B_blank%5D=true&search_attrs%5Bno_run%5D=true&table_name=#{object_instance.table_name}", 
                target: '_blank' %>
  </p>
  <% unless object_instance.table_or_view_ready?%>
  <div class="help-block">
  <p>Typically the database table or view associated with an activity log is created when the definition is first created (or prior to this if handled manually.)</p>
  <p>To create the table for this activity log definition, either run the defined migration, or disable (and save) then re-enable and save this definition to 
     setup the database table based on options configuration.
  </p>
  </div>
  <% end %>


  <label>all fields</label>
  <p class="al-field-list">
  <ul class="activity-list">
    <li><%= object_instance.all_implementation_fields
              .reject{|f| f.index(/^placeholder_|^embedded_report_/)}
              .join("</li> <li>")
              .html_safe %></li>
  </ul>
  </p>
</div>

<div class="activity-list-section">
  <label>activities</label>
  <ul class="activity-list">
  <% object_instance.option_configs_names&.each do |name| 
       conf = object_instance.option_type_config_for(name)

       next if name.in?([:primary, :blank_log]) && !conf&.fields&.present?
  %>
    <li class="activity-list-name"><%=name%><% unless conf %>(invalid)<% end %></li>
      <ul class="activity-list-fields">
      <% if conf&.fields&.present?  %>
        <li><%= conf.fields.join("</li> <li>").html_safe %></li>
      <% end %>
      </ul>
  <% end %>
  </ul>
  <div id="activity-list-detail" class="activity-list-detail"></div>
</div>

<% if object_instance.persisted? && object_instance.options_text %>
<div class="activity-list-libraries">
  <label>libraries</label>
  <ul class="al-reference-list">
  <% OptionConfigs::ExtraOptions.requested_libraries(object_instance.options_text).each do |l| %>
  <li>
    <%= link_to link_label_open_in_new("#{l[:category]} - #{l[:name]}"), admin_config_libraries_path(filter: l), target: 'configlibs' %>
    <br/>
    <code># @library <%= "#{l[:category]}  #{l[:name]}" %></code>
  </li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="activity-list-references">
  <label>references</label>
  <ul class="al-reference-list">
  <% shown_refs = []
     object_instance.all_referenced_tables.each do |ref| 
  %>
  <%  got = ref[:full_ref_name]
      unless shown_refs.include?(got)
        shown_refs << got
        to_table_name = ref[:to_table_name]
        view_name = object_instance.reference_view_name(to_table_name)
        type = ref[:to_class_type]
        link = case type  
                when 'DynamicModel' then admin_dynamic_models_path(filter: { table_name: to_table_name, disabled: :enabled } )
                when 'ActivityLog' then admin_activity_logs_path(filter: { table_name: to_table_name, disabled: :enabled } )
                when 'ExternalIdentifier' then admin_external_identifiers_path(filter: { name: to_table_name, disabled: :enabled } )
                end
        if link
  %>
    <li>
      <%= link_to(got, link, target: '_blank') %>
      <ul>
        <li>table: <%= to_table_name %></li>
        <li>view: <%= link_to(link_label_open_in_new(view_name), report_path('reference_data__table_data', 
                                          table_name: view_name, 
                                          schema_name: object_instance.schema_name, 
                                          search_attrs: { no_run: true }
                                        ), 
                                        target: '_blank', class: '') %></li>
                                      
      </ul>
  <%    else %>
    <%= got %>
  <%    end %>
    </li>
    <%  end %>
  <% end %>
  </ul>
</div>

<div class="activity-list-file-filters">
  <label>file filters</label>
  <p>
  <%= link_to(link_label_open_in_new("edit"),
        admin_nfs_store_filter_filters_path(filter: {resource_name: "#{object_instance.full_item_type_name}__%"}),
        target: '_blank'
  )
  %>
  </p>
</div>
<% else %>
  <label>not yet saved</label>
<% end %>
