<% if object_instance.persisted? && object_instance.enabled?%>
<div class="al-details-section">
  <label>item type name</label>
  <p class="al-item-type">
  <%= object_instance.full_item_type_name %>
  </p>

  <label>fields</label>
  <p class="al-field-list">
  <ul class="activity-list">
    <li><%= object_instance.all_implementation_fields.join("</li> <li>").html_safe %></;i>
  </ul>
  </p>
</div>
<div class="activity-list-section">
  <label>activities</label>
  <ul class="activity-list">
  <% object_instance.option_configs_names&.each do |name| %>
    <li><%=name%><%= object_instance.option_type_config_for(name) ? '' : "(invalid)" %></li>
  <% end %>
  </ul>
  <div id="activity-list-detail" class="activity-list-detail"></div>
</div>
<div class="activity-list-references">
  <label>references</label>
  <ul class="al-reference-list">
  <% shown_refs = []
     object_instance.all_referenced_tables.each do |ref| 
  %>
  <%  got = ref[:full_ref_name]
      unless shown_refs.include?(got)
        shown_refs << got
        to_table_name = ref[:to_table_name]
        view_name = object_instance.reference_view_name(to_table_name)
        type = ref[:to_class_type]
        link = case type  
                when 'DynamicModel' then admin_dynamic_models_path(filter: { table_name: to_table_name, disabled: :enabled } )
                when 'ActivityLog' then admin_activity_logs_path(filter: { table_name: to_table_name, disabled: :enabled } )
                when 'ExternalIdentifier' then admin_external_identifiers_path(filter: { name: to_table_name, disabled: :enabled } )
                end
        if link
  %>
    <li>
      <%= link_to(got, link, target: '_blank') %>
      <ul>
        <li>table: <%= to_table_name %></li>
        <li>view: <%= link_to(view_name, report_path('reference_data__table_data', 
                                          table_name: view_name, 
                                          schema_name: object_instance.schema_name, 
                                          search_attrs: { no_run: true }
                                        ), 
                                        target: '_blank', class: '') %></li>
                                      
      </ul>
  <%    else %>
    <%= got %>
  <%    end %>
    </li>
    <%  end %>
  <% end %>
  </ul>
</div>
<% else %>
  <label>not yet saved</label>
<% end %>
