<div class="data-results">
  <div data-result="admin-edit-form-"  class="admin-edit-form">
<%= form_for([:admin, object_instance], class: "inline-form", remote: true) do |f| %>
  <%= render partial: 'admin_handler/form_errors' %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :item_type, 'data-add-icon' => 'info-sign', title: "#{object_instance.id ? 'item type for existing records can not be changed.' : 'Set item type'}" %>
    <%= f.select :item_type, item_types_array, {}, disabled: !!object_instance.id  %>
  </div>
 <div class="form-group">
    <%= f.label :rec_type, 'data-add-icon' => 'info-sign', title: "#{object_instance.id ? 'record type for existing records can not be changed.' : 'Set record type (optional), for example: phone'}" %>
    <%= f.select :rec_type, general_selection("%_type", value: object_instance.rec_type, use_like: true), include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label :process_name %>
    <%= f.text_field :process_name %>
  </div>
  <div class="form-group">
    <%= f.label :action_when_attribute %>
    <%= f.text_field :action_when_attribute %>
  </div>
  <div class="form-group">
    <%= f.label :field_list %>
    <%= f.text_field :field_list, class: 'wide-field' %>
  </div>
  <div class="form-group">
    <%= f.label :main_log_name %>
    <%= f.text_field :main_log_name %>
  </div>
  <div class="form-group">
    <%= f.label :blank_log_field_list %>
    <%= f.text_field :blank_log_field_list, class: 'wide-field' %>
  </div>
  <div class="form-group">
    <%= f.label :blank_log_name %>
    <%= f.text_field :blank_log_name %>
  </div>
  <div class="form-group">
    <%= f.label :hide_item_list_panel %>
    <%= f.check_box :hide_item_list_panel %>
  </div>
  <div class="form-group">
    <%= f.label :disable %>
    <%= f.check_box :disabled %>
  </div>
  <div>
    <div class="form-group">
      <%= f.label :extra_log_types %><br>
      <%= f.text_area :extra_log_types %>
    </div>
    <div class="form-group" style="vertical-align: top">
      <h4>Extra Log Options</h4>
      <% example = {'extras_log_type_name' => ExtraLogType.attr_defs.deep_stringify_keys} %>
      <pre style="font-size: 12px">
<%= example.to_yaml %>
      </pre>
    </div>
    <div class="form-group" style="vertical-align: top">
      <div data-spy="affix" class="affixed-admin-edit-btns" >
        <%= hidden_filter_fields %>
        <p><%= f.submit class: "btn btn-primary" %></p><p><%= admin_edit_cancel %></p>
      </div>
    </div>
  </div>
<% end %>
  </div>
</div>
