<%
  admin_master = Settings::admin_master
  extra_log_type = nil

  if object_instance.implementation_class_defined?(Object, fail_without_exception: true)

%>
<p>
<form method="get" action="<%="/masters/#{admin_master}/#{object_instance.implementation_class.to_s.underscore.pluralize}/new?"%>" 
      data-remote="true"
      data-result-target=<%="##{object_instance.resource_name.hyphenate}-#{admin_master}-"%>
      data-result-target-force="true"
>
<%= select_tag :extra_log_type, options_for_select(object_instance.option_configs_names || []) %>
<%= hidden_field_tag :admin_sample, 'true' %>
<button>refresh</button>
</form>
</p>
<% end %>

<div 
  id="<%= "#{object_instance.resource_name.hyphenate}-#{admin_master}-" %>" 
  data-subscription="<%= "#{object_instance.resource_name.hyphenate.singularize}--edit-form-#{admin_master}-" %>"
>
pick an activity type...
</div>

<% # Reload the captions and show_if definitions 
  otc = object_instance.option_type_config_for(extra_log_type) if extra_log_type
  if otc
  
  begin
%>
  <%= render partial: 'activity_logs/common_search_results_template_item', 
            locals: { 
              def_record: object_instance,
              option_type_config: otc
            } %>
<% rescue StandardError => e %>
<p><i>Error preparing sample form: <%= e %></i></p>
<% end
else %>
<p class="sample_form_message"></p>
<% end %>