<%
  @report = report if local_assigns[:report]
  @results = results if local_assigns[:results]
  @outer_block_id = outer_block_id if local_assigns[:outer_block_id]
  @result_tables = result_tables if local_assigns[:result_tables]
  setup_column_options
%>
<div class="report-results-list-block no-table-results <%=@view_options&.add_classes&.join(' ')%>" id="<%=@outer_block_id%>-table-block" data-result-handlers="<%=@view_options&.result_handlers&.join(' ')%>">
  <div class="report-list" data-results-count="<%=@results.count%>">
    <div>
      <% @results.each_row do |list_item| %>
        <div class="report-list-result" id="report-item-<%=list_item[0].to_s.id_underscore%>">
          <% if editable? %>
            <div class="report-list-el report-edit-btn-cell"><%= report_edit_btn list_item[0]%> </div>
          <% end %>
          <% i = 0 %>
          <% 
            list_item.each do |col| 
              col_name = @results.fields[i]
              unless @col_hide[col_name]
          %>
          <%= report_list_result_cell(i, col) %>                         
          <%  
              end
              i += 1
            end 
          %>
        </div>
      <% end %>
    </div>
  </table>
</div>
