<%
  @report = report if local_assigns[:report]
  @results = results if local_assigns[:results]
  @outer_block_id = outer_block_id if local_assigns[:outer_block_id]
  @result_tables = result_tables if local_assigns[:result_tables]
  setup_column_options
  is_editable = editable?
  is_editable_class = is_editable ? 'row-editable' : 'row-not-editable'
%>
<div class="report-results-table-block <%=@view_options&.add_classes&.join(' ')%>" id="<%=@outer_block_id%>-table-block" data-result-handlers="<%=@view_options&.result_handlers&.join(' ')%>">

  <table class="report-table table <%= @view_options&.no_sorting ? 'no-tablesorter' : 'tablesorter' %>">
    <thead>
      <tr>
        <% if editable? %><th class="no-sort edit-button-column"></th><% end %>
        <%
          i = 0
          hide_cols = []

          @results.fields.each do |col|
            @col = col
            hide_this = report_cell_hide?(i)
            hide_cols << hide_this
            unless hide_this
        %>
        <%= report_table_header_cell(i, col) %>
        <%  
            end
            i += 1
         end 
        %>
      </tr>
    </thead>
    <tbody>

      <% @results.each_row do |list_item| %>


        <tr class="<%=is_editable_class%>" id="report-item-<%=list_item[0]%>">
         <% if is_editable %>
         <td class="report-el report-edit-btn-cell"><%= report_edit_btn list_item[0]%> </td>
         <% end %>
          <%
            i = 0 
            list_item.each do |col| 
              unless hide_cols[i]
          %>
            <%= report_table_result_cell(i, col)%>
          <%
              end
              i += 1
            end 
          %>
        </tr>
      <% end %>
      <%= render partial: 'reports/result_template/edit_row' %>
    </tbody>
  </table>
</div>
