<span id="block-filestore-dd-menu--<%=container_id%>" class="dropdown">
  <button class="btn btn-default hamburger" id="filestore-dd-menu--<%=container_id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class=" glyphicon glyphicon-menu-hamburger"></span></span></button>
  <ul class="dropdown-menu" aria-labelledby="filestore-dd-menu--<%=container_id%>">
    <li><a href="#" id="container-browse-trash-<%=container_id%>" class="container-browse-trash-submit" data-target-browser="#container-browser-<%=container_id%>" data-can-send-to-trash="<%=can_send_to_trash%>">Send to trash</a></li>
    <li><a href="#" id="container-browse-move-files-<%=container_id%>" class="container-browse-move-files" data-target-browser="#container-browser-<%=container_id%>" data-can-move-files="<%=can_move_files%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Move to folder</a></li>
    <li><a href="#" id="container-browse-rename-file-<%=container_id%>" class="container-browse-rename-file" data-target-browser="#container-browser-<%=container_id%>" data-can-rename-file="<%=can_move_files%>">Rename file</a></li>
    <li><a href="#" id="container-browse-rename-folder-<%=container_id%>" class="container-browse-rename-folder" data-target-browser="#container-browser-<%=container_id%>" data-can-rename-folder="<%=can_move_files%>">Rename folder</a></li>
  </ul>
</span>
<div class="container-browse-trash-form hidden" id="container-browse-move-files-form-<%=container_id%>">
    <p>Enter an existing folder name or a new one to be created. The files will be moved here.</p>
    <input class="container-browse-action-extra-params" name="new_path" value="" />
    <button id="container-browse-move-files-submit-<%=container_id%>" class="btn container-browse-move-files-submit" data-target-browser="#container-browser-<%=container_id%>" data-can-move-files="<%=can_move_files%>">Move files to folder</button>
</div>
