<div class="browse-container <%= @container.writable? ? 'upload-dropzone' : ''%>" data-container-use-secure-view="<%= !!use_secure_view %>">
  <div class="container-block" data-container-id="<%=@container.id%>">
    <div class="row">
      <%= render partial: 'nfs_store/browse/browser_header', locals: { container_id: @container.id, container_name: @container.name, activity_log_id: @activity_log&.id } %>
      <%= render partial: 'nfs_store/browse/show', locals: { container_id: @container.id, level: 0, folder: '.' } %>
      <%= render partial: 'nfs_store/browse/show_classification_form', locals: { container_id: @container.id, container_name: @container.name, container_writable: @container.writable? } %>
    </div>
    <div class="row browse-controls">
      <div class="download-actions well">
        <%= render partial: 'nfs_store/browse/options_menu', locals: { 
              container_id: @container.id, 
              can_send_to_trash: @container.can_send_to_trash?, 
              can_move_files: @container.can_move_files?, 
              can_user_file_actions: @container.can_user_file_actions? 
        } %>
        <%= render partial: 'nfs_store/browse/download_button', locals: { container_id: @container.id, can_download: @container.can_download? } %>
        <%= render partial: 'nfs_store/uploader/add_files', locals: { container_id: @container.id, container_writable: @container.writable? } %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'nfs_store/uploader/index' %>
  </div>
  <div class="drop-info">drop files to upload</div>
</div>
<script>
  $(document).ready(function() {$('.refresh-container-list').click()});
  // $(document).ready(_nfs_store.uploader);
  var block = $('.nfs-store-container-block');
  var p = block.parents('.nfs-store-container-block').first();
  p.fs_browser = _nfs_store.fs_browser;
  setTimeout(function() {
    p.fs_browser(p);
    _fpa.form_utils.setup_extra_actions(block);
    _fpa.form_utils.resize_children(block);
  }, 100);
</script>
