<div class="data-results">
  <div data-result="<%= edit_form_id %>">
    <div class="">
      <%=form_for([@master, object_instance], edit_form_hash ) do |f|%>
      <ul class="list-group">
        <li class="list-group-item">
          <%= inline_cancel_button %>
          <h4 class="list-group-item-heading">Edit Address</h4>
        </li>
        <li class="list-group-item address-country">        
            <%= f.label :country %>            
            <%= f.country_select :country, priority_countries: ["US", "CA", "DE"], class: "form-control country-select"%>            
        </li>  
        <li class="list-group-item address-street">
            <%= f.label :street %>
            <%= f.text_field :street %>
        </li>  
        <li class="list-group-item address-street2">
            <%= f.label :street2 %>
            <%= f.text_field :street2 %>
        </li>
        <li class="list-group-item address-street3">
            <%= f.label :street3 %>
            <%= f.text_field :street3 %>
        </li>
        <li class="list-group-item address-city">
            <%= f.label :city %>
            <%= f.text_field :city %>
        </li>
        <li class="list-group-item address-state">
            <%= f.label :state %>
            <%= f.collection_select :state, state_hash, :first, :last, {include_blank: '-select-'}  %>
        </li>
        <li class="list-group-item address-zip">
            <%= f.label :zip %>
            <%= f.text_field :zip, zip_field_props %>
        </li>
        <li class="list-group-item address-region">
            <%= f.label 'province' %>
            <%= f.text_field :region %>
        </li>        
        <li class="list-group-item address-postal-code">
            <%= f.label :postal_code %>
            <%= f.text_field :postal_code %>
        </li>        
        <li class="list-group-item address-source">
            <%= f.label :source %>
            <%= f.select :source, general_selection(:addresses_source) %>
        </li>
        <li class="list-group-item address-rec_type">
            <%= f.label :rec_type %>
            <%= f.select :rec_type, general_selection(:addresses_type) %>
        </li>                
        <li class="list-group-item address-rank">
            <%= f.label :rank %>
            <%= f.select :rank, general_selection(:addresses_rank, present: :hyphenate_name_val, order: :value_number_desc) %>
        </li>
        <li class="list-group-item">
          <%= f.submit class: "btn btn-primary" %>  
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>