<p id="notice"><%= notice %></p>

<p>
  <strong>Master:</strong>
  <%= @address.master %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @address.street2 %>
</p>

<p>
  <strong>Street3:</strong>
  <%= @address.street3 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @address.zip %>
</p>

<p>
  <strong>Source:</strong>
  <%= @address.source %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @address.rank %>
</p>

<p>
  <strong>Type:</strong>
  <%= @address.rec_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @address.user %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
