<%
    url = url_for([:admin, object_instance])
%>
<div class="data-results">
  <div data-result="admin-edit-form-"  class="admin-edit-form admin-report">
    <%= form_for(@report, url: url, remote: true, html:{class: "form-formatted"}) do |f| %>
      <%= render partial: 'admin_handler/form_errors' %>
      <div class="row">
        <div class="col-sm-12" style="text-align: left">
          <%= render partial: 'admin/reports/form/fields', locals: {f: f} %>
          <%= render partial: 'admin/reports/form/edit_table_block', locals: {f: f} %>
          <%= render partial: 'admin/reports/form/description_block', locals: {f: f} %>
          <%= render partial: 'admin/reports/form/options_block', locals: {f: f} %>
          <%= render partial: 'admin/reports/form/sql_block', locals: {f: f} %>
          <div class="report-admin-submit-block">
            <a href="#report-admin-search-attr-add-block" class="collapsed btn btn-default" data-toggle="collapse"><span class="caret"></span> Add Attribute</a>
            <%= link_to link_label_open_in_new('test report'), @report, target: 'testreport', class: 'btn btn-default pull-right admin-test-report-btn' if @report.id %>
            <%= f.submit class: "btn btn-primary pull-right" %>
          </div>
          <%= render partial: 'admin/reports/form/search_attr_definer', locals: {f: f} %>
        </div>
        <%= render partial: 'admin/reports/form/reference_data_info_block', locals: {f: f} %>
      </div>
      <p>&nbsp;</p>
      <div class="form-group">
        <%= hidden_filter_fields %>
        <%= f.submit class: "btn btn-primary" %> <%= admin_edit_cancel %>
      </div>
    <% end %>
  </div>
</div>
<script></script>
