<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">
    <%= show_admin_heading %>
    <p>
      <%= show_filters %>
    </p>
    <div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below">
      <% if @updated_with %>
        <%= render partial: 'form'%>
      <% end %>
    </div>

<table class="table tablesorter admin-list">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>Name</th>
      <th>Category</th>

      <th>Report Type</th>
      <th>Auto</th>
      <th>Searchable</th>
      <th>Description</th>
      <th class="no-sort"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |list_item| %>
      <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
        <td class="edit-btn-cell"><%= admin_edit_btn list_item.id %>
        &nbsp;
        <%= admin_edit_btn list_item.id, copy: list_item %> </td>

        <td><%= link_to  list_item.name, report_path(list_item.alt_resource_name), target: 'report', title: 'opens in a new window' %></td>
        <td><%= list_item.item_type %></td>

        <td><%= list_item.report_type %></td>
        <td><%= list_item.auto %></td>
        <td><%= list_item.searchable %></td>

        <td><pre class="shrinkable-block"><%= list_item.description %></pre></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%=  render partial: 'admin_handler/index_actions'  %>
  </div>
</div>
