<div class="row">    
  <div class="col-sm-12" style="text-align: left;">
    <%= f.label :add_attribute %>
      <table>
          <tr>
              <td>name</td><td><input id="search_attrs_name" /></td>
          </tr><tr>
              <td>label(optional)</td><td><input id="search_attrs_label" /></td>
          </tr><tr>
              <td>type</td><td>
                  <select id="search_attrs_type">
                      <option value="number">number</option>
                      <option value="text">text</option>
                      <option value="date">date</option>
                      <option value="address_state">address state</option>
                      <option value="accuracy_score">accuracy score</option>
                      <option value="general_selection">general selection</option>
                      <option value="protocol">tracker protocol</option>
                      <option value="sub_process">tracker status (sub_process)</option>
                      <option value="protocol_event">tracker method (protocol_event)</option>
                      <option value="item_flag_name">item flag name</option>
                      <option value="user">user name</option>
                  </select>
              </td>
            </tr><tr>
              <td>filter dropdown</td><td>
                  <select id="search_attrs_filter">
                      <option value="all">all</option>

                      <% GeneralSelection.item_types.dup.each do |i|%>
                        <option value="item_type: <%=i%>">item_type: <%=i%></option>
                      <% end %>            

                  </select>
              </td>
            </tr><tr>
              <td>single or multiple values</td><td>
                <select id="search_attrs_multi">
                      <option value="single">single</option>
                      <option value="multiple">multiple (in)</option>            
                      <option value="multiple-regex">multiple (regex)</option>
                  </select>
              </td>
            </tr><tr>
              <td>default <a class="glyphicon glyphicon-info-sign" data-toggle="popover" data-content="Set the default value of an attribute to be searched. If the query is run automatically then the default value will be used. Enter literal values or calculate a date with (-)n days|day |weeks|week |months|month |years|year. For example: -5 days, -1 year, 5 months, 2 weeks. For multiple values, enter each value on a new line."></a>
                  </td><td><textarea id="search_attrs_default"></textarea>        
              </td>
            </tr>
            <tr><td></td><td><p><a id="search_attrs_add" class="btn btn-default">Add Attribute</a></p></td></tr>
      </table>
    
    <div id="search_attr_instruction">(reference in SQL with <strong id="search_attr_ex"></strong>)</div>
  </div>
  <div class="col-sm-12" style="text-align: left;">
    <%= f.label :search_attributes%>
    <%= f.text_area  :search_attrs,  style: "width: 99%; height: 340px; font-family: monospace;" %>
  </div>  
</div>  