<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">    
<h1>Reports</h1>

<div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>

<table class="table tablesorter admin-list">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>Name</th>            
      <th>Description</th>
      <th>SQL</th>
      <th>Search Attributes</th>
      <th>Disabled</th>
      <th>Admin</th>
      <th class="no-sort"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |list_item| %>
      <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
        <td><%= admin_edit_btn list_item.id%> </td>
      
        <td><%= link_to  list_item.name, report_path(list_item.id), target: '_blank' %></td>        
        
        <td><%= list_item.description %></td>  
        <td><%= list_item.sql %></td>  
        
        <td><%= list_item.search_attrs %></td>  
        
        <td><%= list_item.disabled %></td>
        <td><%= list_item.admin_name %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<%=  render partial: 'admin_handler/index_actions'  %>    
  </div>
</div>
