<div class="container">
    <h2>Created <span><%=@external_identifier_items.length%></span> Sage IDs</h2>
    <p>Primary key (<%= @external_identifier.name%>.id) range: <%= @external_identifier_items.first.id%> to <%= @external_identifier_items.last.id%></p>
    <p><%=link_to "Done", admin_external_identifier_detail_path(id: @external_identifier.id) %></p>
</div>
