<div class="data-results container" data-subscription="admin-list" >
  <div data-result="admin-list">
<h1>Message Notifications</h1>
<p>
  <%= show_filters %>
</p>
<div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>


<table class="table tablesorter admin-list">

  <tbody>
    <% objects_instance.each do |list_item| %>
     <% begin %>
     <% list_item.item&.current_user ||= current_user  if list_item.item&.respond_to? :current_user %>
      <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
        <td>
          <table>
            <tr><td>subject:</td><td><h4><strong><%= list_item.subject %></strong></h4></td></tr>
            <tr><td>from:</td><td><%= list_item.from_user_email %></td></tr>
            <tr><td>to:</td><td>
            <%= list_item.recipient_emails&.join('; ') if list_item.message_type == 'email'%>
            <%=  list_item.recipient_sms_numbers&.join('; ') if list_item.message_type == 'sms'%>
            </td></tr>
            <tr><td>role:</td><td><%= list_item.role_name %></td></tr>
            <tr><td>sent:</td><td data-orig-datetime="<%= list_item.updated_at %>" ><%= Formatter::DateTime.format(list_item.updated_at, current_user: current_user, current_timezone: :user) %></td></tr>
            <tr><td>status:</td><td class="mn-table-status mn-table-status-<%= list_item.status %>"><%= list_item.status.blank? ? 'not sent' : list_item.status %></td></tr>
          </table>
          <p><button class="btn btn-small" data-toggle="unhide" data-target="#extra-attributes-<%=list_item.id%>">additional fields</button></p>
          <table class="extra-attributes hidden" id="extra-attributes-<%=list_item.id%>">
            <% %w(id app_type master_id user_id item message_type layout_template_name content_template_name data recipient_user_ids created_at).each do |i| %>
            <tr><td><%= i.humanize %>:</td><td><%= list_item.send(i) %></td></tr>
            <% end %>
          </table>
          <iframe id="message-iframe-<%= list_item.id %>" src='javascript:void(0)' srcdoc="" class="iframe-message-notification if-mn-type-<%= list_item.message_type%> if-mn-status-<%= list_item.status %>" sandbox="allow-popups allow-popups-to-escape-sandbox">
          </iframe>

          <script id="message-content-<%= list_item.id %>" class="hidden" type="x-html">
            <%= list_item.generate_view(ignore_missing: :show_tag).gsub('<head>', '<head><base target="_blank" />').html_safe %>
          </script>
          <script>
          window.setTimeout(function() {
            var c = $('#message-content-<%=list_item.id%>');
            var html = c.html();

            $('#message-iframe-<%=list_item.id%>').attr('srcdoc', html);
          }, 100);
          </script>

        </td>
      </tr>
      <% rescue StandardError => e %>
        <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
          <td>
            <h3>Error retrieving message</h3>
            <p><%= e %></p>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%=  render partial: 'admin_handler/index_actions'  %>
  </div>
</div>
