<%= form_for(@college) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, disabled: !!@college.id%>
  </div>
  <div class="field">
    <%= f.label :synonym_for_id %><br>
    <%= f.select :synonym_for_id, College.selector_array_pair %>
  </div>
  <div class="field">
    <%= f.label :disable %><br>
    <%= f.check_box :disabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
