<p id="notice"><%= notice %></p>

<h1>Listing Colleges</h1>

<table class="table tablesorter">
  <thead>
    <tr>
        <th>ID</th>
      <th>Name</th>
      <th>Synonym for</th>
      <th>Last Admin Update</th>
      <th>Created by User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @colleges.each do |college| %>
      <tr>
        <td><%= college.id %></td>  
        <td><%= college.name %></td>
        <td><%= college.synonym_for_id %> - <%= college.synonym_for_name %></td>
        <td><%= college.admin_name %></td>
        <td><%= college.user_name %></td>        
        <td><%= link_to 'Edit', edit_college_path(college) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<%=  render partial: 'admin_handler/index_actions'  %>