<%
  # Run through each row
  rows.each do |row|
    row_classes = row['classes']
    cols = row['cols'] || []
    row_styles = (row['styles'] || {}).map {|k,v| "#{k}: #{v};"}.join(' ');
%>
<div class="standalone-page-row row <%=row_classes%>" style="<%= row_styles %>" data-req-path="<%=request.path%>">
  <% cols.each do |col|
      col_label = col['label'] || ''
      col_header = col['header'] || ''
      col_footer = col['footer'] || ''
      col_classes = col['classes']
      col_id = col['id']
      col_block_id = "sp-col-#{col_id || col_label.id_underscore}"
      col_url = col['url']

      template_prefix = 'page-'
      template_prefix = "#{col['template_prefix']}-"  if col['template_prefix']

      unless col_url
        inner_rows = col['rows']
        if inner_rows
          report = nil
          resource = nil
          result_type = nil
        else
          report = col['report']
          resource_def = col['resource']
          if report
            result_type = 'report'
            report_id = report['id']
            report_defaults = (report['defaults'] || {}).symbolize_keys
            report_params = {}
            report_params[:search_attrs] = report_defaults
            report_params[:search_attrs][:_report_id_] = report_id
            report_params[:part] = 'results'
            report_params[:embed] = 'true'
            report_params[:commit] = 'table'
            report_params[:id] = report_id
            col_url = report_path(report_params).html_safe
          elsif resource_def
            result_type = 'resource'
            resource = resource_def['name']
            resource = resource.pluralize
            @master_id = resource_def['master_id'] || @master_id
            template_prefix = "#{resource_def['template_prefix']}-" if resource_def['template_prefix']

            url_parts = [
              'masters',
              @master_id,
              resource.gsub('__', '/'),
            ]
            url_parts.compact!

            limit = resource_def['limit']
            cache_result = resource_def['cache_result']
            embed_all_references = 'true' if resource_def['embed_all_references']

            resource_id = resource_def['id'] || @resource_id
            secondary_key = resource_def['secondary_key'] || @secondary_key
            if resource_id && resource_id.positive?
              filters = "filter[resource_id]=#{resource_id}" 
            elsif secondary_key
              filters = "filter[secondary_key]=#{secondary_key}" 
            end

            param_parts = [
              "limit=#{limit}",
              "embed_all_references=#{embed_all_references}",
              filters
            ]

            param_parts << "cache_result=#{Digest::SHA256.hexdigest partial_cache_key(:page_layout)}" if cache_result
            param_parts.compact!

            col_url = "/#{url_parts.join("/")}?#{param_parts.join("&")}"
          end
        end
      end

      
      sub_data = @master || {}
      
      col_label = Formatter::Substitution.substitute(col_label, data: sub_data, tag_subs: nil)
      col_header = markdown_to_html(col_header)
      col_footer = markdown_to_html(col_footer)
      col_header = Formatter::Substitution.substitute(col_header, data: sub_data, tag_subs: nil).html_safe
      col_footer = Formatter::Substitution.substitute(col_footer, data: sub_data, tag_subs: nil).html_safe

  %>
    <% if inner_rows %>
    <div class="standalone-page-col-with-rows <%=col_classes%>" id="<%=col_block_id%>">
      <div class="sp-col-inner-with-rows">
        <div class="inner-rows">
          <%= render partial: 'show_row', locals: {rows: inner_rows, container: container} %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="standalone-page-col <%=col_classes%> ajax-running" id="<%=col_block_id%>" data-url="<%=col_url%>">
      <div class="sp-col-inner">
        <%if col_label.present? %><h2 class="sp-col-label"><%=col_label%></h2><% end %>
        <% if col_header.present? %><div class="sp-col-header"><%= col_header%></div><% end %>
        <div class="result-target result-target-<%=result_type%> page-template-<%=template_prefix%>prefix">
          <% if resource %>
            <div id="<%= resource.hyphenate %>-<%=@master_id%>" class="no-table-results <%= template_prefix != 'page-' ? 'activity-logs-generic-block' : '' %> standalone-panel-generic-block <%= resource.hyphenate %>-block collapse" data-sub-for-root="master_id" data-sub-id="<%=@master_id%>" data-sub-item="<%= resource %>" data-template="<%= resource.hyphenate %>-<%=template_prefix%>result-template">
              <div id="<%= resource.hyphenate %>-inner-<%=@master_id%>" class="standalone-panel-inner-block">
              </div>
            </div>
          <% end %>
        </div>
        <% if col_footer.present? %><div class="sp-col-footer"><%= col_footer%></div><% end %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<% end %>
