<h4>Files</h4>
<div id="admin-filestore-block-<%= object_instance.id %>">
</div>
<% if object_instance&.file_store&.id %>
<script> 
window.setTimeout(function() {
  var data = {
    to_record_id: <%= object_instance.file_store.id %>,
    to_record_data: 'admin',
    to_record_label: 'Admin Files',
    from_record_id: <%= object_instance.id %>,
    from_record_type_us: '<%= object_instance.admin_resource_name.singularize %>',
    prevent_edit: true,
    can_download: true
  };
  var block = $('#admin-filestore-block-<%= object_instance.id %>');
  _fpa.view_template(block, 'filestore-view-template', data); 

}, 500);
</script>
<% else %>
<p>File store not configured</p>
<% end %>