<div class="admin-options-block-outer">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#def-details-block" aria-controls="def-details-block" role="tab" data-toggle="tab" aria-expanded="true">Details</a></li>
    <li role="presentation" class=""><a href="#def-metadata-block" aria-controls="def-metadata-block" role="tab" data-toggle="tab">Metadata</a></li>
    <%= render partial: 'redcap/data_dictionaries/tabs', locals: { no_active: true } %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="def-details-block">
      <h4>Details</h4>
      <p><strong><%= object_instance.name %></strong></p>
      <p>Updated at: <strong><%= object_instance.updated_at %></strong></p>
    </div>
  

    <div role="tabpanel" class="tab-pane" id="def-metadata-block">
      <h4>Metadata</h4>
      <% if object_instance.captured_project_info.present?%>
        <div class="admin-options-ref-textarea-block">
          <textarea style="font-size: 12px" class="extra-help-info">
<%= object_instance.captured_project_info.stringify_keys.to_yaml%>
          </textarea>
        </div>
      <% else %>
        <p>Project Info Metadata not yet retrieved</p>
      <% end %>
    </div>

    <%= render partial: 'redcap/data_dictionaries/tab_panels', locals: { object_instance: object_instance, no_active: true } %>
  </div>
</div>