<h4>Latest Requests</h4>
<p><%= link_to 'view all', redcap_client_requests_path(filter: {name: object_instance.name, server_url: object_instance.server_url}), target: '_blank' %>
<table class="table"><thead><tr><th>action</th><th>admin</th><th>created</th><th>result</th></tr></thead>
<tbody>
<% object_instance.redcap_client_requests.order(id: :desc).limit(10).each do |cr| %>
  <tr>
  <td><%= cr.action %></td>
  
  <td><%= cr.admin&.email %></td>
  <td><%= current_user_date_time cr.created_at %></td>
  <td><pre class="scrollable-block"><%= cr.result&.to_yaml %></pre></td>
  </tr>
<% end %>
</tbody>
</table>


