<div class="data-results">
  <table><tr>  
    <td colspan="6" data-result="<%= edit_form_id %>">
    
      <div>        
        <h4 class="form-group-heading">Edit Tracker Record</h4>
      </div>
      
      <%=form_for([@master, object_instance], edit_form_hash ) do |f|%>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group tracker-protocol">
                <%= f.label :protocol %>
                <%= f.select :protocol_id, protocol_array%>
            </div>  
            <div class="form-group tracker-c_method">
              <%= f.label :contact_method %>
              <%= f.select :c_method, general_selection(:tracker_contact_method) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group tracker-event">
                <%= f.label :event %>
                <%= f.select :event, protocol_events_array_with_class, {}, "data-only-for" => "" %>
            </div>  
            <div class="form-group tracker-event_date">
                <%= f.label :event_date %>
                <%= f.date_field :event_date %>
            </div>    
          </div>
          <div class="col-md-6">
            <div class="form-group tracker-outcome">
              <%= f.label :outcome %>
              <%= f.text_field :outcome %>
            </div>
            <div class="form-group tracker-outcome_date">
              <%= f.label :outcome_date %>
              <%= f.date_field :outcome_date %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group tracker-notes">
              <%= f.label :notes %>
              <%= f.text_field :notes %>
            </div>
            <div  class="form-group">
              <%= inline_cancel_button %> <%= f.submit class: "btn btn-primary" %>
            </div>
              
          </div>
        </div>
        
          
          
        
        
      <% end %>

    
    </td>
  </tr></table>
</div>