<div class="data-results">
  <table><tr>  
    <td colspan="6" data-result="<%= edit_form_id %>">
    
      <div>
        <%= inline_cancel_button %>
        <h4 class="form-group-heading">Edit Tracker Record</h4>
      </div>
      
      <%=form_for([@master, object_instance], edit_form_hash ) do |f|%>


        <p class="tracker-protocol">
            <%= f.label :protocol %>
            <%= f.select :protocol_id, options_for_select(protocol_array)%>
        </p>
        <p class="tracker-event">
            <%= f.label :event %>
            <%= f.text_field :event %>
        </p>  
        <p class="tracker-event_date">
            <%= f.label :event_date %>
            <%= f.date_field :event_date %>
        </p>
        <p class="tracker-c_method">
            <%= f.label :c_method %>
            <%= f.text_field :c_method %>
        </p>
        <p class="tracker-outcome">
            <%= f.label :outcome %>
            <%= f.text_field :outcome %>
        </p>
        <p class="tracker-outcome_date">
            <%= f.label :outcome_date %>
            <%= f.text_field :outcome_date %>
        </p>
        <p class="tracker-notes">
            <%= f.label :notes %>
            <%= f.text_field :notes %>
        </p>
        <p>
          <%= f.submit class: "btn btn-primary" %>  
        </p>

      <% end %>

    
    </td>
  </tr></table>
</div>