<%= form_for(@tracker) do |f| %>
  <% if @tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tracker.errors.count, "error") %> prohibited this tracker from being saved:</h2>

      <ul>
      <% @tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :master_id %><br>
    <%= f.text_field :master_id %>
  </div>
  <div class="field">
    <%= f.label :protocol_id %><br>
    <%= f.text_field :protocol_id %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.datetime_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :c_method %><br>
    <%= f.text_field :c_method %>
  </div>
  <div class="field">
    <%= f.label :outcome %><br>
    <%= f.text_field :outcome %>
  </div>
  <div class="field">
    <%= f.label :outcome_date %><br>
    <%= f.datetime_select :outcome_date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
