<%= form_for(@manual_investigation) do |f| %>
  <% if @manual_investigation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manual_investigation.errors.count, "error") %> prohibited this manual_investigation from being saved:</h2>

      <ul>
      <% @manual_investigation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fill_in_addresses %><br>
    <%= f.text_field :fill_in_addresses %>
  </div>
  <div class="field">
    <%= f.label :in_survey %><br>
    <%= f.text_field :in_survey %>
  </div>
  <div class="field">
    <%= f.label :verify_survey_participation %><br>
    <%= f.text_field :verify_survey_participation %>
  </div>
  <div class="field">
    <%= f.label :verify_player_and_or_match %><br>
    <%= f.text_field :verify_player_and_or_match %>
  </div>
  <div class="field">
    <%= f.label :accuracy %><br>
    <%= f.text_field :accuracy %>
  </div>
  <div class="field">
    <%= f.label :accuracy_score %><br>
    <%= f.number_field :accuracy_score %>
  </div>
  <div class="field">
    <%= f.label :accruedseasons %><br>
    <%= f.text_field :accruedseasons %>
  </div>
  <div class="field">
    <%= f.label :first_contract %><br>
    <%= f.text_field :first_contract %>
  </div>
  <div class="field">
    <%= f.label :second_contract %><br>
    <%= f.text_field :second_contract %>
  </div>
  <div class="field">
    <%= f.label :third_contract %><br>
    <%= f.text_field :third_contract %>
  </div>
  <div class="field">
    <%= f.label :changed %><br>
    <%= f.number_field :changed %>
  </div>
  <div class="field">
    <%= f.label :changed_column %><br>
    <%= f.text_field :changed_column %>
  </div>
  <div class="field">
    <%= f.label :verified %><br>
    <%= f.number_field :verified %>
  </div>
  <div class="field">
    <%= f.label :pilotq1 %><br>
    <%= f.number_field :pilotq1 %>
  </div>
  <div class="field">
    <%= f.label :mailing %><br>
    <%= f.number_field :mailing %>
  </div>
  <div class="field">
    <%= f.label :outreach_vfy %><br>
    <%= f.number_field :outreach_vfy %>
  </div>
  <div class="field">
    <%= f.label :insert_audit_key %><br>
    <%= f.number_field :insert_audit_key %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
