<p id="notice"><%= notice %></p>

<p>
  <strong>Fill in addresses:</strong>
  <%= @manual_investigation.fill_in_addresses %>
</p>

<p>
  <strong>In survey:</strong>
  <%= @manual_investigation.in_survey %>
</p>

<p>
  <strong>Verify survey participation:</strong>
  <%= @manual_investigation.verify_survey_participation %>
</p>

<p>
  <strong>Verify player and or match:</strong>
  <%= @manual_investigation.verify_player_and_or_match %>
</p>

<p>
  <strong>Accuracy:</strong>
  <%= @manual_investigation.accuracy %>
</p>

<p>
  <strong>Accuracy score:</strong>
  <%= @manual_investigation.accuracy_score %>
</p>

<p>
  <strong>Accruedseasons:</strong>
  <%= @manual_investigation.accruedseasons %>
</p>

<p>
  <strong>First contract:</strong>
  <%= @manual_investigation.first_contract %>
</p>

<p>
  <strong>Second contract:</strong>
  <%= @manual_investigation.second_contract %>
</p>

<p>
  <strong>Third contract:</strong>
  <%= @manual_investigation.third_contract %>
</p>

<p>
  <strong>Changed:</strong>
  <%= @manual_investigation.changed %>
</p>

<p>
  <strong>Changed column:</strong>
  <%= @manual_investigation.changed_column %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @manual_investigation.verified %>
</p>

<p>
  <strong>Pilotq1:</strong>
  <%= @manual_investigation.pilotq1 %>
</p>

<p>
  <strong>Mailing:</strong>
  <%= @manual_investigation.mailing %>
</p>

<p>
  <strong>Outreach vfy:</strong>
  <%= @manual_investigation.outreach_vfy %>
</p>

<p>
  <strong>Insert audit key:</strong>
  <%= @manual_investigation.insert_audit_key %>
</p>

<p>
  <strong>User:</strong>
  <%= @manual_investigation.user %>
</p>

<%= link_to 'Edit', edit_manual_investigation_path(@manual_investigation) %> |
<%= link_to 'Back', manual_investigations_path %>
