<p id="notice"><%= notice %></p>

<h1>Listing General Selections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Item type</th>
      <th>Admin</th>
      <th>Disabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @general_selections.each do |general_selection| %>
      <tr>
        <td><%= general_selection.name %></td>
        <td><%= general_selection.value %></td>
        <td><%= general_selection.item_type %></td>
        <td><%= general_selection.admin_name %></td>
        <td><%= general_selection.disabled %></td>
        
        <td><%= link_to 'Edit', edit_general_selection_path(general_selection) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New General selection', new_general_selection_path %>
