<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @general_selection.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @general_selection.value %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @general_selection.item_type %>
</p>

<%= link_to 'Edit', edit_general_selection_path(@general_selection) %> |
<%= link_to 'Back', general_selections_path %>
