<div class="report-admin-search-attr-block form-inline">
  <div class="row" id="search_attr_definer">
    <div class="col-sm-24" style="text-align: left;" id="search_attr_definer_form">
      <%= f.label :search_attributes%>
      <ul class="admin-tag-list selectable" id="search_attr_item_list"></ul>
      <div id="report-admin-search-attr-add-block" class="collapse well">
        <div class="report-admin-subblock">
          <div class="report-admin-sb-item">name</div>
          <div class="report-admin-sb-field-block"><input id="search_attrs_name" data-attr-el="name" /></div>
        </div>
        <div class="report-admin-subblock">
          <div class="report-admin-sb-item">type</div>
          <div class="report-admin-sb-field-block">
            <select id="search_attrs_type" data-attr-el="type">
              <option value="number">number</option>
              <option value="text">text</option>
              <option value="date">date</option>
              <option value="address_state">address state</option>
              <option value="accuracy_score">accuracy score</option>
              <option value="general_selection">general selection</option>
              <option value="defined_selector">defined selector</option>
              <option value="config_selector">config selector</option>
              <option value="select_from_model">select from model</option>
              <option value="protocol">tracker protocol</option>
              <option value="sub_process">tracker status (sub_process)</option>
              <option value="protocol_event">tracker method (protocol_event)</option>
              <option value="item_flag_name">item flag name</option>
              <option value="user">user name</option>
            </select>
          </div>
        </div>
        <div class="report-admin-subblock">
          <div class="report-admin-sb-item">label (optional)</div>
          <div class="report-admin-sb-field-block"><input id="search_attrs_label" data-attr-el="label" /></div>
        </div>
        <div class="report-attr-checks collapse">
          <div class="report-admin-subblock">
            <div class="report-admin-sb-item">filter dropdown</div>
            <div class="report-admin-sb-field-block">
              <select id="search_attrs_filter" data-attr-el="filter">
                <option value="all">all</option>
                <% Classification::GeneralSelection.item_types.dup.each do |i|%>
                  <option value="item_type: <%=i%>">item_type: <%=i%></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="report-admin-subblock">
            <div class="report-admin-sb-item">prevent disabled entries</div>
            <div class="report-admin-sb-field-block">
              <input type="checkbox" id="search_no_disabled" data-attr-el="no_disabled"/>
            </div>
          </div>
        </div>
        <div class="report-attr-defined-selector collapse">
          <div class="report-admin-subblock">
            <div class="report-admin-sb-item">defined selectors</div>
            <div class="report-admin-sb-field-block">
              <select id="search_attrs_defined_selector" data-attr-el="defined_selector">
                <% 
                Classification::GeneralSelection.selector_with_config_overrides.map{|f| "#{f[:base_item_type]}/#{f[:field_name]}"}.uniq.sort.each do |i|%>
                  <option value="<%=i%>"><%=i%></option>
                <% end %>
              </select>
            </div>
          </div>                   
        </div>
        <div class="report-admin-subblock">
          <div class="report-admin-sb-item">hide field</div>
          <div class="report-admin-sb-field-block">
            <input type="checkbox" id="search_hidden_field" data-attr-el="hidden"/>
          </div>
        </div>
        <div class="report-admin-subblock">
          <div class="report-admin-sb-item">single or multiple values</div>
          <div class="report-admin-sb-field-block">
            <select id="search_attrs_multi" data-attr-el="multiple">
              <option value="single">single</option>
              <option value="multiple">multiple (in)</option>
              <option value="multiple-regex">multiple (regex)</option>
            </select>
          </div>
        </div>
        <div class="report-admin-subblock">
          <div class="report-attr-select-from-model collapse">
            <div class="report-admin-sb-item">model resource name</div>
            <p class="help-block">The model to select from.</p>
            <div class="report-admin-sb-field-block">
              <%= select_tag :search_attrs_resource_name, select_from_model_resource_name_options, include_blank:true, data: { attr_el: 'resource_name' } %>  
            </div>
          </div>
        </div>        
        <div class="report-admin-subblock">
          <div class="report-attr-config-selections collapse has-editor">
            <div class="report-admin-sb-item">config selections</div>
            <p class="help-block config-selector-help for-config_selector collapse">A label is shown in the dropdown and the corresponding value is used in the query.</p>
            <p class="help-block config-selector-help for-select_from_model collapse">Define which fields to pull from the table model as the options.
              The selections configuration is "label_field: value_field". For example, for a data dictionary variable, this might be "study: study". For a person it may be "last_name: id".</p>
            <div class="report-admin-sb-field-block">
              <div class="report-admin-search-attr-yaml-editor" >
                <textarea id="search_attrs_config_selections" class="extra-help-info" data-code-editor-type="yaml" data-attr-el="selections"></textarea>
              </div>
              <p class="help-block">add one line per option:</p>
              <pre class="help-block"><code>label 1: value 1
label 2: value 2</code></pre>
            </div>
          </div>
        </div>
        <div class="report-admin-subblock">
          <div class="report-attr-conditions collapse has-editor">
            <div class="report-admin-sb-item">conditions</div>
            <p class="help-block">Conditions will be applied to the search for the list of selections.</p>
            <div class="report-admin-sb-field-block">
              <div class="report-admin-search-attr-yaml-editor" >
                <textarea id="search_attrs_conditions" class="extra-help-info" data-code-editor-type="yaml" data-attr-el="conditions"></textarea>
              </div>
              <p class="help-block">add one line per option:</p>
              <pre class="help-block"><code>field (equals): value 1
field2 (any of):
  - val1
  - val2</code></pre>
            </div>
          </div>
        </div>


        <div class="report-admin-subblock">
          <div class="report-admin-sb-item">filter other select field</div>
          <p class="help-block config-selector-help">Filter a selector field based on the value of the current field. Enter the field name of the field to filter.</p>
          <div class="report-admin-sb-field-block">
            <input type="text" id="search_filter_selector" data-attr-el="filter_selector"/>
          </div>
        </div>

        <div class="report-admin-subblock">
          <div class="report-admin-sb-item">default</div>
          <p class="help-block">Set the default value of an attribute. If the query is run automatically then the default value will be used.</p>
          <div class="report-admin-sb-field-block">
            <textarea id="search_attrs_default" data-attr-el="default"></textarea>
            <p class="help-block">Enter literal values; 'current_user' for the current user; 'now' for today; or calculate a date with (+/-)n days|day |weeks|week |months|month |years|year. For example: -5 days, -1 year, +5 months, +2 weeks.</p>
            <p class="help-block">For multiple values, enter each value on a new line.</p>
          </div>
        </div>
        <div class="report-admin-subblock">
          <div class="report-admin-sb-item"></div>
          <div class="report-admin-sb-item-submit">
            <p><a id="search_attrs_add" class="btn btn-default">Add Attribute</a></p>
            <div id="search_attr_instruction" class="hidden">reference attribute in SQL with <code id="search_attr_insert_name"></code></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-24 collapse" id="search_attr_definer_config">
      <div class="" style="text-align: left;">
        <%= f.label :attributes_configuration%>
        <div class="report-admin-search-attr-yaml-editor" >
          <%= f.text_area  :search_attrs, class: "report-admin-search-attr-final-config code-editor code-editor-yml", data: {code_editor_type: "yaml"}%>
        </div>
      </div>
    </div>
  </div>
</div>
