<div class="data-results">
  <div data-result="<%= edit_form_id %>">
    <div class="col-md-24">
      <%=form_for([@master, object_instance], edit_form_hash ) do |f|%>
      <ul class="list-group">
        <li class="list-group-item">
          <%= inline_cancel_button %>
          <h4 class="list-group-item-heading">Edit Player Info</h4>
        </li>
        <li class="list-group-item player-info-first_name">
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
        </li>  
        <li class="list-group-item player-info-last_name">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
        </li>
        <li class="list-group-item player-info-middle_name">
            <%= f.label :middle_name %>
            <%= f.text_field :middle_name %>
        </li>
        <li class="list-group-item player-info-nick_name">
            <%= f.label :nick_name %>
            <%= f.text_field :nick_name %>
        </li>
        <li class="list-group-item player-info-birth_date">
            <%= f.label :birth_date %>
            <%= f.date_field :birth_date %>
        </li>
        <li class="list-group-item player-info-death_date">
            <%= f.label :death_date %>
            <%= f.date_field :death_date %>
        </li>
        <li class="list-group-item player-info-start_year">
            <%= f.label :start_year %>
            <%= f.number_field :start_year, in: Settings::StartYearRange %>
        </li>
        <li class="list-group-item player-info-start_year">
            <%= f.label :end_year %>
            <%= f.number_field :end_year, in: Settings::EndYearRange %>
        </li>
        <li class="list-group-item player-info-rank">
            <%= f.label :rank %>
            <%= f.text_field :rank %>
        </li>
        <li class="list-group-item player-info-college">
          <%= f.label :college %>
          <%= f.text_field :college, class: 'form-control college-input typeahead'  %>
        </li>
        <li class="list-group-item">
          <%= f.submit class: "btn btn-primary" %>  
        </li>
      </ul>
      <% end %>
    </div>
    <script>
      
      _fpa.setup_typeahead('#player_info_college', 'college_list', "colleges");
    </script>
  
  </div>
</div>


