<p id="notice"><%= notice %></p>

<h1>Listing Player Infos</h1>

<table>
  <thead>
    <tr>
      <th>Master</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Middle name</th>
      <th>Nick name</th>
      <th>Birth date</th>
      <th>Death date</th>
      <th>Occupation category</th>
      <th>Company</th>
      <th>Company description</th>
      <th>Transaction status</th>
      <th>Transaction substatus</th>
      <th>Website</th>
      <th>Alternate website</th>
      <th>Twitter</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_infos.each do |player_info| %>
      <tr>
        <td><%= player_info.master %></td>
        <td><%= player_info.first_name %></td>
        <td><%= player_info.last_name %></td>
        <td><%= player_info.middle_name %></td>
        <td><%= player_info.nick_name %></td>
        <td><%= player_info.birth_date %></td>
        <td><%= player_info.death_date %></td>
        <td><%= player_info.occupation_category %></td>
        <td><%= player_info.company %></td>
        <td><%= player_info.company_description %></td>
        <td><%= player_info.transaction_status %></td>
        <td><%= player_info.transaction_substatus %></td>
        <td><%= player_info.website %></td>
        <td><%= player_info.alternate_website %></td>
        <td><%= player_info.twitter_id %></td>
        <td><%= player_info.user %></td>
        <td><%= link_to 'Show', player_info %></td>
        <td><%= link_to 'Edit', edit_player_info_path(player_info) %></td>
        <td><%= link_to 'Destroy', player_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player info', new_player_info_path %>
