<%
  unless defined? embedded
    embedded = false
  end


  if !embedded && @extra_log_type && @extra_log_type.references

    creatable_references = @extra_log_type.references.select {|ref_type| object_instance.creatable_model_references[ref_type.to_s] }
    creatable_count = creatable_references.length

    if action_name.in?( ['new', 'edit']) && !@embedded_item %>
    <li class="list-group-item is-full-width">
      <b>Save the form to be able to <%= creatable_count == 0 ? "view" : "create" %>:</b>
    </li>
    <% end %>

    <% creatable_references.each do |ref_type, ref_config| %>
      <%= render partial: 'common_templates/reference_actions',  locals: {name: "#{object_instance.class.name.ns_underscore}", ref_name: ref_type, caption: ref_type, block_id: "#{object_instance.class.name.ns_underscore.hyphenate}-#{ref_type}", id: object_instance.id, master_id: object_instance.master_id, form_embed: form_embed} %>
    <% end %>

    <% object_instance.model_references.each do |model_reference| %>
      <% unless @embedded_item %>
        <% if action_name.in?(['new', 'edit']) && creatable_count == 0 %>
      <li class="list-group-item <%= object_instance.class.name.ns_hyphenate%>-model-references in-item-model-references is-full-width">
        <span class="small">
          <% if model_reference.to_record_viewable %>
            <% unless action_name.in? ['new', 'edit'] %>
              <a id="" href="/masters/<%= model_reference.to_record_master_id %>/<%= model_reference.to_record_type_us.gsub('__', '/').pluralize %>/<%= model_reference.to_record_id %>" data-template="<%= model_reference.to_record_short_type_us.hyphenate %>-result-template" data-result-target-force="true" data-result-target="#<%= object_instance.class.name.ns_hyphenate%>-<%= model_reference.to_record_type_us.hyphenate %>-<%= model_reference.to_record_master_id %>-<%= object_instance.id %>-<%= model_reference.to_record_id %>" data-remote="true" class="glyphicon glyphicon-triangle-bottom view-item"></a>
            <% end %>
            <i><%= model_reference.to_record_label %></i>
            <% unless action_name.in?(['new', 'edit']) %><%= model_reference.to_record_data %><% end %>
          <% else %>
            <span class="glyphicon glyphicon-ban-circle"></span>
            <i><%= model_reference.to_record_label %></i>
          <% end %>
        </span>
      </li>
        <% end %>
      <% end %>
      <% if model_reference.to_record_viewable %>
        <div class="model-reference-result <%= @embedded_item ? 'embedded-item' : 'not-embedded-item' %>" >
          <div id="<%= object_instance.class.name.ns_hyphenate%>-<%= model_reference.to_record_type_us.ns_hyphenate %>-<%= model_reference.to_record_master_id %>-<%= object_instance.id %>-<%= model_reference.to_record_id%>" class="model-reference-result" data-result-target-for-child="#<%= object_instance.class.name.ns_hyphenate%>-<%= model_reference.to_record_type_us.ns_hyphenate %>-<%= model_reference.to_record_master_id %>-<%= object_instance.id%>-<%= model_reference.to_record_id %>, #<%= model_reference.to_record_type_us.ns_hyphenate%>-<%= model_reference.to_record_master_id%>-<%= object_instance.id%>-<%= model_reference.to_record_id%>"  data-preprocessor="<%= model_reference.to_record_type_us.ns_hyphenate%>_edit_form" data-subscription="<%= model_reference.to_record_short_type_us.ns_hyphenate%>-edit-form-<%= model_reference.to_record_master_id%>-<%= model_reference.to_record_id%>" data-preprocessor="<%= model_reference.to_record_type_us.ns_hyphenate%>_edit_form" data-form-container="<%= model_reference.to_record_type_us.ns_hyphenate%>_edit_form" >
            <% if @embedded_item %>
              <%= render partial: 'common_templates/edit_form', locals: {embedded: true, form_embed: form_embed} %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
