<%
  unless defined? master_id
    master_id = '{{master_id}}'
  end

  unless defined? id
    id = '{{id}}'
  end

  unless defined? extra_log_type
    extra_log_type = ref_config[:add_with] && ref_config[:add_with][:extra_log_type]
  end

  elt = ""
  if extra_log_type
    elt = "-#{extra_log_type.ns_hyphenate}"
    elt_class = "cb-extra-log-type#{elt}"
  end
  inner_data_target = "#{name.ns_hyphenate}#{elt}-#{ref_type.ns_hyphenate}-edit-form-#{master_id}-#{id}"

  caption = ref_config[:label] || caption.to_s
%>
<% unless @embedded_item %>
  <% if action_name.in? ['new', 'edit']
      # List the reference items that can be created after saving
  %>
    <li class="list-group-item <%=block_id%> in-item-model-references is-full-width ref-new-edit">
      <span class="small"><i><%= caption.humanize %></i></span>
    </li>
  <% else
      caption_before_ref_type = "reference_#{ref_type}".to_sym
      caption_before_ref_type_elt = "#{caption_before_ref_type.to_s.singularize}__#{extra_log_type}".to_sym
      cb_key = caption_before_ref_type_elt

      cb = caption_before[cb_key]
      unless cb
        cb_key = caption_before_ref_type
        cb = caption_before[cb_key]
      end

  %>

  {{#unless prevent_add_reference}}
    <% if cb %>
    <li class="list-group-item caption-before results-caption-before <%=caption_before_ref_type.to_s.hyphenate%> <%=elt_class%> <%=caption_before_ref_type.to_s.hyphenate%>-caption"
    ><%= show_caption_before cb_key, caption_before, :show %></li>
    <% end %>
    <%
    view_as_new = ref_config.dig(:view_as, :new)
    if view_as_new == 'outside_this'
      data_target = "##{ ref_type.ns_hyphenate}#{elt}-#{master_id}-"

      data_toggle = "unhide scrollto-result uncollapse-target-parents"
      a_class = "btn btn-sm btn-primary embedded-add-item-button"
      data_open_tab_before_request = "[data-panel-tab='#{ref_type.to_s.pluralize}']"
    else
      data_target = "##{inner_data_target}"
      data_toggle = "scrollto-result"
      a_class = "btn btn-sm btn-primary embedded-add-item-button"
    end
    %>
    <li class="list-group-item <%=block_id%> <%=elt_class%> in-item-model-references is-full-width">
      <p class="text-center">
        <% path_pref ="/masters/#{master_id}" unless ref_config[:no_master_association] %>
        <a href="<%=path_pref%>/<%=ref_type.ns_pathify.pluralize%>/new?references[record_type]=<%=name%>&references[record_id]=<%= id %><%= view_as_new == 'select_or_add' ? "&references[allow_select]=true" : "" %><%= view_as_new == 'outside_this' ? "&references[new_outside_this]=true" : "" %><%=add_extra_params_to_add_item_link ref_type, ref_config%>" 
           data-toggle="<%=data_toggle%>" 
           data-target-force="true" 
           data-target="<%=data_target%>" 
           data-open-tab-before-request="<%=data_open_tab_before_request%>"
           data-remote="true" 
           data-mr-name="<%= caption %>"
           class="<%=a_class%>"><span class="glyphicon glyphicon-plus"></span> <%= caption %></a>
      </p>
    </li>
  {{/unless}}
  <% end %>
<% end %>
<div id="<%=ref_type.ns_hyphenate.pluralize%>-<%= id %>-" data-sub-list="<%=ref_type.ns_underscore.pluralize%>" class="common-template-list model-reference-list block-<%=caption_before_ref_type.to_s.hyphenate%> <%=elt_class%> alt-width">
  <div class="new-block model-reference-new-block" 
      id="<%= inner_data_target %>" 
      data-result-target-for-child="#<%= inner_data_target %>, #<%=ref_type.ns_hyphenate%>-<%= master_id %>-" 
      data-subscription="<%=ref_type.ns_hyphenate%>-edit-form-<%= master_id %>-" 
      data-preprocessor="<%=ref_type.ns_underscore%>_edit_form">
    <% if @embedded_item && defined?(form_embed) %>
    <div class="model-edit-form <%= @embedded_item ? 'embedded-item' : 'not-embedded-item' %>">
      <%= render partial: 'common_templates/edit_form', locals: {embedded: true, form_embed: form_embed} %>
    </div>
    <% end %>
  </div>
</div>
