<%
  # Handle the display of referenced items in search results.
%>
<script id="activity_log_<%=name%>_references_list_item"  type="text/x-handlebars-template" class="hidden handlebars-partial">
<li class="list-group-item <%=name.hyphenate%>-model-references in-item-model-references is-full-width {{#if to_record_viewable}}{{#if ../_show_embedded_as_single_item}} single-model-reference model-reference-auto-shown-caption{{/if}}{{/if}} {{#if disabled}}model-reference-disabled{{/if}} " data-template="model-references-<%=name%>-result-template" data-sub-item="model_reference" data-sub-id="{{id}}">
  <span class="small" data-result-target-for-child="#<%= name.ns_hyphenate%>-{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}">
    {{#if to_record_viewable}}
    <a href="{{#if to_record_master_id}}/masters/{{to_record_master_id}}{{/if}}/{{pathify to_record_type_us_plural}}/{{to_record_id}}" data-template="{{hyphenate to_record_template}}-result-template" data-result-target-force="true" data-result-target="#<%= name.ns_hyphenate%>-{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}" data-remote="true" data-toggle-caret="true" class="glyphicon glyphicon-triangle-bottom view-item <% unless item_list.include?(',') %>{{#if ../_show_embedded_as_single_item}}on-postprocess-click{{/if}}<% end %>" data-use-alt-result-key="{{to_record_result_key}}"></a>
    {{else}}
    <span class="glyphicon glyphicon-ban-circle"></span>
    {{/if}}
    <i>{{to_record_label}}</i> {{substring (pretty_string to_record_data return_string=true) 0 100 }}
  </span>
  <span class="selectable-model-reference-result-action pull-right" id="model-reference-{{from_record_master_id}}-{{hyphenate from_record_type_us}}-{{from_record_id}}-{{id}}-smrra" data-subscription="model-reference-{{from_record_master_id}}-{{hyphenate from_record_type_us}}-{{from_record_id}}-{{id}}-smrra">
      {{#if disabled}}
        <span class="model-reference-removed-marker small">(removed)</span>
      {{else}}
        {{#if can_disable}}
          {{#if from_record_type_us}}
          <a href="/masters/{{from_record_master_id}}/{{from_record_type_us}}/{{from_record_id}}/model_references/{{id}}/edit" class="glyphicon glyphicon-remove" title="remove reference to item" data-remote="true"></a>
          {{else}}
            {{#if id}}
            <a href="/masters/{{from_record_master_id}}/model_references/{{id}}/edit" class="glyphicon glyphicon-remove" title="remove reference to item" data-remote="true"></a>
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}
  </span>
</li>
{{#if to_record_viewable}}
<div class="model-reference-result {{#if ../_show_embedded_as_single_item}} single-model-reference-result model-reference-auto-shown{{/if}}" >
  <div id="<%= name.ns_hyphenate%>-{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}" class="model-reference-result" data-result-target-for-child="#<%= name.ns_hyphenate%>-{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}, #{{hyphenate to_record_type_us}}-{{from_record_master_id}}-{{id}}-{{to_record_id}}"  data-preprocessor="{{hyphenate to_record_type_us}}_edit_form" data-subscription="{{hyphenate to_record_template}}-edit-form-{{to_record_master_id}}-{{to_record_id}}" data-preprocessor="{{hyphenate to_record_type_us}}_edit_form" data-form-container="{{hyphenate to_record_type_us}}_edit_form" ></div>
</div>
{{/if}}
</script>

<script id="model-references-<%=name%>-result-template"  type="text/x-handlebars-template" class="hidden handlebars-template">
{{#with model_reference}}
  {{>activity_log_<%=name%>_references_list_item}}
{{/with}}
</script>

<script id="activity_log_<%=name%>_references"  type="text/x-handlebars-template" class="hidden handlebars-partial">
<% if references %>
  {{#each model_references}}
    {{#is ../embedded_item.id '===' to_record_id}}
      {{#is ../embedded_item.item_type '===' '<%= references.first.last.first.last[:to_model_name_us] %>'}}
        {{#is to_record_options_config.view_as.show '!==' 'hide'}}
          {{#is to_record_options_config.view_as.show '!==' 'not_embedded'}}
            {{#with ../embedded_item}}
              {{><%= ModelReference.record_type_to_ns_table_name references.first.first %>_result_fields}}
            {{/with}}
          {{/is}}
        {{/is}}
      {{/is}}
    {{/is}}
  {{/each}}

  {{#if model_references}}
    {{#each model_references}}
      {{simple_log to_record_options_config}}
      {{#is to_record_options_config.view_as.show '!==' 'hide'}}
        {{#is to_record_options_config.view_as.show '===' 'not_embedded'}}
          {{>activity_log_<%=name%>_references_list_item}}
        {{else is to_record_options_config.view_as.show '===' 'filestore'}}
        {{else}}
          {{#is ../embedded_item.id '!==' to_record_id}}
            {{>activity_log_<%=name%>_references_list_item}}
          {{/is}}
        {{/is}}
      {{/is}}
    {{/each}}
  {{/if}}

  <% references.each do |ref_key, refitem|
      refitem.each do |ref_type, ref_config| %>
      {{#if creatable_model_references.<%= ref_key %> }}

        {{#if creatable_model_references.<%= ref_key %>.<%= ref_type %> }}

          {{#if creatable_model_references.<%= ref_key %>.<%= ref_type %>.ref_type }}

      <%= render partial: 'common_templates/reference_actions',  locals: {name: "activity_log/#{implementation_class_name}", ref_type: ref_type, caption: ref_config[:to_record_label], block_id: "#{name.hyphenate}-#{ref_type}", ref_config: ref_config, caption_before: caption_before} %>
          {{/if}}
        {{/if}}
      {{/if}}

  <%    end
      end %>

  {{#if model_references}}
    {{#each model_references}}
      {{simple_log to_record_options_config}}
      {{#is to_record_options_config.view_as.show '!==' 'hide'}}
        {{#is to_record_options_config.view_as.show '===' 'filestore'}}
          {{>filestore_<%=name%>_view prevent_edit=../prevent_edit}}
        {{/is}}
      {{/is}}
    {{/each}}
  {{/if}}

<% end %>

</script>
