<%
  unless defined? master_id
    master_id = '{{master_id}}'
  end

  unless defined? id
    id = '{{id}}'
  end

%>
<% unless @embedded_item %>
<li class="list-group-item <%=block_id%> in-item-model-references is-full-width">
  <% if action_name.in? ['new', 'edit']
      # List the reference items that can be created after saving
  %>
        <span class="small"><i><%= caption.humanize %></i></span>
  <% else
      # Show the 'add' reference item button
  %>
    <p class="text-center">
        <a href="/masters/<%= master_id %>/<%=ref_name.pluralize%>/new?references[record_type]=<%=name%>&references[record_id]=<%= id %>" data-toggle="scrollto-result" data-target-force="true" data-target="#<%= name.ns_hyphenate%>-<%=ref_name.ns_hyphenate%>-edit-form-<%= master_id %>-" data-remote="true" class="btn btn-sm btn-primary add-item-button"><span class="glyphicon glyphicon-plus"></span> <%= caption %></a>
      </p>
  <% end %>
</li>
<% end %>
<div id="<%=ref_name.ns_hyphenate.pluralize%>-<%= id %>-" data-sub-list="<%=ref_name.ns_underscore.pluralize%>" class="common-template-list model-reference-list alt-width">
<div class="new-block model-reference-new-block" id="<%= name.ns_hyphenate%>-<%=ref_name.ns_hyphenate%>-edit-form-<%= master_id %>-" data-result-target-for-child="#<%= name.ns_hyphenate%>-<%=ref_name.ns_hyphenate%>-edit-form-<%= master_id %>-, #<%=ref_name.ns_hyphenate%>-<%= master_id %>-" data-subscription="<%=ref_name.ns_hyphenate%>-edit-form-<%= master_id %>-" data-preprocessor="<%=ref_name.ns_underscore%>_edit_form">
<% if @embedded_item %>
<div class="model-edit-form <%= @embedded_item ? 'embedded-item' : 'not-embedded-item' %>">
  <%= render partial: 'common_templates/edit_form', locals: {embedded: true, form_embed: form_embed} %>
</div>
<% end %>
</div>
</div>
