<script id="<%=name%>_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{#was _created}}<div class="index-{{_created}} <%=name.hyphenate%>-item" id="<%=name.hyphenate%>-{{master_id}}-{{id}}" data-subscription="<%=name.hyphenate%>-edit-form-{{master_id}}-{{id}}" data-template="<%=name.hyphenate%>-result-template" data-sub-item="<%=name%>" data-sub-id="{{id}}" data-sort-desc="data-item-id">{{/was}}
  <ul class="list-group" data-item-id="{{id}}">
      <% if item_list.length == 1 %>
        <% item_list.each do |item| %>
        <li class="list-group-item <%=name%>-<%=name%>_id is-heading compact-heading">
          <% unless prevent_edit %>
            <a data-toggle="scrollto-result" data-target="#<%=name.hyphenate%>-{{master_id}}-{{id}}" title="edit" class="edit-entity edit-<%=name.hyphenate%> pull-right glyphicon glyphicon-edit" href="/masters/{{master_id}}/<%=name.pluralize%>/{{this.id}}/edit" data-remote="true" data-<%=name.hyphenate%>-id="{{this.id}}"></a>
          <% end %>
          <small><%= item[:label] %></small> <strong>{{<%= item[:formatter] || 'pretty_string' %> <%= item[:attribute] %>}}</strong>
        </li>
        <%end%>
      <%else%>
        <li class="list-group-item is-heading">
          <a data-toggle="scrollto-result" data-target="#<%=name.hyphenate%>-{{master_id}}-{{id}}" title="edit" class="edit-entity edit-<%=name.hyphenate%> pull-right glyphicon glyphicon-edit" href="/masters/{{master_id}}/<%=name.pluralize.hyphenate%>/{{this.id}}/edit" data-remote="true" data-<%=name.hyphenate%>-id="{{this.id}}" data-result-target=""></a>        
          <span class="pull-right label label-info <%=name.hyphenate%>-{{rank}}" style="margin-right:1em">{{#if rank}}{{rank}} - {{rank_name}}{{else}}(no rank){{/if}}</span>
            <h4 class="list-group-item-heading"><%=name.humanize.titleize%></h4>

          {{>item_flag_container item_type="<%=name%>"}}         
        </li>
        {{#filter this "<%= item_list.is_a?(Array) ? item_list.join(',') : item_list  %>" }}
          <li class="list-group-item <%=name.hyphenate%>-{{@key}}"><small>{{humanize @key}}</small> <strong>{{pretty_string this  return_string="true" capitalize="true"}}</strong></li>
        {{/filter}}                    
        <% if defined? :item_blocks 
            item_blocks.each do |item|
        %>
        <div class="<%=name.hyphenate%>-<%=item%>">
          <div class="panel panel-default panel-body">
          {{<%= "#{item[:formatter]} #{item[:attribute]}" %>  || "pretty_string #{item[:attribute]} return_string=\"true\"" %> }}
          </div>
        </div>
        <%  end
          end        
        end %>      
      <li class="list-group-item record-meta">{{>update_metadata}}</li>      
  </ul>
  {{#was _created}}</div>{{/was}}
</script>


<script id="<%=name.hyphenate%>-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with <%=name%>}}
    
      {{><%=name%>_result }}

  {{/with}}
</script>

<script id="<%=name.pluralize.hyphenate%>-list-template" type="text/x-handlebars-template" class="hidden handlebars-template">    
  {{><%=name.pluralize%>_list }}
</script>

<script id="<%=name.pluralize%>_list-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
 

    {{#each <%=name.pluralize%>}}

        {{><%=name%>_result _created=@index}}

    {{/each}}

    <div class="new-block" id="<%=name.hyphenate%>-{{master_id}}-" data-subscription="<%=name.hyphenate%>-edit-form-{{master_id}}-">
      {{#unless <%=name.pluralize%>}}<h4>No <%=name.humanize.titleize%> records</h4>{{/unless}}                
    </div>
    <p class="text-center"><a href="/masters/{{master_id}}/<%=name.pluralize%>/new" data-target="#<%=name.hyphenate%>-{{master_id}}-" data-remote="true" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span> <%= name.humanize.titleize %> record</a> </p>                                    
</script>