<%

  unless defined? caption
    caption = nil
  end

  unless defined? model_data_type
    model_data_type = nil
  end


  unless defined? category
    category = nil
  end

  unless defined? caption_before
    caption_before = {}
  end

  unless defined? show_if
    show_if = {}
  end

  unless defined? external_id_options
    external_id_options = nil
  end


  unless defined? item_flags_after
    item_flags_after = nil
  end

  unless caption && caption.include?('{{')
    caption = (caption || name)
    if caption.include?('_') || caption.downcase == caption
      caption = caption.humanize.titleize
    end
  end

  unless defined? data_sort
    data_sort_str = nil
    data_sort_attr = 'none'
  else
    data_sort_str = "data-sort-#{data_sort.first}='#{data_sort.last.to_s.hyphenate}'".html_safe
    data_sort_attr = "#{data_sort.last.to_s.hyphenate.sub('data-','')}"
  end

  unless defined? subsort_id
    subsort_id = false
  end

  unless defined? custom_block_attrs
    custom_block_attrs = {}
  end

  unless defined? extra_class
    extra_class = ''
  end

  unless defined? full_name
    full_name = name
  end

  unless defined? item_class_name
    item_class_name = full_name
  end

  unless defined? custom_activity_log
    # check whether the activity log broadly works with this type of item
    custom_activity_log = ActivityLog.works_with(name) || :none
  end

  unless defined? references
    references = nil
  end

  unless defined? show_created_at
    show_created_at = false
  end

  unless defined? edit_button_href
    edit_button_href = "{{#if master_id}}/masters/{{master_id}}{{/if}}/#{name.pluralize}/{{this.id}}/edit"
  end

  # with_data provides an alternatively named set of data for a template to use, rather than just the name
  # this is useful when providing multiple templates that should use the same set of data on a single page
  unless defined? with_data
    with_data = nil
  end

  unless defined? implementation_class
    implementation_class = nil
  else
    is_activity_log_class = (implementation_class && implementation_class.parent == ActivityLog) ? 'is-activity-log' : ''
  end

  unless defined? implementation_class_name
    implementation_class_name = nil
  end


  unless defined? item_flags_readonly
    item_flags_readonly = false
  end

  unless defined? hide_rank_badge
    hide_rank_badge = false
  end

  unless defined? only_see_presence
    only_see_presence = false
  end

  item_list = [] if only_see_presence

  al_full_name = "activity_log__#{full_name.underscore}"
  al_full_names = "activity_log__#{full_name.underscore}".pluralize


  field_result_class = "list-group-item result-field-container #{full_name.hyphenate}-{{@key}} {{#is @key 'in' '#{caption_before.select {|k,v| v && !v[:keep_label]}.keys.map(&:to_s).join(',') }'}}has-caption-before{{/is}} {{#is @key '#{external_id_options && external_id_options[:attribute]}'}}is_external_id_item{{/is}}".html_safe
%>
<script>
  _fpa.state.caption_before_<%=name.underscore%> = <%= caption_before.to_json.html_safe %>;
</script>


<% unless custom_activity_log == :none

    # get a list of rec_types that an activity log of this type is constrained to use
    # create a button for all item type / rec type combos
    # the handlebars templates will select the appropriate button based on the rec type of an
    # individual item
    works_with_rec_types_array = ActivityLog.works_with_rec_types(name)
    works_with_rec_types = works_with_rec_types_array.join(',') || ''
    activity_log_template_name = custom_activity_log ? name.hyphenate : 'generic'
    works_with_rec_types_array << '' if works_with_rec_types_array.length == 0

  end
%>

<%= render partial: 'common_templates/references_results', locals: { name: name,  references: references, item_list: item_list, implementation_class_name: implementation_class_name, caption_before: caption_before} %>
<%= render partial: 'filestore/common_template_view', locals: { name: name,  references: references, item_list: item_list, implementation_class_name: implementation_class_name, caption_before: caption_before} %>

<script id="activity_log_<%=name%>_data_template_name_partial"  type="text/x-handlebars-template" class="hidden handlebars-partial"><%= al_full_name.hyphenate %>{{#if rec_type}}-{{rec_type}}{{/if}}s-main-result-template</script>

<script id="search_results_notes_block" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <li class="list-group-item result-notes-container {{full_name_hyphenated}}-{{@key}} notes-block {{#unless value}}notes-empty{{/unless}}{{#is value ''}}notes-empty{{/is}}">
    {{#if label}}
    <small class="notes-block-label">{{label}}</small>
    {{/if}}
    <div class="notes-text">
    {{pretty_string value return_string="true"}}
    </div>
  </li>
</script>

<script id="activity_log_<%=name%>_show_button_partial" type="text/x-handlebars-template" class="hidden handlebars-partial">

  <%
  # Work out if the user has access to the activity log, and therefore should we show the link
  controls = true
  (works_with_rec_types_array||[]).each do |r|
    controls &&= !!current_user.has_access_to?(:access, :table, [al_full_name, r].join('_').pluralize)
  end

  if controls %>
  {{#if rec_type}}
  <a data-toggle="uncollapse" data-target="#<%= al_full_name.hyphenate %>-{{rec_type}}s-{{master_id}}" title="open <%= caption %> log" style="margin-right:1em" class="activity-log-entity-link <%= al_full_name.hyphenate %>-{{rec_type}}-link pull-right glyphicon glyphicon-th-list always-scroll-to-expanded" href="/masters/{{master_id}}/<%= name.pluralize %>/{{this.id}}/activity_log/<%=name.underscore%>_{{rec_type}}s" data-remote="true" data-<%=name.hyphenate%>-id="{{this.id}}" data-result-target="#<%= al_full_name.hyphenate %>-{{rec_type}}s-{{master_id}}" data-template="{{> activity_log_<%=name%>_data_template_name_partial}}"></a>
  {{else}}
  <a data-toggle="uncollapse" data-target="#<%= al_full_names.hyphenate %>-{{master_id}}" title="open <%= caption %> log" style="margin-right:1em" class="activity-log-entity-link <%= full_name.hyphenate %>-link pull-right glyphicon glyphicon-th-list always-scroll-to-expanded" href="/masters/{{master_id}}/<%= name.pluralize %>/{{this.id}}/activity_log/<%=name.underscore.pluralize%>" data-remote="true" data-<%=name.hyphenate%>-id="{{this.id}}" data-result-target="#<%= al_full_names.hyphenate %>-{{master_id}}" data-template="{{> activity_log_<%=name%>_data_template_name_partial}}"></a>
  {{/if}}
  <% end %>
</script>

<script id="<%=name%>_edit_item_button" type="text/x-handlebars-template" class="hidden handlebars-partial">
<% unless prevent_edit %>
{{#unless prevent_edit }}
  <a data-toggle="scrollto-result" data-target="#<%=name.hyphenate%>-{{master_id}}-{{id}}" title="edit" class="edit-entity edit-<%=name.hyphenate%> pull-right glyphicon glyphicon-edit" href="<%= edit_button_href %>" data-remote="true" data-<%=name.hyphenate%>-id="{{this.id}}" data-result-target=""></a>
{{/unless}}
<% end %>
</script>




<script id="<%=name%>_result_fields" type="text/x-handlebars-template" class="hidden handlebars-partial">
<% if caption_before[:all_fields] %>
  <li class="list-group-item caption-before results-caption-before <%=full_name.hyphenate%>-all_fields all-fields-caption">
    <%= show_caption_before :all_fields, caption_before %>
  </li>
<% end %>

<% if item_list.length > 0 %>
{{#filter this "<%= item_list.is_a?(Array) ? item_list.join(',') : item_list  %>" }}

  {{!-- Use an inline partial, since defining it here seems to avoid a context scoping bug that I have been unable to trace otherwise --}}
  {{#*inline '<%=name%>_result_field'}}

    {{#is @key 'in' '<%= caption_before.keys.join(',') %>'}}
    <li class="list-group-item caption-before {{#if (fpa_state_item 'caption_before_<%=name.underscore%>' @key 'keep_label')}}caption-before-keep-label{{/if}} results-caption-before <%=full_name.hyphenate%>-{{@key}}">
      {{{replace (fpa_state_item 'caption_before_<%=name.underscore%>' @key 'caption') "\n" "<br>" "g"}}}
    </li>
    {{/is}}
    {{#is @key "notes"}}
    {{> search_results_notes_block value=this full_name_hyphenated="<%=full_name.hyphenate%>" }}
    {{else is @key "description"}}
    {{> search_results_notes_block value=this full_name_hyphenated="<%=full_name.hyphenate%>" }}
    {{else is @key 'includes' "_notes"}}
    {{> search_results_notes_block value=this full_name_hyphenated="<%=full_name.hyphenate%>" label=(humanize @key) }}
    {{else is @key 'includes' "_description"}}
    {{> search_results_notes_block value=this full_name_hyphenated="<%=full_name.hyphenate%>" label=(humanize @key) }}
    {{else is @key 'includes' "_details"}}
    {{> search_results_notes_block value=this full_name_hyphenated="<%=full_name.hyphenate%>" label=(humanize @key) }}
    {{else is @key "data" }}
      <li class="<%= field_result_class %>"><small>
      {{#if ../rec_type}}{{../rec_type}}{{else}}{{humanize @key}}{{/if}}
      </small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '_url'}}
      <li class="<%= field_result_class %>"><small>{{humanize @key}}</small> <strong><span class="url-link-value">
      <a href="{{this}}" target="_new" title="open link in new tab">{{this}}</a>
      </span></strong></li>
    {{else is @key 'includes' '_link'}}
      <li class="<%= field_result_class %>"><small>{{humanize @key}}</small> <strong><span class="url-link-value">
      <a href="{{this}}" target="_new" title="open link in new tab">{{this}}</a>
      </span></strong></li>
    {{else is @key 'includes' '_rank' }}
      <% if hide_rank_badge %>
      <li class="<%= field_result_class %>"><small>{{humanize @key}}</small> <strong><span class="label label-default">{{this}}</span></strong></li>
      <% end %>
    {{else is @key '===' 'rank' }}
      <% if hide_rank_badge %>
      <li class="<%= field_result_class %>"><small>{{humanize @key}}</small> <strong><span class="label label-default">{{this}}</span></strong></li>
      <% end %>
    {{else is @key "protocol_id"}}
      <li class="<%= field_result_class %>"><small>protocol</small> <strong>{{pretty_string ../protocol_name return_string="true" capitalize="true"}}</strong></li>
    {{else is @key "sub_process_id"}}
      <li class="<%= field_result_class %>"><small>status</small> <strong>{{pretty_string ../sub_process_name return_string="true" capitalize="true"}}</strong></li>
    {{else is @key "protocol_event_id"}}
      <li class="<%= field_result_class %>"><small>method</small> <strong>{{pretty_string ../protocol_event_name return_string="true" capitalize="true"}}</strong></li>
    {{else is @key "tracker_history_id"}}
    <% unless app_config_set(:hide_tracker_panel) %>
      {{#if ../tracker_histories}}
      <li class="list-group-item <%=full_name.hyphenate%>-tracker-histories-caption tracker-histories-caption is-minor-heading">
        <a class="collapsed related-tracker-histories-link" data-toggle="collapse" href="#<%=name.hyphenate%>-tracker-histories-{{../master_id}}-{{../id}}" aria-expanded="false">Related tracker items <span class="caret"></span></a>
      </li>
      {{/if}}
      <span id="<%=full_name.hyphenate%>-tracker-histories-{{../master_id}}-{{../id}}" class="collapse related-tracker-collapser">
      {{#each ../tracker_histories}}
        <li class="list-group-item <%=full_name.hyphenate%>-tracker-histories in-item-tracker-histories is-full-width">
          <span class="small">
             <a href="/masters/{{../master_id}}/tracker_histories" data-remote="true" data-result-target="#trackers-{{../master_id}}" data-template="tracker-chron-result-template" data-result-callback="form_utils.highlight_tracker_history_item" data-tracker-history-item="#tracker-{{../master_id}}-{{../id}}" data-toggle="scrollto-target" data-target="#trackers-{{../master_id}}" title="show tracker" class="glyphicon glyphicon-align-justify"></a>
             {{pretty_string event_date}}
             {{protocol_name}} / {{sub_process_name}} / {{protocol_event_name}}
          </span>
        </li>
      {{/each}}
      </span>
      <% if implementation_class_name %>
      {{#unless ../prevent_edit}}
      <div class="results-caption-before <%=full_name.hyphenate%>-add-linked-tracker">
        <div class="panel panel-default panel-body">
          <p class="add-tracker-label">Add a specific tracker status record related to this item:</p>
          <p class="text-center">
          <a href="/masters/{{../master_id}}/trackers/new?record_type=activity_log/<%=implementation_class_name%>&record_id={{../id}}&tracker[protocol_id]={{../protocol_id}}&tracker[event_date]={{../called_when}}" data-toggle="scrollto-result" data-remote="true" class="btn btn-sm btn-primary add-tracker-record" title="add related tracker record" data-target="#trackers-{{../master_id}}"><span class="glyphicon glyphicon-plus"></span> Related Tracker record</a>
          </p>
        </div>
      </div>
      {{/unless}}
      <% end %>
    <% end %>
    {{else is @key 'includes' '^select_record_from_' }}
      <li class="<%= field_result_class %>"><small>{{humanize (replace @key '^select_record_from_' '')}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '^select_' }}
      <li class="<%= field_result_class %> is--select-field" data-field-val="{{this}}"><small>{{humanize (replace @key '^select_' '')}}</small> <strong>{{#if (get ../_general_selections @key this 'name')}}{{get ../_general_selections @key this 'name'}}{{else}}{{pretty_string this return_string="true" capitalize="true"}}{{/if}}</strong></li>
    {{else is @key 'includes' '_selection$' }}
      <li class="<%= field_result_class %> is--select-field" data-field-val="{{this}}"><small>{{humanize (replace @key '_selection$' '')}}</small> <strong>{{#if (get ../_general_selections @key this 'name')}}{{get ../_general_selections @key this 'name'}}{{else}}{{pretty_string this return_string="true" capitalize="true"}}{{/if}}</strong></li>
    {{else is @key 'includes' '^multi_select_' }}
      <li class="<%= field_result_class %> is--select-field" data-field-val="{{this}}"><small>{{humanize (replace @key '^multi_select_' '')}}</small>
        {{#* inline "iterateMultiSelect"}}
          {{#each multi_vals}}
            {{#is this '!in' "0,false,no" }}
            <span data-field-array-el-val="{{this}}">{{#if (get ../../../_general_selections ../field_key @index 'name')}}{{get ../../../_general_selections ../field_key @index 'name'}}{{else}}{{pretty_string this return_string="true" capitalize="true"}}{{/if}}</span>
            <br/>
            {{/is}}
          {{/each}}
        {{/inline}}
        <strong>
          {{>iterateMultiSelect field_key=@key multi_vals=this}}
        </strong>
    </li>
    {{else is @key 'includes' '_blank_yes_no_dont_know' }}
      <li class="<%= field_result_class %>"><small>{{humanize (replace @key '_blank_yes_no_dont_know$' '')}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '_yes_no_dont_know' }}
      <li class="<%= field_result_class %>"><small>{{humanize (replace @key '_yes_no_dont_know$' '')}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '_blank_yes_no' }}
      <li class="<%= field_result_class %>"><small>{{humanize (replace @key '_blank_yes_no$' '')}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '_yes_no' }}
      <li class="<%= field_result_class %>"><small>{{humanize (replace @key '_yes_no$' '')}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '_no_yes' }}
      <li class="<%= field_result_class %>"><small>{{humanize (replace @key '_no_yes$' '')}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '_time$' }}
      <li class="<%= field_result_class %>"><small>{{humanize @key}}</small> <strong>{{local_time this}}</strong></li>
    {{else is @key 'includes' '_notes' }}
      <li class="<%= field_result_class %>"><small>{{humanize (replace @key '_notes$' '')}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '_description' }}
      <li class="<%= field_result_class %>"><small>{{humanize @key}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '^fixed_' }}
      <li class="<%= field_result_class %>"><small>{{humanize (replace @key '^fixed_' '')}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is @key 'includes' '^placeholder_' }}
      <li class="<%= field_result_class %> hidden"><small>{{humanize (replace @key '^placeholder_' '')}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{else is this 'typeof' 'object'}}

        <li class="list-group-item typeof-object-field"><p>{{humanize @key}} <a data-target="#view-object-{{../master_id}}-{{../id}}-{{underscore @key}}" data-toggle="collapse" data-toggle-caret="true" class="glyphicon glyphicon-triangle-bottom view-object-caret"></a></p>
        <ul class="view-object collapse" id="view-object-{{../master_id}}-{{../id}}-{{underscore @key}}" aria-expanded="false">
        {{#each this}}
        {{><%=name%>_result_field}}
        {{/each}}
        </ul>

        </li>
    {{else}}
      <li class="<%= field_result_class %>"><small>{{humanize @key}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
    {{/is}}
    <% if Classification::ItemFlagName.enabled_for?(item_class_name, current_user) && item_flags_after %>
    {{#is @key '<%=item_flags_after%>'}}
      <li class="list-group-item is-full-width <%=name.hyphenate%>-item-flags">
      {{#with ..}}
        {{>item_flag_container item_type="<%=full_name%>" readonlyview=<%= item_flags_readonly %> }}
      {{/with}}
      </li>
    {{/is}}
    <% end %>


  {{/inline}}
  {{> <%=name%>_result_field}}


{{/filter}}
<% end %>
</script>

<script id="<%=name%>_result-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  {{#was _created}}
  <% if name != full_name %><div id="<%=full_name.hyphenate%>-{{master_id}}-{{id}}"> <% end %>
  <div class="common-template-item index-{{_created}} <%=name.hyphenate%>-item <%=extra_class%> <%= is_activity_log_class %>" data-model-data-type="<%=model_data_type %>" id="<%=name.hyphenate%>-{{master_id}}-{{id}}" data-subscription="<%=name.hyphenate%>-edit-form-{{master_id}}-{{id}}" data-template="<%=name.hyphenate%>-result-template" data-item-class="<%=item_class_name%>" data-sub-item="<%=full_name%>" data-sub-id="{{id}}" data-item-id="{{item_id}}" data-<%=data_sort_attr%>="{{<%=data_sort_attr.underscore%>}}<% if subsort_id %>--{{pad_start id 10 '0'}}<% end %>" <%= data_sort_str %> data-preprocessor="<%= name %>_edit_form">{{/was}}
  <ul class="list-group {{#if prevent_edit }}prevent-edit{{else}}allow-edit{{/if}} <%= is_activity_log_class %>" data-item-id="{{id}}" data-<%=data_sort_attr%>="{{<%=data_sort_attr.underscore%>}}<% if subsort_id %>--{{pad_start id 10 '0'}}<% end %>" data-item-rank="{{rank}}" <%=custom_block_attrs.map{|k,v| "#{k.to_s.hyphenate}=\"#{v.to_s.html_safe}\"" }.join(' ').html_safe%> >
      <% if item_list.length == 0 %>
        <li class="list-group-item <%=name%>-<%=name%>_id is-heading zero-item-heading">
          {{><%=name%>_edit_item_button}}
          <h4 class="list-group-item-heading"><%=caption%></h4>
        </li>
        <% if caption_before[:all_fields] %>
          <li class="list-group-item caption-before results-caption-before <%=full_name.hyphenate%>-all_fields all-fields-caption">
            <%= show_caption_before :all_fields, caption_before %>
          </li>
        <% end %>

      <%else%>
        <li class="list-group-item is-heading object-results-header">
          {{><%=name%>_edit_item_button}}
          <% unless hide_rank_badge %>
          {{> rank_button name_h="<%= name.hyphenate %>"}}
          <% end %>
          <% unless custom_activity_log == :none %>
            <% if works_with_rec_types.blank? %>
              {{> activity_log_<%=name%>_show_button_partial }}
            <% else %>
              {{#is rec_type 'in' '<%= works_with_rec_types %>' }}
                {{> activity_log_<%=name%>_show_button_partial rec_type=rec_type}}
              {{/is}}
            <% end %>
          <% end %>
          <% if model_data_type == :external_identifier && external_id_options %>
          <h4>
          <span><%= external_id_options[:label] %></span> <strong>{{<%= external_id_options[:formatter].html_safe || 'pretty_string' %> <%= external_id_options[:attribute] %>}}</strong>
          </h4>
          <% else %>
            <h4 class="list-group-item-heading"><%=caption%></h4>
          <% end %>
          <% if Classification::ItemFlagName.enabled_for?(item_class_name, current_user) && !item_flags_after %>
          {{>item_flag_container item_type="<%=full_name%>"}}
          <% end %>
        </li>
        {{><%=name%>_result_fields}}

        <% if defined?(item_blocks)
            item_blocks.each do |item_name_sym, item_attrs|
              item_name = item_name_sym.to_s
              item_list = item_attrs.is_a?(Array) ? item_attrs.join(',') : item_attrs
        %>
        <div class="<%=name.hyphenate%>-<%=item_name%> sr-item-block">
          <div class="">
          {{#with <%= item_name %>}}
          <% if item_list.include?(',') %>
          <li class="list-group-item is-sub-heading <%=name.hyphenate%>-<%=item_name.hyphenate%>">
            <%=item_name.humanize%> {{rec_type}}
            {{> rank_button name_h="<%= item_name.hyphenate %>"}}
          </li>
          {{#filter this "<%= item_list %>" }}
            {{#is @key "notes"}}
            <div class="notes-block <%=name.hyphenate%>-<%=item_name.hyphenate%>-notes {{#is this ''}}notes-empty{{/is}}">
              <div class="panel panel-default panel-body">
              {{pretty_string this return_string="true"}}
              </div>
            </div>
            {{else}}
              <li class="list-group-item result-field-container <%=name.hyphenate%>-<%=item_name.hyphenate%>-{{@key}}"><small>{{humanize @key}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong></li>
            {{/is}}
          {{/filter}}
          <% else %>
          <li class="list-group-item  result-field-container <%=name.hyphenate%>-<%=item_name.hyphenate%>">
            {{#filter this "<%= item_list %>" }}
            <small>{{humanize @key}}</small> <strong>{{pretty_string this return_string="true" capitalize="true"}}</strong>
            {{/filter}}
          </li>
          <% end %>
          {{/with}}

          </div>
        </div>
        <%  end
          end
        end %>

      {{>activity_log_<%=name%>_references }}

      <% if caption_before[:metadata]%>
      <div class="results-caption-before <%=full_name.hyphenate%>-metadata">
        <div class="panel panel-default panel-body">
          <small><%= show_caption_before :metadata, caption_before %></small>
        </div>
      </div>
    <% end %>
    <% unless defined?(exclude_metadata) && exclude_metadata %><li class="list-group-item record-meta">{{>update_metadata <% if show_created_at %>show_created_at=true<%end%> }}</li><%end%>
  </ul>
  {{#was _created}}
  </div>
  <% if name != full_name %></div> <% end %>
  {{/was}}
</script>


<script id="<%=name.hyphenate%>-result-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{#with <%=with_data || full_name%>}}

      {{><%=name%>_result }}

  {{/with}}
</script>

<script id="<%=name.pluralize.hyphenate%>-list-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{><%=name.pluralize%>_list }}
</script>

<script id="<%=name.pluralize.hyphenate%>-compact-list-template" type="text/x-handlebars-template" class="hidden handlebars-template">
  {{><%=name.pluralize%>_list compact=true prevent_create=true }}
</script>

<script id="<%=name.pluralize%>_list-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">


    {{#each <%=full_name.pluralize%>}}

        {{><%=name%>_result _created=@index compact=compact}}

    {{/each}}

    <% if name != full_name %><div id="<%=full_name.hyphenate%>-{{master_id}}-{{id}}"> <% end %>
    <div class="col-md-24 new-block<% if name != full_name %> new-before-parent<% end %>" id="<%=name.hyphenate%>-{{master_id}}-" data-subscription="<%=name.hyphenate%>-edit-form-{{master_id}}-">
      {{#unless <%=full_name.pluralize%>}}
      <ul class="list-group">
        <li class="list-group-item is-heading">
          <h4>No <%=caption%> records</h4>
        </li>
      </ul>
      {{/unless}}
    </div>
    <% unless prevent_create || !DynamicModel.show_add_button(category)%>
      {{#unless prevent_create}}
      <div class="new-button-container">
      <p class="text-center"><a href="/masters/{{master_id}}/<%=name.pluralize%>/new" data-toggle="scrollto-result" data-target="#<%=name.hyphenate%>-{{master_id}}-" data-remote="true" class="btn btn-sm btn-primary add-item-button"><span class="glyphicon glyphicon-plus"></span> <%= caption %> record</a> </p>
      </div>
      {{/unless}}
    <% end %>
    <% if name != full_name %></div> <% end %>
</script>

<script id="<%=name%>_create_button-partial" type="text/x-handlebars-template" class="hidden handlebars-partial">
  <% unless prevent_create %>
  <a href="/masters/{{id}}/<%=name.pluralize%>/new" data-remote="true" class="btn btn-sm btn-primary add-item-button" data-toggle="scrollto-result" data-target="<%=name.hyphenate%>-{{id}}-"><span class="glyphicon glyphicon-plus"></span> {{#if label}}{{label}}{{else}}<%= name.titleize %>{{/if}} record</a>
  <% end %>
</script>

<script>
  _fpa.show_if.forms['<%=full_name%>'] = <%= show_if.to_json.html_safe %>;
  <% if full_name.to_s.end_with?('_primary') %>
  _fpa.show_if.forms['<%=full_name.sub(/_primary$/, '')%>'] = <%= show_if.to_json.html_safe %>;
  <% end %>
</script>
