<div class="data-results">
  <div data-result="admin-edit-form-"  class="admin-edit-form">
<%= form_for(object_instance, url: admin_form_url, class: "inline-form", remote: true) do |f| %>
  <%= render partial: 'admin_handler/form_errors' %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :value %>
    <%= f.text_field :value, disabled: !!object_instance.id  %>
  </div>
  <div class="form-group">
    <%= f.label :item_type %>
    <% select_item_type = {}
       select_item_type[:selected] = params[:filter][:item_type] unless object_instance.id || !params[:filter] %>
    <%= f.select :item_type, Classification::GeneralSelection.item_types, select_item_type, disabled: !!object_instance.id  %>
  </div>
  <div class="form-group">
    <%= f.check_box :disabled %>
    <%= f.label :disable %>
  </div>
  <div class="form-group">
    <%= f.check_box :create_with %>
    <%= f.label :create_with %>
  </div>
  <div class="form-group">
    <%= f.check_box :lock %>
    <%= f.label :lock_value %>
  </div>
  <div class="form-group">
    <%= f.check_box :edit_if_set%>
    <%= f.label :edit_if_set %>
  </div>
  <div class="form-group">
    <%= f.check_box :edit_always %>
    <%= f.label :edit_always %>
  </div>
  <div class="form-group">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>
  <div class="">
    <%= f.label :description %>
    <%= f.text_area :description, style: "width:50%; height:70px;" %>
  </div>

  <div class="form-group">
    <%= hidden_filter_fields %>

    <%= f.submit class: "btn btn-primary" %> <%= admin_edit_cancel %>
  </div>
<% end %>
  </div>
</div>
