<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">
    <%= show_admin_heading %>
    <p>
      <%= show_filters %>
    </p>
    <%= render partial: 'head_info' %>
    
    <div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>
    <table class="table tablesorter admin-list">
      <thead>
        <tr>
          <th class="no-sort"></th>
          <th>ID</th>
          <th>Name</th>
          <th>Label</th>
          <th>Default Schema Name</th>
          <th>Active on Server?</th>
          <th>Disabled</th>
          <th>Last Admin Update</th>
          <th>Export</th>
          <th>Filestore setup</th>
        </tr>
      </thead>
      <tbody>
        <% objects_instance.each do |list_item| %>
          <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
            <td><%= admin_edit_btn list_item.id%> </td>
            <td><%= list_item.id %></td>
            <td><%= list_item.name %></td>
            <td><%= list_item.label %></td>
            <td><%= list_item.default_schema_name %></td>
            <td><%= list_item.active_on_server? ? 'yes' : '<b>no</b>'.html_safe %></td>
            <td><%= list_item.disabled ? 'disabled' : ''%></td>
            <td><%= list_item.admin_name %></td>
            <td>
            <% if list_item.active_on_server? %>
            <%= link_to 'export yaml', admin_app_type_path(list_item, export_format: :yaml), target: '_blank' %> |
            <%= link_to 'export migrations', export_migrations_admin_app_type_path(list_item), target: '_blank' %> |
            <%= link_to 'components', admin_app_type_path(list_item, show_components: true), target: '_blank' %>
            <% end %>
            </td>
            <td><code><% Rails.env.production? ? 'RAILS_ENV=production ' : ''%>app-scripts/setup_filestore_app.sh <%=list_item.id%></code></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render partial: 'admin_handler/index_actions'  %>
  </div>
</div>
