<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">
<h1>App Types</h1>
<p>
  <%= show_filters %>
</p>

<div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>

<table class="table tablesorter admin-list">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th>Name</th>
      <th>Label</th>
      <th>Disabled</th>
      <th>Last Admin Update</th>
    </tr>
  </thead>

  <tbody>
    <% @app_types.each do |list_item| %>
      <tr class="<%=list_item.disabled ? 'disabled-result' : ''%>">
        <td><%= admin_edit_btn list_item.id%> </td>
        <td><%= list_item.name %></td>
        <td><%= list_item.label %></td>
        <td><%= list_item.disabled ? 'disabled' : ''%></td>

        <td><%= list_item.admin_name %></td>
        <td><%= link_to 'export', admin_app_type_path(list_item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">

  <div class="panel panel-default panel-body col-sm-8 col-sm-offset-8">
    <h3>Upload a configuration file</h3>

    <%= form_tag({action: :upload}, multipart: true) do %>
    <%= file_field_tag 'config' %>
    <%= submit_tag %>
    <% end %>
  </div>
</div>

<%=  render partial: 'admin_handler/index_actions'  %>
  </div>
</div>
