<div class="container well admin-app-type-components">
  <h1><%=@message%></h1>
  <div class="row">
    
    <div class="col-md-24">
      <div>
        <div class="pull-right">
          <%= link_to 'export yaml', admin_app_type_path(@app_type, export_format: :yaml), target: '_blank', class: 'btn btn-primary' %>
        </div>
        <h1><%= @app_type.label %> <small>#<%= @app_type.id %> <code><%= @app_type.name %></code></small></h1>
      </div>
      
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <%= render partial: 'admin/app_types/components', locals:{ main_components: false, open_in_new: true }%>
      
      </div>
    </div>
    <div class="col-md-24">
      <pre><%=@primary%></pre>
    </div>
  </div>
</div>
