<%
click_to_search = @report_page #&& @report.report_type  == 'search'
btn = !click_to_search && !@embedded_report ? "btn btn-default btn-sm pull-right" : "btn btn-primary"
%>

        <div>
            <%= form_tag report_path(@report.id), method: :get, class: 'form-formatted search_report', id: "report_query_form", data: {result_target: "##{@results_target}", preprocessor: 'reports_result'}, remote: true do %>
            <% if @report.filter_previous_clause? && @report_page && @report.filtering_list%>
            <div class="row">
                <div class="form-group">
                <%
                  fp = false
                  if @report.search_attr_values.is_a?(Hash) && @report.search_attr_values[:_filter_previous_]
                    fp = "true"
                  end
                %>
                <%= check_box_tag "search_attrs[_filter_previous_]", 'true', fp, style: 'display: inline; width: 2em; vertical-align: bottom;' %>
                <%= label_tag 'filter previous results' %>
                </div>
                <div id="filter_on_block"></div>

            </div>
            <%end %>
            <div class="row report-criteria-fields">
              <% i = 0
                @report.search_attributes.each do |name, type|

                  pattern = nil
                  e = ExternalIdentifier.active.where(external_id_attribute: name).first
                  pattern = e.external_id_edit_pattern if e && !e.blank?
                  field_val = @report.search_attr_values[name]
                  type_val = type.first.last
                  field_hidden = type_val['hidden']
              %>
                <% if i > 0 && i % 4 == 0 %></div><div class="row"><%end%>
                <div class="col-md-8 col-lg-6 <%= field_hidden ? 'hidden' : '' %>" style="padding-bottom: 1em;">
                <%= report_field name, type, field_val, pattern: pattern %>
                </div>
              <% i += 1
                 end%>

             <% if @report.editable_data? || !@report_criteria  %>
             <div class="col-md-2 col-lg-2" style="padding-bottom: 1em;">
               <label>&nbsp;</label>
               <div>
                 <%= submit_tag :search, value: :search, class: "btn btn-default #{!@report_criteria && @report.auto ? 'hidden' : ''} #{!@report_page ? 'auto-submitter' : ''} #{!@report_page && @report.auto ? 'auto-run' : ''}" if @report.report_type == 'search'  %>
               </div>
             </div>
             <% end %>
            </div>
            <div class="form-group form-actions clearfix" style="border-color: transparent;">
              <%= hidden_field_tag  "search_attrs[#{Report::ReportIdAttribName}]", ''%>
              <%= hidden_field_tag  "part", ''%>
              <%= hidden_field_tag  "embed", @embedded_report%>
              <% if click_to_search %> <span></span><%end%>
              <% if @report.report_type == 'search' && !(@report.editable_data? || !@report_criteria) %>
              <%= submit_tag :search, value: :search, class: "#{btn} #{!@report_criteria && @report.auto ? 'hidden' : ''} #{!@report_page ? 'auto-submitter' : ''} #{!@report_page && @report.auto ? 'auto-run' : ''}" %>
              <%= submit_tag :table, class: "#{btn}"  unless @view_context==:search %>
              <% else %>
              <%= submit_tag (@embedded_report ? :list : :table), class: "#{btn} #{!@report_page ? 'auto-submitter' : ''} #{!@report_page && @report.auto ? 'auto-run' : ''}"  unless @view_context==:search %>
              <% end %>
              <% unless @report.editable_data? || @embedded_report %>
              <%= submit_tag :count, class: "#{btn}" unless @report.report_type == 'count' || @view_context==:search%>
              <%= submit_tag "CSV", name: :format, value: "csv", class: "#{btn}" if current_admin || current_user && current_user.can?(:export_csv) %>
              <%= submit_tag "JSON", id: "submit_query_to_json", name: :format, value: "json", class: "#{btn} target_new_window" if current_admin || current_user && current_user.can?(:export_json) %>
              <% end %>
              <% if @report.report_type != 'count' %>
                <span class="search_count_reports search-results-count pull-right" data-sub-item="count" data-template="search-count-template" ></span>
              <%end%>
            </div>
            <%end%>

            <%=link_to 'get_filter_previous', report_path(id: @report.id, get_filter_previous: 'true', format: :html), id: 'get_filter_previous', remote: true, data: {result_target: '#filter_on_block'}, class: 'hidden' %>
        </div>
