<%
@click_to_search = @report_page
@btn_class = !@click_to_search && !embedded_report ? "btn btn-default btn-sm pull-right" : "btn btn-primary"
@view_options = @report.report_options.view_options
@hidden_class = !@report_criteria && @report.auto && !@view_options&.force_show_search_button ? 'hidden' : ''
@auto_submitter_class = !@report_page ? 'auto-submitter' : ''
@auto_run_class = !@report_page && @report.auto || @force_run ? 'auto-run' : nil
%>
<div class="report-criteria-fields-block">
  <%= form_tag report_path(@report.id), 
        method: :get, 
        class: 'form-formatted search_report', 
        id: "report_query_form", 
        data: { result_target: "##{@results_target}", preprocessor: 'reports_result' }, 
        remote: true do 
  %>
    <% if @report.uses_table_subs? %>
      <%= hidden_field_tag :table_name, params[:table_name]%>
      <%= hidden_field_tag :schema_name, params[:schema_name]%>
      <%= hidden_field_tag :table_fields, params[:table_fields]%>
    <% end %>
    <%= render partial: 'reports/criteria/previous_filtering_block' %>
    <div class="row report-criteria-fields">
      <%= render partial: 'reports/criteria/fields' %>
      <%= render partial: 'reports/criteria/inline_search_button_block' %>
    </div>
    <div class="form-group form-actions clearfix" style="border-color: transparent;">
      <%= hidden_field_tag  "search_attrs[#{Reports::Runner::ReportIdAttribName}]", ''%>
      <%= hidden_field_tag  "part", '', id: nil%>
      <%= hidden_field_tag  "embed", embedded_report, id: nil%>
      <%= render partial: 'reports/criteria/search_buttons_block' %>
      <%= render partial: 'reports/criteria/export_submit_button_block' %>
      <%= render partial: 'reports/criteria/count_block' %>
    </div>
  <%end%>
  <%=link_to 'get_filter_previous', report_path(id: @report.id, get_filter_previous: 'true', format: :html), id: 'get_filter_previous', remote: true, data: {result_target: '#filter_on_block'}, class: 'hidden' %>
</div>
