<div class="data-results">
  <div data-result="report-edit-form-"  class="report-edit-form">
    <%
  object_instance = @report_item

  unless defined? labels
    d = object_instance.class.default_options if object_instance.class.respond_to? :default_options
    labels = d.labels if d
  end
  labels ||= {}

%>
    <table>
      <%= form_for(object_instance, url: (object_instance.id ? url_for(controller: controller_name, action: :update, report_id: @report.id, id: object_instance.id) : url_for(controller: controller_name, action: :create, report_id: @report.id) ), class: "inline-form", remote: true, html: {'data-result-target' => '#report-edit-results', 'data-template' => "edit-report-result",  'data-object-id' => object_instance.id }) do |f| %>
        <tr id="report-item-edit-<%=object_instance.id%>" class="report-item-edit">
          <%= render partial: 'form_errors' %>
          <td class="report-el report-edit-btn-cell report-edit-btn-cell-editing">
            <%= hidden_filter_fields %>
            <%= report_edit_cancel %><button class="btn btn-primary report-edit-submit"><i class="glyphicon glyphicon-ok"></i></button>
          </td>
          <% if object_instance.respond_to?(:id) %>
            <td class="report-el report-el-object-id"><%= object_instance.id %></td>
          <% end %>
          <% (@report.all_configured_edit_fields - [:id]).each do |field_name_sym| %>
            <%
          form_object_instance = object_instance
          form_object_item_type_us = form_object_instance.item_type_us
          label_redefined = false

          field_name = field_name_sym.to_s
          col = form_object_instance.class.columns_hash[field_name]
          # raise FphsException.new "Column #{field_name_sym} does not appear in the columns #{form_object_instance.class.columns_hash.map{|k,v| k}}" unless col
          # External IDs and master crosswalk ids (msid) do not feature in the item. Ignore if they appear
          column_type = :string
          column_type = col.type if col

          local_vars = {
            form: f,
            field_name_sym: field_name_sym,
            field_name: field_name,
            column_type: column_type,
            general_selection_name: general_selection_prefix_name(form_object_instance),
            form_object_instance: form_object_instance,
            form_object_item_type_us: form_object_item_type_us,
            caption_before: {},
            labels: labels
          }
          local_vars[:locals] = local_vars

          # One time only, redefine the label method for this specific form fields instance
          unless label_redefined
            def f.label *args
              return super if args.last.is_a?(Hash) && args.last[:force_show]
              ""
            end
            label_redefined = true
          end
        %>
            <% if @report.edit_fields.include?(field_name_sym) %>
              <td class="report-el report-el-edit-cell report-el-edit-<%=field_name_sym%> report-el-edit-type-<%=column_type%>" data-col-type="<%=field_name_sym%>" data-col-var-type="<%=column_type%>">
                <%= edit_form_field(**local_vars) %>
              </td>
            <% else%>
              <td class="report-el report-el-edit-cell report-el-disabled">
                &nbsp;
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
    <div id="report-edit-results" data-template="edit-report-result"></div>
  </div>
</div>
