<div class="row">
  <div class="col-md-22 col-md-offset-1">
    <div class="well">
      <ul>
        <% 
            i = 0
            @runner.previous_filtering&.filtering_list.each do |f|
              sa = f[:search_params]&.dup
              if f.is_a? Hash
                sa[:no_run]='true'
                sa[:_filter_previous_]='true' if i > 0
              end
              i+=1

              report_id = f[:id]
              report = Report.find(report_id)
              rsa = report.search_attributes
              res_count = f[:results_length]
          %>
        <li>
          <%= link_to f[:name], report_path(id: report_id, search_attrs: sa), target: 'report', class: 'filter-prev-report-link', title: 'Rerun report in new window' %>: 
          <i class="filter-prev-results-count"><%=res_count %> <%='result'.pluralize(res_count)%></i>
          <ul>
            <% 
                f[:search_params].each do |k,v|
                    label = report.search_attributes_config[k.to_sym].label || k.humanize
              %>
            <li>
              <span class="filter-prev-attr-key"><%= label %>:</span> <span class="filter-prev-attr-value"><%= v.is_a?(Array) ? v.join(", ") : v %></span>
            </li>
            <% 
              end 
              %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
