<% rt = @report.result_tables_by_index || []%>

<div class="data-results" id="report-container" data-report-id="<%=@report.id%>">
  <div class="<%= @count_only ? 'count-only' : '' %>">
    <div id="report-edit-" data-preprocessor="report-edit-form" data-subscription="report-edit-form-" class="new-block new-below no-processed-scroll"></div>

    <p class="text-center"><%= link_to "link to report", report_path(id: @report.id, search_attrs: @search_attrs.merge(no_run: 'true')) if current_admin || current_user.can?(:view_reports)%> </p>
    <%= render partial: 'filter_on'  if @report.filtering_on %>
    <% if current_admin && @report.clean_sql%>
    <p class="text-center"><a href="#clean-sql" data-toggle="collapse" class="collapsed">show SQL</a></p>
    <div class="row">
        <div class="col-md-20 col-md-offset-2 collapse" id="clean-sql">
          <pre><%=@report.clean_sql%>
          </pre>
        </div>
    </div>
    <% end %>

    <div class="row" style="background-color: #eee;">
      <div class="col-sm-22 col-sm-offset-1 ">

        <h3 class="text-right hidden"><span class="result-count"><%=@results.count%></span> <%=@results.count == 1 ? 'row' : 'rows'%></h3>
        <div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>
      </div>
    </div>
    <div id="report-results-block" class="<%= @count_only ? 'hidden' : '' %>">
      <p class="text-center back-to-search-form">
        <a href="#body-top" class="btn btn-default small back-to-search-form-btn"><i class="caret up"></i> back to search form</a>
        <a href="#report-results-block" class="btn btn-default small show-results-btn"><i class="caret"></i> show all results</a>
      </p>
      <div class="report-results-inner">
        <table class="report-table table tablesorter">
          <thead>
            <tr>
              <% if editable? %><th class="no-sort edit-button-column"></th><% end %>
              <%
                i = 0

                table_names = rt.uniq
                num_tables = table_names.length
              %>
              <% @results.fields.each do |col|

              %>
                <th title="Click to sort. Shift+Click for sub-sort(s). Click again for descending sort.">
                  <p><%=col%></p>
                  <% unless num_tables == 1 %>
                  <p class="small report-table-name" title="<%=rt[i] %>"><%=rt[i] %></p>
                  <% end %>
                </th>
              <%  i += 1%>
              <% end %>
            </tr>
          </thead>
          <tbody>

            <% @results.each_row do |list_item| %>


              <tr class="" id="report-item-<%=list_item[0]%>">
               <% if editable? %>
               <td class="report-el report-edit-btn-cell"><%= report_edit_btn list_item[0]%> </td>
               <% end %>
                <% i = 0 %>

                <% list_item.each do |col| %>
                <td data-col-type="<%=@results.fields[i] %>" data-col-table="<%=rt[i] %>" class="report-el <%= @results.fields[i] == 'id' ? 'report-el-object-id' : '' %>">
                  <%  l = col&.scan("\n")&.length || 0
                      got_nl = l > 2 %>
                  <% if got_nl%><pre class="expandable"><% end %><%= col %><% if got_nl%></pre><% end %>
                </td>
                <%  i += 1 %>
                <% end %>

              </tr>
            <% end %>
            <tr class="<%= editable? ? '' : 'hidden' %>" id="report-item-new">

              <% if editable? %>
              <td class="report-el report-edit-btn-cell"><%= report_edit_btn 'new'%>
                <% if creatable? %>
                  <div class="">
                    <%= link_to "", new_report_path(report_id: @report.id), remote: true, class: "btn btn-primary report-new-item-btn glyphicon glyphicon-plus", title: 'add new report item' %>
                  </div>
                <% end %>
              </td>
              <% end %>
               <% i = 0 %>

               <% @results.fields.each do |field| %>
               <td data-col-type="<%=field %>" data-col-table="<%=rt[i] %>" class="report-el-was-from-new report-el <%= field == 'id' ? 'report-el-object-id' : '' %>"></td>
               <%  i += 1 %>
               <% end %>

              </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
