<%
  result_tables = @report.result_tables_by_index || []
  @outer_block_id = "report-container-#{SecureRandom.hex}"

%>

<div class="data-results report-container" id="<%=@outer_block_id%>" data-report-id="<%=@report.id%>">
  <div class="<%= @count_only ? 'count-only' : '' %>">
    <div id="report-edit-" data-preprocessor="report-edit-form" data-subscription="report-edit-form-" class="new-block new-below no-processed-scroll"></div>

    <% unless @embedded_report %>
    <p class="text-center"><%= link_to "link to report", report_path(id: @report.id, search_attrs: @search_attrs.merge(no_run: 'true')) if current_admin || current_user.can?(:view_reports)%> </p>
    <% end %>
    <%= render partial: 'filter_on'  if @report.filtering_on %>
    <% if current_admin && @report.clean_sql && !@embedded_report%>
    <p class="text-center"><a href="#<%=@outer_block_id%>-clean-sql" data-toggle="collapse" class="collapsed">show SQL</a></p>
    <div class="row">
        <div class="col-md-20 col-md-offset-2 collapse clean-sql" id="<%=@outer_block_id%>-clean-sql">
          <textarea class="admin-clean-sql"><%=@report.clean_sql%>
          </textarea>
        </div>
    </div>
    <% end %>

    <div class="row" style="background-color: #eee;">
      <div class="col-sm-22 col-sm-offset-1 ">

        <h3 class="text-right hidden"><span class="result-count"><%=@results.count%></span> <%=@results.count == 1 ? 'row' : 'rows'%></h3>
        <div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>
      </div>
    </div>
    <div id="<%=@outer_block_id%>-results-block" class="report-results-block <%= @count_only ? 'hidden' : '' %>">
      <% unless @embedded_report %>
      <div class="text-center back-to-search-form">
        <a href="#body-top" class="btn btn-default small back-to-search-form-btn"><i class="caret up"></i> back to search form</a>
        <a href="#<%=@outer_block_id%>-results-block" class="btn btn-default small show-results-btn" style="display: none;"><i class="caret"></i> show all results</a>
      </div>
      <% end %>
      <div class="report-results-inner">
        <%
          render_as = @report.view_options.view_as || 'table'
          render_as = render_as.gsub(/[^a-z_]/, '')
        %>
        <%= render partial: "reports/result_template/#{render_as}", locals: {result_tables: result_tables} %>
      </div>
    </div>


  </div>
</div>
<%= render partial: 'result_view_css' %>
