<%
  result_tables = @runner.result_tables_by_index || []
  @outer_block_id = "report-container-#{SecureRandom.hex}"
  no_results_scroll = embedded_report || @report.report_options.view_options.no_results_scroll
  extra_classes = embedded_report ? 'report-is-embedded' : ''
  extra_classes += " report-rn--#{@report.alt_resource_name}"
%>
<div class="data-results report-container <%=extra_classes%>" id="<%=@outer_block_id%>" data-report-id="<%=@report.id%>">
  <div class="<%= @runner.count_only ? 'count-only' : '' %>">
    <div id="report-edit-" data-preprocessor="report-edit-form" data-subscription="report-edit-form-" class="new-block new-below no-processed-scroll"></div>
    <% unless embedded_report %>
      <div class="link-to-report"><%= link_to "", report_path(id: @report.alt_resource_name, search_attrs: search_attrs_params_hash.merge(no_run: 'true')), class: 'glyphicon glyphicon-link' if current_admin || current_user.can?(:view_reports)%></div>
    <% end %>
    <%= render partial: 'filter_on' if @runner.previous_filtering.sql_requests_filtering %>
    <% if current_admin && @runner.sql && !embedded_report%>
      <p class="text-center"><a href="#<%=@outer_block_id%>-clean-sql" data-toggle="collapse" class="collapsed">show SQL</a></p>
      <div class="row">
        <div class="col-md-20 col-md-offset-2 collapse clean-sql" id="<%=@outer_block_id%>-clean-sql">
          <textarea class="admin-clean-sql"><%=@runner.sql%>
          </textarea>
        </div>
      </div>
    <% end %>
    <div class="row report-results-row" >
      <div class="col-sm-22 col-sm-offset-1 ">
        <h3 class="text-right hidden"><span class="result-count"><%=@results.count%></span> <%=@results.count == 1 ? 'row' : 'rows'%></h3>
        <div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>
      </div>
    </div>
    <div id="<%=@outer_block_id%>-results-block" class="report-results-block <%= @runner.count_only ? 'hidden' : '' %> <%=no_results_scroll ? 'no_results_scroll' : ''%>">
      <% unless no_results_scroll %>
        <div class="text-center back-to-search-form">
          <a href="#body-top" class="btn btn-default small back-to-search-form-btn"><i class="caret up"></i> back to search form</a>
          <a href="#<%=@outer_block_id%>-results-block" class="btn btn-default small show-results-btn" style="display: none;"><i class="caret"></i> show all results</a>
        </div>
      <% end %>
      <div class="report-results-inner">
        <%
          render_as = @report.report_options.view_options.view_as || 'table'
          render_as = render_as.gsub(/[^a-z_]/, '')
        %>
        <%= render partial: "reports/result_template/#{render_as}", locals: {result_tables: result_tables} %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'result_view_css' %>
