<%
  content = markdown_to_html @report.description
  if content.present?
    content = Formatter::Substitution.substitute( content, data: @report).html_safe
  end
  @criteria_block_id = "report-criteria-container-#{SecureRandom.hex}"
  extra_classes = @report.report_options.view_options.hide_criteria_panel ? 'hidden' : ''
%>
<%= render partial: 'masters/modal_pi_search_results_template' %>
<script id="edit-report-result" type="text/x-handlebars-template" class="hidden handlebars-template">
  <span>
  </span>
</script>
<% if @report.editable_data? %>
  <span id="editable_data"></span>
<% end %>
<div class="report-criteria container-fluid <%=extra_classes%>" id="<%= @criteria_block_id %>-block">
  <div class="row" data-result="#report-embedded">
    <div class="col-sm-22 col-sm-offset-1">
      <div class="well report-criteria-block">
        <%= link_to app_config_text(:report_library_button_label, "report library"), reports_path, class: 'btn btn-info pull-right' unless embedded_report %>
        <h1><%=@report.name%>
          <% if @runner.data_reference.table_name %><small><%= @runner.data_reference.table_name %></small><% end %>
        </h1>
        <% if @runner.data_reference.table_name 
            table_comment = Admin::MigrationGenerator.table_comment(@runner.data_reference.table_name, @runner.data_reference.schema_name)
        %>
        <%= table_comment %>
        <% end %>
        <div class="report-form-content">
        <%= content %>
        </div>      
        <%= render partial: 'criteria' %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'criteria_view_css' %>
<% if @report.searchable %><%= render partial: 'reports/master_results_css' %><% end %>
<div id="<%=@results_target%>" data-sub-item="masters" data-template="search-results-template" class="report-results-outer">
  <% if @results %>
    <%= render partial: 'results' %>
  <% end %>
</div>
<div data-preprocessor="master_search_results" data-sub-item="report_res_name" data-template="empty"></div>
