<div class="data-results" data-subscription="admin-list" >
  <div data-result="admin-list">    
<h1>Reports</h1>

<p>
    <%= show_filters %>    
  </p>
<div id="admin-edit-" data-preprocessor="admin-edit-form" data-subscription="admin-edit-form-" class="new-block new-below"></div>

<table class="table tablesorter admin-list">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>            
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |list_item| %>
      <tr class="<%=list_item.disabled ? 'disabled-result' : ''%> report-type-<%= list_item.report_type %> <%= list_item.auto ? 'report-auto' : '' %>" data-report-id="<%=list_item.id %>">
        <td style="width: 5%"><span class="hidden"><%= list_item.report_type %></span><span class="glyphicon <%= list_item.report_type == 'count' ? 'glyphicon-record' : list_item.report_type == 'regular_report' ? 'glyphicon-list-alt' : 'glyphicon-search'  %>" title="<%= list_item.report_type.humanize %>"></span></td>
      
        <td style="width: 15%"><%= link_to  list_item.name, report_path(list_item.id), target: '_blank' %></td>        
      
        <td style="width: 30%"><%= list_item.description %></td>  
        <td style="width: 25%" class="report-search-attr"></td>
        <td style="width: 25%" class="report-measure"></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
</div>
<script>
  
  _fpa.reports.run_autos();
  
</script>