<%= render partial: 'masters/search_results_template' %>
<%= render partial: 'masters/modal_pi_search_results_template' %>
<% 
@report_page = true 
%>

<script id="edit-report-result" type="text/x-handlebars-template" class="hidden handlebars-template">
  <span>
  </span>
</script>



<div class="report-criteria container-fluid">
    <div class="row">
    <div class="col-sm-22 col-sm-offset-1">
      <div class="well">
        <%= link_to "report library", reports_path, class: 'btn btn-info pull-right'%><h1><%=@report.name%></h1>
        <p><%= (@report.description || '').gsub("\n", "<br />").html_safe %></p>
        <p>&nbsp;</p>      
          <%= render partial: 'criteria' %>
        </div>
    </div>
  </div>
</div>
<div id="master_results_block" data-sub-item="masters" data-template="search-results-template" data-preprocessor="master_search_results">
<% if @results %>
<%= render partial: 'results' %>

<% end %>
</div>
