<div class="report-criteria container-fluid">
    <div class="row">
    <div class="col-sm-22 col-sm-offset-1">
      <div class="well">
        <%= link_to "report library", reports_path, class: 'btn btn-info pull-right'%><h1><%=@report.name%></h1>
        <p><%= @report.description.gsub("\n", "<br />").html_safe %></p>
        <p>&nbsp;</p>      
          <%= render partial: 'criteria' %>
        </div>
    </div>
  </div>
</div>
<% if current_admin && @report.clean_sql%>
<div class="row">
    <div class="col-md-20 col-md-offset-2">
      <pre><%=@report.clean_sql.html_safe%>
      </pre>
    </div>
</div>
<% end %>
<% if @results %>
<%= render partial: 'results' %>

<% end %>
