<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings::PageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'admin_index', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'admin_index' %>
    <script>
      _fpa.status = {
        controller: '<%= controller_name %>',
        action: '<%= action_name %>'
      };
    </script>
    <%= render partial: "layouts/setup_app" if current_user || current_admin %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
  </head>
  <body <%= body_classes %> id="body-top">
    <%= render partial: 'layouts/navbar/navbar' if @navbar_ready%>
    <%= render partial: 'layouts/flash_alerts' %>
    <%= yield %>
    <%= render partial: 'layouts/help_sidebar' %>
    <script>
      _fpa.translations = <%= YAML.load_file(Rails.root.join('config', 'locales', "#{I18n.locale}.yml")).to_json.html_safe %>;
      _fpa.locale_t = _fpa.translations[_fpa.current_locale];
      _fpa.state.current_user_preference = _fpa.state.current_user_preference || {
        date_format: 'mm/dd/yyyy'
      };
      
      window.setTimeout(function() {
        _fpa_admin.all.index_page.loaded();
      },10);
    </script>
    <%= render partial: 'layouts/bootstrap_modal' %>
    <script id="flash_template" type="text/x-handlebars-template" class="handlebars-template">
      {{#if message}}
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
      </div>
      {{/if}}
    </script>
  </body>
</html>
