<!DOCTYPE html>
<html>
<head>
  <title><%= 'FPHS' %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/webshims/polyfiller.js' %>
  <script>
    webshim.polyfill('forms-ext');
    
  _fpa.status = {
    controller: '<%= controller_name %>',
    action: '<%= action_name %>'
  };
  </script>
  <%= render partial: "layouts/setup_app" if current_email %>
  <%= csrf_meta_tags %>  
  
</head>
<body <%= body_classes %>>
    <%= render partial: 'layouts/navbar' %>
    <div class="flash new-block" data-sub-item="message" data-template="flash_template">  
      <% flash.each do |key, value| 
          key = 'warning' if key == 'alert'
          f_class = 'alert-info'          
          f_class = "alert-#{key.to_s}" unless key == 'notice'
          
          f_class << " invisible" if !Rails.env.test? && Application.hide_messages.include?(value) 
      %>
      <div class="alert <%= f_class %>" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= value %>
      </div>
      <% end %>
    </div>
    <%= render partial: 'admin_handler/status_bar' %>
<%= yield %>
    <%= render partial: 'layouts/bootstrap_modal' %>
    <script id="flash_template" type="text/x-handlebars-template" class="handlebars-template">
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
      </div>
    </script>


</body>
</html>
