<!DOCTYPE html>
<html>
<head>
  <title>FPHS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body <%= body_classes %>>
    <%= render partial: 'layouts/navbar' %>
    <div class="flash">  
      <% flash.each do |key, value| 
          f_class = 'alert-info'
          f_class = "alert-#{key.to_s}" unless key == 'notice'
      %>
      <div class="alert <%= f_class %>" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= value %>
      </div>
      <% end %>
    </div>
    <% if current_admin %>
    <div class="alert alert-warning">
        <h2>Logged in as Administrator</h2>
        <p><%= link_to 'logout', destroy_admin_session_path, method: :delete, class: 'btn btn-default' %></p>
    </div>
    <% end %>
<%= yield %>

</body>
</html>
