<!DOCTYPE html>
<html>
<head>
  <title><%= Settings::PageTitle %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% if current_user&.app_type&.name
       fn = "app_#{current_user.app_type.name.id_underscore}.css"
       if Rails.root.join("public", "app_specific", fn).exist? %>
  <link rel="stylesheet" media="all" href="/app_specific/<%=fn%>">
  <%   end 
     end %>

  <%= javascript_include_tag 'application' %>

  <% if current_user&.app_type&.name
       fn = "app_#{current_user.app_type.name.id_underscore}.js"
       if Rails.root.join("public", "app_specific", fn).exist? %>
  <script src="/app_specific/<%=fn%>" ></script>
  <%   end 
     end %>

  <script>
  window.onerror = function(message, source, lineno, colno, error) {
    var details;
    if (error) details = error.stack;
    $.ajax({url: '/client_logs', type: 'POST', data: {msg: message, error: navigator.userAgent, details: details}});
  };

  _fpa.status = {
    controller: '<%= controller_name %>',
    action: '<%= action_name %>'
  };
  </script>
  <%= render partial: "layouts/setup_app" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <style><%= template_block("ui page css - #{current_user&.app_type&.name}", markdown_to_html: false)&.html_safe %></style>
  <script><%= template_block("ui page js - #{current_user&.app_type&.name}", markdown_to_html: false)&.html_safe %></script>
</head>
<body <%= body_classes %> id="body-top">
    <%= render partial: 'layouts/browser_check' %>
    <%= render partial: 'layouts/navbar/navbar' if @navbar_ready%>
    <%= render partial: 'layouts/flash_alerts' %>    
<%= yield %>
  <%= render partial: 'layouts/help_sidebar' %>
  <div class="print-preparing">
    <div class="print-preparing-banner">
      <h4>
        Loading full record information for printing
      </h4>
      <p>
        <span class="print-running glyphicon glyphicon-refresh"></span>
      </p>
    </div>
  </div>
  <script>
    _fpa.translations = <%= YAML.load_file(Rails.root.join('config', 'locales', "#{I18n.locale}.yml")).to_json.html_safe %>;
    _fpa.locale_t = _fpa.translations[_fpa.current_locale];
  </script>
  <%= render partial: 'layouts/bootstrap_modal' %>
  <%= render partial: 'layouts/bootstrap_modal' %>
  <script id="flash_template" type="text/x-handlebars-template" class="handlebars-template">
    {{#if message}}
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{message}}
    </div>
    {{/if}}
  </script>
</body>
</html>
